workflows/01_my_workflows/01_news_wechat/n8n_ai_news_cron_github_robust_v2.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "0f6570a8-f175-4ff6-a241-d3573ce51269",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1328,
        256
      ]
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const CFG = {\n  QUERY: '(AI OR \\'large language model\\' OR LLM OR 生成式) AND (research OR benchmark OR safety OR eval OR regulation)',\n  LANGUAGE: 'en',\n  FROM_DAYS: 7,\n  MAX_ARTICLES: 100,\n  TAKE_TOP: 30,\n  OPENAI_CHAT: 'gpt-4o-mini',\n  OPENAI_IMAGE: 'gpt-image-1',\n  COVER_SIZE: '1024x576',\n  BODY_SIZE: '1024x1024',\n  BRAND: {\n    palette: ['#0F172A','#22D3EE','#A78BFA'],\n    style: 'editorial illustration, semi-flat, clean, minimal, soft lighting',\n    negatives: 'text, watermark, logo, brand, people, realistic faces, hands, busy background'\n  }\n};\nCFG.FROM_ISO = new Date(Date.now() - CFG.FROM_DAYS*24*60*60*1000).toISOString();\nreturn [{json: CFG}];\n"
      },
      "id": "19cfee95-4ee2-4b30-829f-3ea8e88c72a4",
      "name": "SetConfig",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1040,
        256
      ],
      "notesInFlow": true,
      "notes": "ENV: NEWSAPI_KEY, OPENAI_API_KEY, GITHUB_TOKEN, GITHUB_OWNER, GITHUB_REPO, (optional) GITHUB_BRANCH"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?apiKey=ea6cb051d8234eb390a8289224733bab",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$json.QUERY}}"
            },
            {
              "name": "language",
              "value": "={{$json.LANGUAGE || 'en'}}"
            },
            {
              "name": "pageSize",
              "value": "={{ String($json.MAX_ARTICLES || 100) }}"
            },
            {
              "name": "sortBy",
              "value": "relevancy"
            },
            {
              "name": "from",
              "value": "={{$json.FROM_ISO}}"
            }
          ]
        },
        "options": {}
      },
      "id": "87a9ba43-ecc4-4c53-9876-b8f3228a7505",
      "name": "NewsFetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -768,
        256
      ],
      "headerParametersUi": {
        "parameter": [
          {
            "name": "X-Api-Key",
            "value": "={{$env.NEWSAPI_KEY}}"
          }
        ]
      },
      "notesInFlow": true,
      "notes": "Query parameters driven by SetConfig to avoid invalid URL"
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const cfgItem = $items('SetConfig', 0, 0) || { json: {} };\nconst cfg = cfgItem.json || {};\nconst takeTop = Number(cfg.TAKE_TOP || 30);\nconst articles = (items[0].json.articles || []).map(a => ({\n  title: a.title, url: a.url, description: a.description || '',\n  content: a.content || '', author: a.author || '',\n  source: (a.source && a.source.name) || '', publishedAt: a.publishedAt || ''\n})).filter(a => a.title && a.url);\nfunction host(u){ try { return new URL(u).hostname.replace(/^www\\./,''); } catch { return ''; } }\nfunction hours(iso){ return Math.max(1,(Date.now()-new Date(iso||Date.now()).getTime())/36e5); }\nfunction recency(h){ if(h<=24) return 20; if(h<=48) return 14; if(h<=168) return 9; return 3; }\nfunction depth(text){ const l=text.length; let s=l>8000?18:l>4000?14:l>1500?10:l>800?7:4; if(/arxiv|doi|github|sec\\./i.test(text)) s+=2; return Math.min(20,s); }\nfunction srcScore(hn){ return /arxiv|nature|sciencedirect|reuters|bloomberg|ft|nytimes|semianalysis|alignmentforum|lesswrong|theverge|techcrunch/i.test(hn)?30:18; }\nfunction originality(t){ return /exclusive|interview|whitepaper|benchmark|replicate|ablations?/i.test(t)?8:4; }\nfunction author(a){ return a ? (a.includes(' ')?12:8) : 3; }\nfunction score(a){\n  const txt = `${a.title}\\n${a.description}\\n${a.content}`;\n  return Math.round(0.35*srcScore(host(a.url)) + 0.20*recency(hours(a.publishedAt)) + 0.20*depth(txt) + 0.10*originality(txt) + 0.15*author(a.author));\n}\nconst buckets = new Map();\nfor (const a of articles){\n  const key=(a.title||'').toLowerCase().replace(/[^\\w\\s]/g,' ').replace(/\\s+/g,' ').trim();\n  const s=score(a);\n  const j={...a, QualityScore:s, host:host(a.url)};\n  if(!buckets.has(key)) buckets.set(key,[]);\n  buckets.get(key).push(j);\n}\nlet kept=[];\nfor (const [,group] of buckets){ group.sort((x,y)=>y.QualityScore-x.QualityScore); kept.push(group[0]); }\nkept.sort((a,b)=>b.QualityScore-a.QualityScore);\nif (!kept.length) {\n  throw new Error('No NewsAPI candidates returned for current configuration');\n}\nconst takeCount = Math.min(takeTop, kept.length);\nkept = kept.slice(0, takeCount);\nconst primary = kept[0];\nconst related = kept.slice(1, 4);\nreturn [{json:{primary, related, candidates: kept}}];\n"
      },
      "id": "d52bf12f-6dca-4cc3-9b5d-f2f014a95cd1",
      "name": "ScoreSelect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -512,
        256
      ],
      "notesInFlow": true,
      "notes": "Scoring + de-dup + take top N"
    },
    {
      "parameters": {
        "url": "={{ 'https://r.jina.ai/http://' + $json.primary.url.replace(/^https?:\\/\\//,'') }}",
        "options": {}
      },
      "id": "a8017dd5-63eb-40db-ad17-08805097ce22",
      "name": "ReadPrimary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -240,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $('SetConfig').item.json.OPENAI_CHAT }}"
            }
          ]
        },
        "options": {},
        "bodyParametersJson": "={{ (() => {\n  const cfgItem = $items('SetConfig', 0, 0) || { json: {} };\n  const cfg = cfgItem.json || {};\n  const brand = cfg.BRAND || {};\n  const primary = $json.primary || {};\n  const related = Array.isArray($json.related) ? $json.related : [];\n  const relatedLines = related.length ? related.map(r => `- ${r.title || ''} (${r.url || ''})`).join('\\n') : '- 无参考';\n  const primaryTextItem = $items('ReadPrimary', 0, 0) || { json: '' };\n  const articleTextRaw = primaryTextItem.json;\n  const articleText = typeof articleTextRaw === 'string' ? articleTextRaw : JSON.stringify(articleTextRaw || '');\n  const palette = Array.isArray(brand.palette) ? brand.palette : [];\n  const brandBlock = `BRAND: palette=${JSON.stringify(palette)}, style=${brand.style || ''}, negatives=${brand.negatives || ''}`;\n  const systemMessage = '你是分析师与评论员。输出一个 JSON：{markdown, prompts}；markdown=中文Markdown 1200-1600字；prompts=长度4数组：封面+3个关键观点图像提示（包含构图/隐喻/2-3主色/风格标记，禁止真实人物/商标）。风格与色板来自提供的 BRAND。';\n  const userMessage = `主要文章：${primary.title || ''}\\n来源：${primary.source || ''}\\n链接：${primary.url || ''}\\n发布时间：${primary.publishedAt || ''}\\n作者：${primary.author || ''}\\n摘要：${primary.description || ''}\\n\\n正文全文（若缺失请谨慎）：\\n${articleText}\\n\\n相关参考（仅标题与链接）：\\n${relatedLines}\\n\\n${brandBlock}`;\n  const payload = {\n    model: cfg.OPENAI_CHAT || 'gpt-4o-mini',\n    temperature: 0.4,\n    response_format: { type: 'json_object' },\n    messages: [\n      { role: 'system', content: systemMessage },\n      { role: 'user', content: userMessage }\n    ]\n  };\n  return JSON.stringify(payload);\n})() }}"
      },
      "id": "93eb4a98-ce59-4508-bc64-802dced7d0cd",
      "name": "OpenAICompose",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        16,
        144
      ],
      "headerParametersUi": {
        "parameter": [
          {
            "name": "Authorization",
            "value": "={{'Bearer ' + $env.OPENAI_API_KEY}}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ]
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "Vy2b5M08f6ofHbxg",
          "name": "Bearer-openai"
        }
      }
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const choices = Array.isArray($json.choices) ? $json.choices : [];\nfunction extractText(entry) {\n  if (!entry) return '';\n  const content = entry.message?.content;\n  if (Array.isArray(content)) {\n    return content.map(part => {\n      if (typeof part === 'string') return part;\n      if (typeof part?.text === 'string') return part.text;\n      if (typeof part?.value === 'string') return part.value;\n      if (typeof part === 'object') {\n        if (typeof part?.content === 'string') return part.content;\n        if (typeof part?.content?.text === 'string') return part.content.text;\n      }\n      return '';\n    }).join('').trim();\n  }\n  if (typeof content === 'string') return content;\n  return '';\n}\nconst combined = choices\n  .map(extractText)\n  .filter(Boolean)\n  .join('\n')\n  .trim();\nlet payload = { markdown: '', prompts: [] };\nif (combined) {\n  try {\n    payload = JSON.parse(combined);\n  } catch (error) {\n    const match = combined.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try {\n        payload = JSON.parse(match[0]);\n      } catch (innerError) {\n        payload = { markdown: combined, prompts: [] };\n      }\n    } else {\n      payload = { markdown: combined, prompts: [] };\n    }\n  }\n}\nreturn [{ json: { payload, raw: combined } }];\n"
      },
      "id": "5a3e2f4a-df23-4fd4-82dc-dfdcaa772d6b",
      "name": "ParseLLMPayload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        160,
        144
      ],
      "notesInFlow": true,
      "notes": "Normalize OpenAI content arrays into structured payload"
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const cfgItem = $items('SetConfig', 0, 0) || { json: {} };\nconst cfg = cfgItem.json || {};\nconst parseItem = $items('ParseLLMPayload', 0, 0) || { json: {} };\nconst payload = parseItem.json ? (parseItem.json.payload || {}) : {};\nconst prompts = Array.isArray(payload.prompts) ? payload.prompts.filter(p => typeof p === 'string' && p.trim()) : [];\nif (!prompts.length) {\n  throw new Error('LLM response did not provide image prompts');\n}\nconst coverSize = cfg.COVER_SIZE || '1024x576';\nconst bodySize = cfg.BODY_SIZE || '1024x1024';\nconst slots = prompts.slice(0, 4).map((prompt, idx) => ({\n  role: idx === 0 ? 'cover' : `keypoint${idx}`,\n  prompt: prompt.trim(),\n  size: idx === 0 ? coverSize : bodySize\n}));\nreturn slots.map(slot => ({ json: slot }));\n"
      },
      "id": "30c0793a-8fad-46ec-9572-80d85a992b0c",
      "name": "MakeImageJobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        288,
        144
      ],
      "notesInFlow": true,
      "notes": "Create image jobs using parsed payload"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "1a682b51-93aa-4241-ac44-77e402a1ce7e",
      "name": "Split",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        496,
        64
      ],
      "notesInFlow": true,
      "notes": "Output 1 -> GenImage; Output 2 -> AssembleMD"
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const images = $items('CollectImgs', 0, 0, { returnAll: true }).map(item => item.json);\nreturn [{ json: { generated: images.length, images } }];\n"
      },
      "id": "b20a0591-2752-453a-a74a-6d53408c063f",
      "name": "FinalizeImages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        624,
        256
      ],
      "notesInFlow": true,
      "notes": "Emit once after image loop completes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "037901cf-83d1-41f3-98d0-dd38b8f08ada",
      "name": "GenImage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        768,
        64
      ],
      "headerParametersUi": {
        "parameter": [
          {
            "name": "Authorization",
            "value": "={{'Bearer ' + $env.OPENAI_API_KEY}}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ]
      }
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const previousItems = $items('CollectImgs', 0, 0, { returnAll: true }) || [];\nconst previous = previousItems.map(item => item.json).filter(Boolean);\nconst response = items[0] ? (items[0].json || {}) : {};\nconst dataArray = Array.isArray(response.data) ? response.data : [];\nconst dataEntry = dataArray.length ? (dataArray[0] || {}) : {};\nlet imageRef = dataEntry.url || dataEntry.b64_json || null;\nif (imageRef && !/^https?:\\/\\//i.test(imageRef)) {\n  imageRef = 'data:image/png;base64,' + String(imageRef).replace(/\\s+/g, '');\n}\nconst splitItem = $items('Split', 0, 0) || { json: {} };\nconst slot = splitItem.json || {};\nconst record = {\n  role: slot.role,\n  size: slot.size,\n  prompt: slot.prompt,\n  url: imageRef\n};\nconst payload = [...previous.filter(entry => entry.role !== record.role), record];\nreturn payload.map((entry, index) => ({ json: { ...entry, index } }));\n"
      },
      "id": "bf5a6cdf-0322-4b3b-b434-6678c334f122",
      "name": "CollectImgs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1024,
        64
      ],
      "notesInFlow": true,
      "notes": "Accumulate generated image references"
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const parseItem = $items('ParseLLMPayload', 0, 0) || { json: {} };\nconst payload = parseItem.json ? (parseItem.json.payload || {}) : {};\nconst markdown = payload.markdown || '';\nconst collectItems = $items('CollectImgs', 0, 0, { returnAll: true }) || [];\nconst imgs = collectItems.map(item => item.json).filter(Boolean);\nconst byRole = Object.fromEntries(imgs.filter(img => img && img.role).map(img => [img.role, img]));\nlet output = '';\nconst cover = byRole.cover;\nif (cover && cover.url) {\n  output += `![\\u5c01\\u9762](${cover.url})\\n\\n`;\n}\noutput += markdown.trim();\nconst keypoints = Object.keys(byRole).filter(role => role.startsWith('keypoint')).sort();\nif (keypoints.length) {\n  output += '\\n';\n  keypoints.forEach((role, idx) => {\n    const image = byRole[role];\n    if (image && image.url) {\n      const label = image.prompt ? image.prompt.slice(0, 80) : `\\u56fe ${idx + 1}`;\n      output += `\\n![${label}](${image.url})\\n`;\n    }\n  });\n}\nreturn [{ json: { markdown: output.trim() } }];\n"
      },
      "id": "c015ea2f-9fc3-49d1-b4ef-61ef6d3022e5",
      "name": "AssembleMD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1280,
        64
      ]
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "function slugify(s){return (s||'ai-commentary').toLowerCase().replace(/[^a-z0-9\\u4e00-\\u9fa5]+/g,'-').replace(/^-+|-+$/g,'').slice(0,60)||'ai';}\nconst assembleItem = $items('AssembleMD',0,0) || { json: {} };\nconst markdown = assembleItem.json.markdown || '';\nconst scoreItem = $items('ScoreSelect',0,0) || { json: {} };\nconst fallbackTitle = scoreItem.json.primary ? (scoreItem.json.primary.title || 'AI 评论') : 'AI 评论';\nconst titleMatch = markdown.match(/^#\\s*(.+)$/m);\nconst title = titleMatch ? titleMatch[1] : fallbackTitle;\nconst d = new Date(); const yyyy=d.getFullYear(), mm=String(d.getMonth()+1).padStart(2,'0'), dd=String(d.getDate()).padStart(2,'0');\nconst filepath = `content/${yyyy}-${mm}-${dd}-${slugify(title)}.md`;\nconst content = Buffer.from(markdown,'utf8').toString('base64');\nconst message = `feat(post): ${yyyy}-${mm}-${dd} ${title}`;\nreturn [{json:{filepath, content, message}}];\n"
      },
      "id": "cf09e2ad-d261-40e8-84da-bbfbfc9059f9",
      "name": "PrepareCommit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1536,
        64
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "{{'https://api.github.com/repos/' + $env.GITHUB_OWNER + '/' + $env.GITHUB_REPO + '/contents/' + $json.filepath}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "71493dc7-77e2-4ee4-8123-7d6d2ae4f184",
      "name": "GitHubPush",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1808,
        64
      ],
      "headerParametersUi": {
        "parameter": [
          {
            "name": "Authorization",
            "value": "={{'Bearer ' + $env.GITHUB_TOKEN}}"
          },
          {
            "name": "Accept",
            "value": "application/vnd.github+json"
          }
        ]
      }
    }
  ],
  "pinData": {
    "Cron": [
      {
        "json": {}
      }
    ],
    "SetConfig": [
      {
        "json": {
          "QUERY": "(AI OR 'large language model' OR LLM OR 生成式) AND (research OR benchmark OR safety OR eval OR regulation)",
          "LANGUAGE": "en",
          "FROM_DAYS": 7,
          "MAX_ARTICLES": 100,
          "TAKE_TOP": 30,
          "OPENAI_CHAT": "gpt-4o-mini",
          "OPENAI_IMAGE": "gpt-image-1",
          "COVER_SIZE": "1024x576",
          "BODY_SIZE": "1024x1024",
          "BRAND": {
            "palette": [
              "#0F172A",
              "#22D3EE",
              "#A78BFA"
            ],
            "style": "editorial illustration, semi-flat, clean, minimal, soft lighting",
            "negatives": "text, watermark, logo, brand, people, realistic faces, hands, busy background"
          },
          "FROM_ISO": "2025-09-16T17:00:22.868Z"
        }
      }
    ],
    "NewsFetch": [
      {
        "json": {
          "status": "ok",
          "totalResults": 1084,
          "articles": [
            {
              "source": {
                "id": "wired",
                "name": "Wired"
              },
              "author": "Amos Zeeberg",
              "title": "Distillation Can Make AI Models Smaller and Cheaper",
              "description": "A fundamental technique lets researchers use a big, expensive model to train another model for less.",
              "url": "https://www.wired.com/story/how-distillation-makes-ai-models-smaller-and-cheaper/",
              "urlToImage": "https://media.wired.com/photos/68ca9371156a7f15ecfea1d5/191:100/w_1280,c_limit/Distillation-Explainer-crNico-H.-Brausch-Lede.jpeg",
              "publishedAt": "2025-09-20T11:00:00Z",
              "content": "The original version ofthis storyappeared inQuanta Magazine.\r\nThe Chinese AI company DeepSeek released a chatbot earlier this year called R1, which drew a huge amount of attention. Most of it focused… [+6022 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Gizmodo.com"
              },
              "author": "AJ Dellinger",
              "title": "Anthropic Wants to Be the One Good AI Company in Trump’s America",
              "description": "It put limits on law enforcement usage and backed an AI safety bill. Just ignore the whole pirating a bunch of books thing.",
              "url": "https://gizmodo.com/anthropic-wants-to-be-the-one-good-ai-company-in-trumps-america-2000660193",
              "urlToImage": "https://gizmodo.com/app/uploads/2025/09/GettyImages-2233758055-1200x675.jpg",
              "publishedAt": "2025-09-17T20:30:34Z",
              "content": "Anthropic, the artificial intelligence company behind the chatbot Claude, is trying to carve out a spot as the Good Guy in the AI space. Fresh off being the only major AI firm to throw its support be… [+4076 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Slashdot.org"
              },
              "author": "msmash",
              "title": "AI Tool Detects LLM-Generated Text in Research Papers and Peer Reviews",
              "description": "An analysis of tens of thousands of research-paper submissions has shown a dramatic increase in the presence of text generated using AI in the past few years, an academic publisher has found. Nature: The American Association for Cancer Research (AACR) found t…",
              "url": "https://slashdot.org/story/25/09/19/1750226/ai-tool-detects-llm-generated-text-in-research-papers-and-peer-reviews",
              "urlToImage": "https://a.fsdn.com/sd/topics/ai_64.png",
              "publishedAt": "2025-09-19T18:01:00Z",
              "content": "The American Association for Cancer Research (AACR) found that 23% of abstracts in manuscripts and 5% of peer-review reports submitted to its journals in 2024 contained text that was probably generat… [+631 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "CNET"
              },
              "author": "Jon Reed",
              "title": "These AI Chatbots Shouldn't Have Given Me Gambling Advice. They Did Anyway",
              "description": "Language models have safety protocols designed to keep you from getting harmful responses. I saw how easily they can break down.",
              "url": "https://www.cnet.com/tech/services-and-software/these-ai-chatbots-shouldnt-have-given-me-gambling-advice-they-did-anyway/",
              "urlToImage": "https://www.cnet.com/a/img/resize/c295392946af4f650200751f429bafaf54c386cc/hub/2025/09/19/7952fff3-862d-4947-ae9a-76ac5fb3cc49/gettyimages-2235105726.jpg?auto=webp&fit=crop&height=675&width=1200",
              "publishedAt": "2025-09-20T11:12:03Z",
              "content": "In early September, at the start of the college football season, ChatGPT and Gemini suggested I consider betting on Ole Miss to cover a 10.5-point spread against Kentucky. That was bad advice. Not ju… [+10889 chars]"
            },
            {
              "source": {
                "id": "business-insider",
                "name": "Business Insider"
              },
              "author": "Lakshmi Varanasi",
              "title": "OpenAI says its AI models are schemers that could cause 'serious harm' in the future. Here's its solution.",
              "description": "OpenAI says its AI models are prone to secretly break the rules and is testing ways to prevent it before AI becomes more powerful.",
              "url": "https://www.businessinsider.com/openai-chatgpt-scheming-harm-solution-2025-9",
              "urlToImage": "https://i.insider.com/68cb1c7a183847aa39d6f9fc?width=1200&format=jpeg",
              "publishedAt": "2025-09-18T13:24:36Z",
              "content": "Sam Altman, the CEO of OpenAI, said Meta tried to recruit his employees by offering them $100 million signing bonuses.Jakub Porzycki/NurPhoto via Getty Images\r\n<ul><li>OpenAI says its AI models tend … [+2831 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Schneier.com"
              },
              "author": "Bruce Schneier",
              "title": "Time-of-Check Time-of-Use Attacks Against LLMs",
              "description": "This is a nice piece of research: “Mind the Gap: Time-of-Check to Time-of-Use Vulnerabilities in LLM-Enabled Agents“.:\nAbstract: Large Language Model (LLM)-enabled agents are rapidly emerging across a wide range of applications, but their deployment introduce…",
              "url": "https://www.schneier.com/blog/archives/2025/09/time-of-check-time-of-use-attacks-against-llms.html",
              "urlToImage": null,
              "publishedAt": "2025-09-17T15:58:11Z",
              "content": "This is a nice piece of research: “Mind the Gap: Time-of-Check to Time-of-Use Vulnerabilities in LLM-Enabled Agents“.:\nAbstract: Large Language Model (LLM)-enabled agents are rapidly emerging across … [+1353 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Slashdot.org"
              },
              "author": "msmash",
              "title": "OpenAI Says Models Programmed To Make Stuff Up Instead of Admitting Ignorance",
              "description": "AI models often produce false outputs, or \"hallucinations.\" Now OpenAI has admitted they may result from fundamental mistakes it makes when training its models. The Register: The admission came in a paper [PDF] published in early September, titled \"Why Langua…",
              "url": "https://slashdot.org/story/25/09/17/1724241/openai-says-models-programmed-to-make-stuff-up-instead-of-admitting-ignorance",
              "urlToImage": "https://a.fsdn.com/sd/topics/ai_64.png",
              "publishedAt": "2025-09-17T17:28:00Z",
              "content": "The admission came in a paper[PDF] published in early September, titled \"Why Language Models Hallucinate,\" and penned by three OpenAI researchers and Santosh Vempala, a distinguished professor of com… [+835 chars]"
            },
            {
              "source": {
                "id": "wired",
                "name": "Wired"
              },
              "author": "Zeyi Yang",
              "title": "China Turns Legacy Chips Into a Trade Weapon",
              "description": "As Washington pushes for a TikTok deal, Beijing is countering with probes into American chipmakers.",
              "url": "https://www.wired.com/story/china-probe-us-chip-makers-tiktok-deal/",
              "urlToImage": "https://media.wired.com/photos/68cb4d9a4eff22d3bcf77ce9/191:100/w_1280,c_limit/Made-in-China-China-Probes-US-Chip-Companies-Business.jpg",
              "publishedAt": "2025-09-18T15:00:00Z",
              "content": "While the Trump administration was trying to make a TikTok deal happen during a meeting with China last weekend, Beijing was busy adding its own bargaining chips to the table. Actual chips, in factse… [+3830 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Github.com"
              },
              "author": "hiyouga",
              "title": "Llama-Factory: Unified, Efficient Fine-Tuning for 100 Open LLMs",
              "description": "Unified Efficient Fine-Tuning of 100+ LLMs & VLMs (ACL 2024) - hiyouga/LLaMA-Factory",
              "url": "https://github.com/hiyouga/LLaMA-Factory",
              "urlToImage": "https://repository-images.githubusercontent.com/646410686/ccb14d87-7454-4e82-a85c-f1f63a3c1ccb",
              "publishedAt": "2025-09-18T23:48:48Z",
              "content": "Join our WeChat, NPU, Lab4AI, LLaMA Factory Online user group.\r\n[ English | ]\r\nFine-tuning a large language model can be easy as...\r\ntrain_en.mp4\r\nChoose your path:\r\nNote\r\nExcept for the above links,… [+34688 chars]"
            },
            {
              "source": {
                "id": "wired",
                "name": "Wired"
              },
              "author": "Jennifer Ouellette, Ars Technica",
              "title": "Say Hello to the 2025 Ig Nobel Prize Winners",
              "description": "The annual award ceremony features miniature operas, scientific demos, and 24/7 lectures.",
              "url": "https://www.wired.com/story/say-hello-to-the-2025-ig-nobel-prize-winners/",
              "urlToImage": "https://media.wired.com/photos/68cd733ee3a49260f6524223/191:100/w_1280,c_limit/GettyImages-585875584.jpg",
              "publishedAt": "2025-09-20T10:00:00Z",
              "content": "Does alcohol enhance ones foreign language fluency? Do West African lizards have a preferred pizza topping? And can painting cows with zebra stripes help repel biting flies? These and other unusual r… [+2510 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Gizmodo.com"
              },
              "author": "AJ Dellinger",
              "title": "We Finally Know How Much It Cost to Train China’s Astonishing DeepSeek Model",
              "description": "It's a little bit more than pocket change, but just a little.",
              "url": "https://gizmodo.com/we-finally-know-how-much-it-cost-to-train-chinas-astonishing-deepseek-model-2000660820",
              "urlToImage": "https://gizmodo.com/app/uploads/2025/01/DeepSeekSuckDown-1200x675.jpg",
              "publishedAt": "2025-09-18T18:25:37Z",
              "content": "Remember when DeepSeek briefly shook up the entire artificial intelligence industry by launching its large language model, R1, that was trained for a fraction of the money that OpenAI and other big p… [+3075 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Internet"
              },
              "author": "info@thehackernews.com (The Hacker News)",
              "title": "Researchers Uncover GPT-4-Powered MalTerminal Malware Creating Ransomware, Reverse Shell",
              "description": "Cybersecurity researchers have discovered what they say is the earliest example known to date of a malware with that bakes in Large Language Model (LLM) capabilities.\nThe malware has been codenamed MalTerminal by SentinelOne SentinelLABS research team. The fi…",
              "url": "https://thehackernews.com/2025/09/researchers-uncover-gpt-4-powered.html",
              "urlToImage": "https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhYfi5Bp9cOMPmi3Gk7C5lclsTXBJR-A4RnIMXwk49g5eDdG0k_D3Ah5wOoeVrw-5rJoXMHM74-ytsLunc8CzSgOFoiQYMXr7kBla8vDNfxlgBSD66wLzwYGZrKUk9lBS_VTdWcD-iBIO8av_qTaoObW-D6dnneWQiJSbCNgmWAceLrZjtFQvkhxlHM6kRp/s728-rw-e365/hacker-ai-malware.jpg",
              "publishedAt": "2025-09-20T05:48:00Z",
              "content": "Cybersecurity researchers have discovered what they say is the earliest example known to date of a malware with that bakes in Large Language Model (LLM) capabilities.\r\nThe malware has been codenamed … [+4921 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "BBC News"
              },
              "author": null,
              "title": "Zebra cows and Teflon food win tongue-in-cheek science awards",
              "description": "The tongue-in-cheek scientific awards also recognise research into lizard's preferred pizza and garlicky breastmilk.",
              "url": "https://www.bbc.com/news/articles/crkjzxrrkd5o",
              "urlToImage": "https://ichef.bbci.co.uk/news/1024/branded_news/5009/live/4f4e1d10-9535-11f0-84c8-99de564f0440.jpg",
              "publishedAt": "2025-09-19T09:08:13Z",
              "content": "Tomoki Kojima was attacked with fake flies until he revealed he was wearing a zebra-print shirt during his acceptance speech\r\nA plan to reduce calorie intake by adding Teflon to food and painting cow… [+3737 chars]"
            },
            {
              "source": {
                "id": "business-insider",
                "name": "Business Insider"
              },
              "author": "Rebecca Torrence",
              "title": "The billion-dollar rivalry over 'ChatGPT for doctors' just got nastier with dueling lawsuits",
              "description": "Doximity is countersuing hot healthcare startup OpenEvidence after OpenEvidence claimed in June Doximity tried to steal the startup's AI prompts.",
              "url": "https://www.businessinsider.com/doximity-openevidence-suing-each-other-as-doctor-ai-war-rages-2025-9",
              "urlToImage": "https://i.insider.com/68cad226f9db348adc0ba3bb?width=1200&format=jpeg",
              "publishedAt": "2025-09-17T21:52:46Z",
              "content": "Doximity just filed a new lawsuit against OpenEvidence, escalating the heated legal battle between two multibillion-dollar healthcare companies racing to build \"ChatGPT for doctors.\"\r\nOpenEvidence, a… [+6496 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Slashdot.org"
              },
              "author": "BeauHD",
              "title": "DeepSeek Writes Less-Secure Code For Groups China Disfavors",
              "description": "Research shows China's top AI firm DeepSeek gives weaker or insecure code when programmers identify as linked to Falun Gong or other groups disfavored by Beijing. It offers higher-quality results to everyone else. \"The findings ... underscore how politics sha…",
              "url": "https://slashdot.org/story/25/09/17/2123211/deepseek-writes-less-secure-code-for-groups-china-disfavors",
              "urlToImage": "https://a.fsdn.com/sd/topics/ai_64.png",
              "publishedAt": "2025-09-18T01:25:00Z",
              "content": "Research shows China's top AI firm DeepSeek gives weaker or insecure code when programmers identify as linked to Falun Gong or other groups disfavored by Beijing. It offers higher-quality results to … [+2437 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Gizmodo.com"
              },
              "author": "Gayoung Lee",
              "title": "Pasta Sauce Physics, Eating Teflon, and Drunk Bats: The 2025 Ig Nobel Prizes Celebrate the Joy of Offbeat Science",
              "description": "Like its theme, “digestion,” the 35th Ig Nobel prizes will make you laugh and think hard to digest the meaning of all the silly yet remarkable science.",
              "url": "https://gizmodo.com/2025-ig-nobel-prizes-2000661425",
              "urlToImage": "https://gizmodo.com/app/uploads/2025/09/ig-nobel-prizes-2025-1200x675.jpg",
              "publishedAt": "2025-09-19T16:41:25Z",
              "content": "The 2025 Nobel Prizes will be announced in early October. But if youre like me, a science aficionado with an insatiable desire for ridiculous, intelligent research, yesterdays parody of the prestigio… [+2869 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "CNET"
              },
              "author": "Tyler Lacoma",
              "title": "New Bill Aims to Block Both Online Adult Content and VPNs",
              "description": "A proposed bill in Michigan has a broad reach that covers everything from adult AI content to manga and even depictions of transgender people. It includes a VPN ban to avoid workarounds.",
              "url": "https://www.cnet.com/tech/services-and-software/new-bill-aims-to-block-both-online-adult-content-and-vpns/",
              "urlToImage": "https://www.cnet.com/a/img/resize/66f706e908cf51633738dd25f2131cd5b2ad72bd/hub/2025/09/17/04c074bf-23aa-4059-ab05-40dd338bb5b4/gettyimages-1445859377.jpg?auto=webp&fit=crop&height=675&width=1200",
              "publishedAt": "2025-09-17T21:21:00Z",
              "content": "If you live in Michigan, you might not be able to legally use a VPN soon if a new bill is passed into law. On Sept. 11, Michigan Republican representatives proposed far-reaching legislation banning a… [+1923 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "BBC News"
              },
              "author": null,
              "title": "AI can forecast your future health – just like the weather",
              "description": "An artificial intelligence model can predict the risk of more than 1,000 diseases, a team of scientists say.",
              "url": "https://www.bbc.com/news/articles/cx2pj502ev6o",
              "urlToImage": "https://ichef.bbci.co.uk/news/1024/branded_news/3f91/live/56711b40-93a7-11f0-afac-7fc88e0d02fd.jpg",
              "publishedAt": "2025-09-17T15:19:58Z",
              "content": "James GallagherHealth and science correspondent\r\nResearchers developed the code for the AI model which looks for patterns in people's medical records\r\nArtificial intelligence can predict people's hea… [+4420 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Smashingmagazine.com"
              },
              "author": "hello@smashingmagazine.com (Victor Yocco)",
              "title": "The Psychology Of Trust In AI: A Guide To Measuring And Designing For User Confidence",
              "description": "With digital products moving to incorporate generative and agentic AI at an increasingly frequent rate, trust has become the invisible user interface. When it works, interactions feel seamless. When it fails, the entire experience collapses. But trust isn’t m…",
              "url": "https://www.smashingmagazine.com/2025/09/psychology-trust-ai-guide-measuring-designing-user-confidence/",
              "urlToImage": "https://files.smashing.media/articles/psychology-trust-ai-guide-measuring-designing-user-confidence/psychology-trust-ai-guide-measuring-designing-user-confidence.jpg",
              "publishedAt": "2025-09-19T10:00:00Z",
              "content": "Misuse and misplaced trust of AI is becoming an unfortunate common event. For example, lawyers trying to leverage the power of generative AI for research submit court filings citing multiple compelli… [+28850 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Github.com"
              },
              "author": "scaleapi",
              "title": "SWE-Bench Pro",
              "description": "SWE-Bench Pro: Can AI Agents Solve Long-Horizon Software Engineering Tasks? - scaleapi/SWE-bench_Pro-os",
              "url": "https://github.com/scaleapi/SWE-bench_Pro-os",
              "urlToImage": "https://opengraph.githubassets.com/4d4c1c0ef1ab4493dd6558da76ea7c1f74071b8b9d30a87b029758ac84e0b129/scaleapi/SWE-bench_Pro-os",
              "publishedAt": "2025-09-22T16:08:57Z",
              "content": "Code and data for the following works:\r\nSWE-Bench Pro is a challenging benchmark evaluating LLMs/Agents on long-horizon software engineering tasks.\r\nGiven a codebase and an issue, a language model is… [+1847 chars]"
            },
            {
              "source": {
                "id": "business-insider",
                "name": "Business Insider"
              },
              "author": "Tess Martinelli",
              "title": "I use AI as my personal assistant, mindset coach, creative writing partner, and more. Here are the 5 tools that have changed my life.",
              "description": "A freelancer and entrepreneur shares how she doubled her income in six months and saves over 15 hours a week using five AI tools.",
              "url": "https://www.businessinsider.com/ai-tools-doubled-income-save-me-fifteen-hours-each-week-2025-9",
              "urlToImage": "https://i.insider.com/68cb0fca183847aa39d6f796?width=1200&format=jpeg",
              "publishedAt": "2025-09-19T09:16:02Z",
              "content": "Jessica Camilleri-Shelton says each AI tool has its own superpower, and ChatGPT isn't best for everything.Jessica Camilleri-Shelton\r\n<ul><li>Jessica Camilleri-Shelton doubled her income using AI in h… [+6161 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Yahoo Entertainment"
              },
              "author": "Eva Roytburg",
              "title": "Meta’s 28-year-old billionaire prodigy says the next Bill Gates will be a 13-year-old who is ‘vibe coding’ right now",
              "description": "Teenagers, Alexandr Wang argues, have a built-in edge.",
              "url": "https://tech.yahoo.com/ai/meta-ai/articles/meta-28-old-billionaire-prodigy-183717050.html",
              "urlToImage": "https://s.yimg.com/ny/api/res/1.2/RFA5.5g2wLnobzEWpMcCqA--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD04MDA-/https://media.zenfs.com/en/fortune_175/93d63e767b71dbe1018026cb85dfadb9",
              "publishedAt": "2025-09-19T18:37:17Z",
              "content": "Alexandr Wang who became the worlds youngest self-made billionaire at 24 is now, at 28, running one of the most ambitious AI efforts in Silicon Valley. In his first 60 days at Meta, he built a 100-pe… [+4042 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Dayvster.com"
              },
              "author": "Dayvi Schuster",
              "title": "In Defense of C++",
              "description": "Why C++ remains a powerful and relevant programming language in today's tech landscape.",
              "url": "https://dayvster.com/blog/in-defense-of-cpp/",
              "urlToImage": "https://dayvster.com/default-cover.webp",
              "publishedAt": "2025-09-16T19:40:34Z",
              "content": "The Reputation of C++\r\nC++ has often and frequently been criticized for its complexity, steep learning curve, and most of all for its ability to allow the developers using it to not only shoot themse… [+13810 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Android Central"
              },
              "author": "Nicholas Sutrich",
              "title": "Ray-Ban Meta (Gen 2): Price, specs, styles, and everything you need to know",
              "description": "Ray-Ban Meta (Gen 2) smart glasses are a big upgrade on 2023's release, solving most of the original's shortcomings and adding thrilling new features.",
              "url": "https://www.androidcentral.com/wearables/ray-ban-meta-gen-2",
              "urlToImage": "https://cdn.mos.cms.futurecdn.net/Snrguf2JMgHMLS4Ji2uk4Y.jpg",
              "publishedAt": "2025-09-18T00:10:56Z",
              "content": "Ray-Ban Meta (Gen 2) is official! The 2025 smart glasses refresh was announced at Meta Connect 2025 and sports a shorter name along with plenty of styles to choose from.\r\nWith the Gen 2 name, it's cl… [+6355 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Substack.com"
              },
              "author": "Jeremy Berman",
              "title": "I got the highest score on ARC-AGI again swapping Python for English",
              "description": "Using Multi-Agent Collaboration with Evolutionary Test-Time Compute",
              "url": "https://jeremyberman.substack.com/p/how-i-got-the-highest-score-on-arc-agi-again",
              "urlToImage": "https://substackcdn.com/image/fetch/$s_!l8WZ!,w_1200,h_600,c_fill,f_jpg,q_auto:good,fl_progressive:steep,g_auto/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F80c9f541-3572-40b2-b5fe-a9aa80e57a6b_1774x1158.png",
              "publishedAt": "2025-09-17T01:53:47Z",
              "content": "I think ARC-AGI is still the most important benchmark we have today. Its surprising that LLMs can win the math olympiad but struggle with simple puzzles that humans can solve easily.\r\nThis highlights… [+9671 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Materializedview.io"
              },
              "author": "Chris",
              "title": "MCP Server Could Have Been a JSON File",
              "description": "There's a lot of buzz around MCP. I'm not convinced it needs to exist.",
              "url": "https://materializedview.io/p/mcp-server-could-have-been-json-file",
              "urlToImage": "https://substackcdn.com/image/fetch/$s_!6t25!,w_1200,h_600,c_fill,f_jpg,q_auto:good,fl_progressive:steep,g_auto/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2Fea4e5f0e-c391-4d40-88ab-9c6b23c1ff23_1024x1024.png",
              "publishedAt": "2025-09-20T04:07:12Z",
              "content": "Model context protocol (MCP) servers are very buzzy right now. The idea is simple: teach large language models (LLMs) how to interact with other software systems. In doing so, LLMs can learn from and… [+6592 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Scientific American"
              },
              "author": "Cody Cottier",
              "title": "Genetics Can Track How Languages Mixed in the Past",
              "description": "New research shows that wherever human populations mix, their languages blend as well",
              "url": "https://www.scientificamerican.com/article/genetics-can-track-how-languages-mixed-in-the-past/",
              "urlToImage": "https://static.scientificamerican.com/dam/m/47095522d30e65b6/original/speech_bubble_puzzle_pieces.jpg?m=1758220348.229&w=1200",
              "publishedAt": "2025-09-18T18:45:00Z",
              "content": "When speakers of different languages meet, their words, sounds and even grammatical structures mingle in surprising ways. Ketchup, for example, may be an American staple today, but its name entered E… [+5126 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Search Engine Journal"
              },
              "author": "Shelley Walsh",
              "title": "AI Platform Founder Explains Why We Need To Focus On Human Behavior, Not LLMs via @sejournal, @theshelleywalsh",
              "description": "In conversation with Shelley Walsh, Ray Grieselhuber explains why the grounding data matters and human behavior should be the focus of SEO\nThe post AI Platform Founder Explains Why We Need To Focus On Human Behavior, Not LLMs appeared first on Search Engine J…",
              "url": "https://www.searchenginejournal.com/ai-platform-founder-explains-why-we-need-to-focus-on-human-behavior-not-llms/556251/",
              "urlToImage": "https://www.searchenginejournal.com/wp-content/uploads/2025/09/imho_ray-1600-x-840-px-708.png",
              "publishedAt": "2025-09-18T11:30:43Z",
              "content": "Google has been doing what it always does, and that is to constantly iterate to try and retain the best product it can.\r\nLarge language models (LLMs) and generative AI chatbots are a new reality in S… [+7174 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Javacodegeeks.com"
              },
              "author": "Omozegie Aziegbe",
              "title": "Building an AI Agent in Java with the Embabel Framework",
              "description": "Artificial Intelligence (AI) is steadily moving from research labs into production systems, and developers are seeking frameworks that facilitate easier integration. Embabel is one such emerging framework that introduces a structured, type-safe way to bring L…",
              "url": "https://www.javacodegeeks.com/building-an-ai-agent-in-java-with-the-embabel-framework.html",
              "urlToImage": "https://www.javacodegeeks.com/wp-content/uploads/2012/10/spring-logo.jpg",
              "publishedAt": "2025-09-18T15:00:00Z",
              "content": "Artificial Intelligence (AI) is steadily moving from research labs into production systems, and developers are seeking frameworks that facilitate easier integration. Embabel is one such emerging fram… [+13741 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Search Engine Journal"
              },
              "author": "Duane Forrester",
              "title": "A Hidden Risk In AI Discovery: Directed Bias Attacks On Brands? via @sejournal, @DuaneForrester",
              "description": "Protecting your brand now means tracking how AI describes you, detecting bias campaigns, and building content anchors that resist manipulation.\nThe post A Hidden Risk In AI Discovery: Directed Bias Attacks On Brands? appeared first on Search Engine Journal.",
              "url": "https://www.searchenginejournal.com/a-hidden-risk-in-ai-discovery-directed-bias-attacks-on-brands/556179/",
              "urlToImage": "https://www.searchenginejournal.com/wp-content/uploads/2025/09/brand-bias-191.png",
              "publishedAt": "2025-09-18T13:30:09Z",
              "content": "Before we dig in, some context. What follows is hypothetical. I don’t engage in black-hat tactics, I’m not a hacker, and this isn’t a guide for anyone to try. I’ve spent enough time with search, doma… [+12761 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Dayvster.com"
              },
              "author": "Dayvi Schuster",
              "title": "Are We Chasing Language Hype over Solving Real Problems?",
              "description": "The Allure of New Languages vs. The Necessity of Problem-Solving",
              "url": "https://dayvster.com/blog/are-we-chasing-language-hype-over-solving-real-problems/",
              "urlToImage": "https://dayvster.com/default-cover.webp",
              "publishedAt": "2025-09-20T13:28:54Z",
              "content": "Intro\r\nAs you may have heard or seen, there is a bit of controversy around Ubuntu adopting a rewritten version of GNU Core Utils in Rust. This has sparked a lot of debate in the tech community. This … [+10669 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Arxiv.org"
              },
              "author": null,
              "title": "The Common Pile v0.1: An 8TB Dataset of Public Domain and Openly Licensed Text",
              "description": "Large language models (LLMs) are typically trained on enormous quantities of unlicensed text, a practice that has led to scrutiny due to possible intellectual property infringement and ethical concerns. Training LLMs on openly licensed text presents a first s…",
              "url": "https://arxiv.org/abs/2506.05209",
              "urlToImage": "https://arxiv.org/static/browse/0.3.4/images/arxiv-logo-fb.png",
              "publishedAt": "2025-09-19T10:22:54Z",
              "content": "arXivLabs is a framework that allows collaborators to develop and share new arXiv features directly on our website.\r\nBoth individuals and organizations that work with arXivLabs have embraced and acce… [+257 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Scientific American"
              },
              "author": "Rachel Feltman, Fonda Mwangi, Alex Sugiura",
              "title": "New Research Shows Gut Cells Communicate Directly with the Brain",
              "description": "Scientists are uncovering how your gut might be shaping your thoughts, feelings and cravings.",
              "url": "https://www.scientificamerican.com/podcast/episode/new-research-shows-gut-cells-communicate-directly-with-the-brain/",
              "urlToImage": "https://static.scientificamerican.com/dam/m/56b72855a9cc4b9b/original/2509_SQ_WED_GUT_HEALTH-Podcast-Span-Art.jpeg?m=1758049242.69&w=1200",
              "publishedAt": "2025-09-17T10:00:00Z",
              "content": "This episode was made possible by the support of Yakult and produced independently by Scientific American’s board of editors.\r\nRachel Feltman: For Scientific American’s Science Quickly, I’m Rachel Fe… [+12453 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "PCWorld"
              },
              "author": "Michael Crider",
              "title": "ChatGPT might ask adults for ID after teen suicides",
              "description": "Cases of “AI psychosis” are apparently on the rise, and multiple people have committed suicide after conversing with the ChatGPT large language model. That’s pretty horrible. Representatives of ChatGPT maker OpenAI are testifying before the US congress in res…",
              "url": "https://www.pcworld.com/article/2912205/chatgpt-might-ask-adults-for-id-after-teen-suicides.html",
              "urlToImage": "https://www.pcworld.com/wp-content/uploads/2025/09/5-chatgpt-8101650_1280.jpg?quality=50&strip=all&w=1024",
              "publishedAt": "2025-09-17T16:18:24Z",
              "content": "Skip to contentWhen you purchase through links in our articles, we may earn a small commission. This doesn't affect our editorial independence\r\n.\r\nCases of “AI psychosis” are apparently on the rise, … [+4023 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Github.com"
              },
              "author": "finite-sample",
              "title": "R MCP Server",
              "description": "R MCP Server. Contribute to finite-sample/rmcp development by creating an account on GitHub.",
              "url": "https://github.com/finite-sample/rmcp",
              "urlToImage": "https://opengraph.githubassets.com/b6a7efa2fb46673c0fcf1f6873e4169404f25963bfc6a0b3c6983dab0d21378b/finite-sample/rmcp",
              "publishedAt": "2025-09-17T00:18:54Z",
              "content": "Version 0.3.7 - A comprehensive Model Context Protocol (MCP) server with 40 statistical analysis tools across 9 categories. RMCP enables AI assistants and applications to perform sophisticated statis… [+19001 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "BBC News"
              },
              "author": null,
              "title": "Musk's fellowship of Royal Society in doubt after rally address",
              "description": "The world's most prestigious scientific body raised concerns about the \"language of violence\" at the march.",
              "url": "https://www.bbc.com/news/articles/cly08l9vlpyo",
              "urlToImage": "https://ichef.bbci.co.uk/news/1024/branded_news/3e08/live/d393f850-94a5-11f0-9cf6-cbf3e73ce2b9.jpg",
              "publishedAt": "2025-09-18T17:30:24Z",
              "content": "Esme StallardClimate and science reporter, BBC News\r\nElon Musk's controversial comments at the Unite the Kingdom rally in London have raised doubts over his fellowship of the Royal Society - the worl… [+3103 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Eyeofthesquid.com"
              },
              "author": "Ryan Moser",
              "title": "The Last Days of the Managerial Class",
              "description": "For decades, American ambition followed a well-worn script. The protagonists were bright, driven young people who understood that success…",
              "url": "https://eyeofthesquid.com/the-last-days-of-the-managerial-class-5c95bd74ee60",
              "urlToImage": "https://miro.medium.com/v2/resize:fit:1200/1*3Wvq4ZeV_gK6ATo53_pR-Q.png",
              "publishedAt": "2025-09-18T18:50:13Z",
              "content": "For decades, American ambition followed a well-worn script. The protagonists were bright, driven young people who understood that success meant climbing a particular ladder: elite college, prestigiou… [+6577 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Computerworld"
              },
              "author": "Computerworld",
              "title": "AI Hallucinations Are ‘Inevitable,’ Says AI Company Pushing AI To Be Involved In Everything",
              "description": "In a landmark study, OpenAI researchers reveal that large language models will always produce plausible but false outputs, even with perfect data, due to fundamental statistical and computational limits.",
              "url": "https://www.computerworld.com/article/4059383/openai-admits-ai-hallucinations-are-mathematically-inevitable-not-just-engineering-flaws.html",
              "urlToImage": "https://www.computerworld.com/wp-content/uploads/2025/09/4059383-0-04787800-1758290330-Slopsquatting-Die-neue-Cyber-Bedrohung-dank-KI-Halluzinationen.jpg?quality=50&strip=all&w=1024",
              "publishedAt": "2025-09-21T19:00:00Z",
              "content": "OpenAI, the creator of ChatGPT, acknowledged in its own research that large language models will always produce hallucinations due to fundamental mathematical constraints that cannot be solved throug… [+6405 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Search Engine Journal"
              },
              "author": "Vincent Terrasi",
              "title": "Agentic AI In SEO: AI Agents & The Future Of Content Strategy (Part 3) via @sejournal, @VincentTerrasi",
              "description": "Agentic SEO goes beyond Google to optimize for AI-driven discovery, influence, and traffic flows in a reconfigured digital ecosystem.\nThe post Agentic AI In SEO: AI Agents & The Future Of Content Strategy (Part 3) appeared first on Search Engine Journal.",
              "url": "https://www.searchenginejournal.com/agentic-ai-in-seo-ai-agents-the-future-of-content-strategy-part-3/555521/",
              "urlToImage": "https://www.searchenginejournal.com/wp-content/uploads/2025/09/ai-agent-728.png",
              "publishedAt": "2025-09-22T12:00:55Z",
              "content": "For years, the SEO equation appeared to be a fixed and unchanging landscape: optimizing for Googlebot on one side, and creating content for human users on the other. This outdated binary vision is no… [+8725 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Creative Bloq"
              },
              "author": "Ian Dean",
              "title": "Autodesk’s new modelling AI just made every designer's job easier",
              "description": "Autodesk's new AI modelling tool just made everything easier.",
              "url": "https://www.creativebloq.com/3d/autodesks-new-ai-just-made-every-designers-job-easier",
              "urlToImage": "https://cdn.mos.cms.futurecdn.net/ZDuw2LiyckwZXGoGjh2EFm.jpg",
              "publishedAt": "2025-09-16T19:12:40Z",
              "content": "Autodesk is rolling out AI tools that could reshape the way all creatives work, not just engineers working in the best CAD software, but all designers, digital artists, and animators. Ahead of Autode… [+4852 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Gizmodo.com"
              },
              "author": "Ed Cara",
              "title": "CDC Panel Votes to Nix Current Covid Vaccine Recommendations",
              "description": "The ACIP is now recommending “individual decision-making” for people and their doctors over whether to get vaccinated for covid-19.",
              "url": "https://gizmodo.com/cdc-panel-votes-to-nix-current-covid-vaccine-recommendations-2000661562",
              "urlToImage": "https://gizmodo.com/app/uploads/2025/09/covid-vaccines-1200x675.jpg",
              "publishedAt": "2025-09-19T21:05:48Z",
              "content": "On Friday, the Advisory Committee on Immunization Practices (ACIP) voted to drop its recommendation that U.S. adults should generally receive the covid-19 vaccine, instead endorsing an individualized… [+3425 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Yahoo Entertainment"
              },
              "author": "Nick Lichtenberg",
              "title": "Jerome Powell says the Gen Z hiring nightmare is real: ‘Kids coming out of college…are having a hard time finding jobs’",
              "description": "\"You've got a low firing, low hiring environment\" in the economy right now. When asked if it's AI, Powell shrugged: \"there may be something there.\"",
              "url": "https://www.yahoo.com/news/articles/jerome-powell-says-gen-z-212422015.html",
              "urlToImage": "https://s.yimg.com/ny/api/res/1.2/OGy.7.gorDIHSYJhDuxOOQ--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD04MDA7Y2Y9d2VicA--/https://media.zenfs.com/en/fortune_175/a71e2cd1eecba08157afa98553946209",
              "publishedAt": "2025-09-17T21:24:22Z",
              "content": "Federal Reserve Chair Jerome Powell has sounded the alarm on what many recent graduates already knowgetting a job right out of college is really hard right now. Speaking at his regular press conferen… [+4237 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "The New Yorker"
              },
              "author": "The New Yorker",
              "title": "Letters from Our Readers",
              "description": "Readers respond to Louis Menand’s essay about James Baldwin, Leslie Jamison’s article about perfectionism, and Tad Friend’s report on biohackers.",
              "url": "https://www.newyorker.com/magazine/2025/09/29/letters-from-the-september-29-2025-issue",
              "urlToImage": "",
              "publishedAt": "2025-09-22T10:00:00Z",
              "content": "Baldwins Language\r\nOne essential element of James Baldwins transformation into an icon with an aura of infallibility is overlooked in Louis Menands fascinating discussion of the man (A Critic at Larg… [+3232 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Mental Floss"
              },
              "author": "CaLea Johnson",
              "title": "The Music Artists With the Most (and Least) Complex Lyrics",
              "description": "Which musicians are a language learner‘s best friend?",
              "url": "https://www.mentalfloss.com/entertainment/music/musicians-with-most-and-least-complex-lyrics",
              "urlToImage": "https://images2.minutemediacdn.com/image/upload/c_crop,x_0,y_105,w_4000,h_2250/c_fill,w_1440,ar_1440:810,f_auto,q_auto,g_auto/images/GettyImages/mmsport/mentalfloss/01k4r2x91fhmt63t36rx.jpg",
              "publishedAt": "2025-09-21T18:01:00Z",
              "content": "Music is a universal language. However, some artists are easier to followespecially when a listener is new to the language being sung. Whether you want music to be an educational experience or not, c… [+2955 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Biztoc.com"
              },
              "author": "arstechnica.com",
              "title": "AI medical tools found to downplay symptoms of women, ethnic minorities",
              "description": "Artificial intelligence tools used by doctors risk leading to worse health outcomes for women and ethnic minorities, as a growing body of research shows that many large language models downplay the symptoms of these patients.\nA series of recent studies have f…",
              "url": "https://biztoc.com/x/332d0a71eff84a96",
              "urlToImage": "https://biztoc.com/cdn/332d0a71eff84a96_s.webp",
              "publishedAt": "2025-09-19T22:17:33Z",
              "content": "Artificial intelligence tools used by doctors risk leading to worse health outcomes for women and ethnic minorities, as a growing body of research shows that many large language models downplay the s… [+153 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Forbes"
              },
              "author": "John Werner, Contributor, \n John Werner, Contributor\n https://www.forbes.com/sites/johnwerner/",
              "title": "Is AI A Good Companion? INTIMA Tests This Comprehensively",
              "description": "Hugging Face created INTIMA, measuring AI’s role in parasocial relationships, anthropomorphism, and emotional attachment, highlighting psychological risks in human-AI.",
              "url": "https://www.forbes.com/sites/johnwerner/2025/09/22/is-ai-a-good-companion-intima-tests-this-comprehensively/",
              "urlToImage": "https://imageio.forbes.com/specials-images/imageserve/68d154dfc5ae72e3609c1367/0x0.jpg?format=jpg&height=900&width=1600&fit=bounds",
              "publishedAt": "2025-09-22T13:55:57Z",
              "content": "3d illustration of little robot active lifestyle people and vitality set on isolated white background\r\ngetty\r\nDont look now, but the wonks have come out with a way to measure how well AI entities do … [+5784 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "NPR"
              },
              "author": "Emmet Livingstone",
              "title": "'You'll have a long life': In DR Congo, maggots and caterpillars are prized food",
              "description": "In the Democratic Republic of Congo, wriggling maggots and hairy caterpillars aren't pests — they're prized food — sold by the tub, fried with chili, and celebrated for their nutrition.",
              "url": "https://www.npr.org/2025/09/20/nx-s1-5539101/edible-insects-drc-kinshasa-maggots",
              "urlToImage": "https://npr.brightspotcdn.com/dims3/default/strip/false/crop/3830x2154+0+197/resize/1400/quality/100/format/jpeg/?url=http%3A%2F%2Fnpr-brightspot.s3.amazonaws.com%2F66%2Ff4%2F015a293948bfb060a37781a8d612%2Fgettyimages-452416284.jpg",
              "publishedAt": "2025-09-20T10:00:00Z",
              "content": "KINSHASA, Democratic Republic of Congo They're tastier than they look. Edible insects in the form of wriggling maggots or hairy caterpillars are both delicacy and staple in the Democratic Republic of… [+3712 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "R-bloggers.com"
              },
              "author": "Bluecology blog",
              "title": "Generative AI and R workshops in Hobart Australia",
              "description": "Centre for Marine Socioecology R and AI workshops\nIn person Hobart Australia 11th and 12th November 2025\nCourse page and further details\nRegistration\nThe R program is a powerful tool for data analysis, but has a steep learning curve. Join us for a ...\nContinu…",
              "url": "https://www.r-bloggers.com/2025/09/generative-ai-and-r-workshops-in-hobart-australia/",
              "urlToImage": "https://www.r-bloggers.com/wp-content/uploads/2016/04/R_02_2016-05-01.png",
              "publishedAt": "2025-09-18T00:00:00Z",
              "content": "[This article was first published on Bluecology blog, and kindly contributed to R-bloggers]. (You can report issue about the content on this page here)\r\nWant to share your content on R-bloggers? clic… [+2491 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "MacRumors"
              },
              "author": "Juli Clover",
              "title": "iOS 26: The Top 100 New Features and Changes",
              "description": "Apple released iOS 26 on September 15, and it's now available for all iPhone users with a compatible device. There are a lot of changes and features to learn about, so if you want a quick, easy-to-read list that outlines what's new, we've got you covered.\n\n\n\n…",
              "url": "https://www.macrumors.com/2025/09/16/ios-26-top-100-changes/",
              "urlToImage": "https://images.macrumors.com/t/Bj3ZKPorEIWXaGF-hHSmAKz1G7o=/2500x/article-new/2025/08/iOS-26-Glass-Feature.jpg",
              "publishedAt": "2025-09-16T19:26:44Z",
              "content": "Apple released iOS 26 on September 15, and it's now available for all iPhone users with a compatible device. There are a lot of changes and features to learn about, so if you want a quick, easy-to-re… [+11722 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Openculture.com"
              },
              "author": "OC",
              "title": "40,000-Year-Old Symbols Found in Caves Worldwide May Be the Earliest Written Language",
              "description": "We may take it for granted that the earliest writing systems developed with the Sumerians around 3400 B.C.E. The archaeological evidence so far supports the theory. But it may also be possible that the earliest writing systems predate 5000-year-old cuneiform …",
              "url": "https://www.openculture.com/2025/09/40000-year-old-symbols-found-in-caves-worldwide-may-be-the-earliest-written-language.html",
              "urlToImage": "https://cdn8.openculture.com/2025/09/16224721/Screenshot-2025-09-16-at-10.46.49-PM-1024x573.png",
              "publishedAt": "2025-09-17T09:00:40Z",
              "content": "We may take it for grant­ed that the ear­li­est writ­ing sys­tems devel­oped with the Sume­ri­ans around 3400 B.C.E. The archae­o­log­i­cal evi­dence so far sup­ports the the­o­ry. But it may also be… [+4609 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Webassembly.org"
              },
              "author": null,
              "title": "WASM 3.0 Completed",
              "description": "WebAssembly (abbreviated Wasm) is a binary instruction format for a stack-based virtual machine. Wasm is designed as a portable compilation target for programming languages, enabling deployment on the web for client and server applications.",
              "url": "https://webassembly.org/news/2025-09-17-wasm-3.0/",
              "urlToImage": "https://v1.screenshot.11ty.dev/https%3A%2F%2Fwebassembly.org%2Fnews%2F2025-09-17-wasm-3.0%2F/opengraph/",
              "publishedAt": "2025-09-17T18:16:53Z",
              "content": "Published on September 17, 2025 by Andreas Rossberg.\r\nThree years ago, version 2.0 of the Wasm standard was (essentially) finished, which brought a number of new features, such as vector instructions… [+7381 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Forbes"
              },
              "author": "Laurel Donnellan, Contributor, \n Laurel Donnellan, Contributor\n https://www.forbes.com/sites/laureldonnellan/",
              "title": "Stop Panicking About AI And Start Developing Fluency: A Simple Guide For Non-Tech Professionals",
              "description": "Developing AI fluency can be easier than you think. (And AI will help you!) Here are three strategies you can start today.",
              "url": "https://www.forbes.com/sites/laureldonnellan/2025/09/18/stop-panicking-about-ai-and-start-developing-fluency-a-simple-guide-for-non-tech-professionals/",
              "urlToImage": "https://imageio.forbes.com/specials-images/imageserve/68cc83951f61aa0d0bc9da59/0x0.jpg?format=jpg&height=900&width=1600&fit=bounds",
              "publishedAt": "2025-09-18T22:18:29Z",
              "content": "getty\r\nAI Acceptance\r\nTelling yourself that you are not interested in learning how to use AI is like me saying thirty years ago, I am never going to use ATMs, I will always make my deposits and withd… [+6814 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Phys.Org"
              },
              "author": "Conner Allen",
              "title": "AI lab assistant predicts material properties in seconds",
              "description": "A Johns Hopkins University engineer has developed a specialized AI tool that could do for materials scientists what ChatGPT has done for coders and writers. The new system, called ChatGPT Materials Explorer, or CME, could speed the discovery of everything fro…",
              "url": "https://phys.org/news/2025-09-ai-lab-material-properties-seconds.html",
              "urlToImage": "https://scx2.b-cdn.net/gfx/news/hires/2025/ai-lab-assistant-predi.jpg",
              "publishedAt": "2025-09-22T12:15:05Z",
              "content": "A Johns Hopkins University engineer has developed a specialized AI tool that could do for materials scientists what ChatGPT has done for coders and writers. The new system, called ChatGPT Materials E… [+5406 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Psychology Today"
              },
              "author": "Hansika Kapoor Ph.D.",
              "title": "Curated Confusion on Your Timeline",
              "description": "Digital footprints can be misused to create fake news, tailored to user personalities, increasing the chances of believability.",
              "url": "https://www.psychologytoday.com/us/blog/dark-creativity/202509/curated-confusion-on-your-timeline",
              "urlToImage": "https://cdn2.psychologytoday.com/assets/styles/manual_crop_1_91_1_1528x800/public/teaser_image/blog_entry/2025-09/pexels-cottonbro-5473956.jpg?itok=cfAvxPM8",
              "publishedAt": "2025-09-22T14:51:59Z",
              "content": "Here is a short excerpt from my forthcoming bookThe Science of Dark Creativity (Cambridge University Press). This chapter is on how science and technology can be wielded for original harm:\r\nOne nefar… [+3531 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Smashingapps.com"
              },
              "author": "An Jay",
              "title": "Google Making Records with New Offline AI Model Rewrites Privacy",
              "description": "Google making records with new offline AI model rewrites privacy by enabling fast, on-device AI for phones and robots.",
              "url": "https://www.smashingapps.com/google-making-records-with-new-offline-ai-model-rewrites-privacy/",
              "urlToImage": "https://www.smashingapps.com/wp-content/uploads/2025/09/Google-Making-Records-with-New-Offline-AI-Model-Rewrites-Privacy-e1758063957759.webp",
              "publishedAt": "2025-09-16T23:07:29Z",
              "content": "Many modern smart apps and robots still need a live cloud connection to transcribe speech, tag images, or decide their next move and that creates real friction: slow responses, failed features in low… [+10152 chars]"
            },
            {
              "source": {
                "id": "techradar",
                "name": "TechRadar"
              },
              "author": "Becca Caddy",
              "title": "ChatGPT is changing the way we communicate — here's how you can avoid speaking like AI in public",
              "description": "ChatGPT was trained on us, but research suggests its polished style is echoing back, influencing our words, tone, and even everyday conversations.",
              "url": "https://www.techradar.com/ai-platforms-assistants/chatgpt/chatgpt-is-changing-the-way-we-communicate-heres-how-you-can-avoid-speaking-like-ai-in-public",
              "urlToImage": "https://cdn.mos.cms.futurecdn.net/TzcYH2Dk7mqJFU7QJPad8Y.jpg",
              "publishedAt": "2025-09-18T10:40:40Z",
              "content": "ChatGPT and other LLMs (large language models) are designed to sound like us. Trained on vast amounts of human writing (sometimes scraped without consent), they learned to spot patterns and generate … [+3985 chars]"
            },
            {
              "source": {
                "id": "business-insider",
                "name": "Business Insider"
              },
              "author": "Sophie Steiner",
              "title": "I left my job at the world's biggest beer company for startup life. I knew Asia was the right place to do it.",
              "description": "He left behind a fast-track corporate career at AB InBev because the safe path felt too predictable. Now, he's running a startup in Indonesia.",
              "url": "https://www.businessinsider.com/quit-job-ab-inbev-startup-asia-jakarta-indonesia-baskit-company-2025-9",
              "urlToImage": "https://i.insider.com/68cbd387183847aa39d70055?width=1200&format=jpeg",
              "publishedAt": "2025-09-22T00:14:02Z",
              "content": "Yann Schuermans started Baskit, a supply chain distribution company, with his wife and says it's been both the biggest risk and the biggest gift.Provided by Yann Schuermans\r\n<ul><li>Yann Schuermans l… [+5397 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Internet"
              },
              "author": "info@thehackernews.com (The Hacker News)",
              "title": "⚡ Weekly Recap: Chrome 0-Day, AI Hacking Tools, DDR5 Bit-Flips, npm Worm & More",
              "description": "The security landscape now moves at a pace no patch cycle can match. Attackers aren’t waiting for quarterly updates or monthly fixes—they adapt within hours, blending fresh techniques with old, forgotten flaws to create new openings. A vulnerability closed ye…",
              "url": "https://thehackernews.com/2025/09/weekly-recap-chrome-0-day-ai-hacking.html",
              "urlToImage": "https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgOfFdXJ8Rz_j54jmzoeyw1-ABeY_zVMU65emz4VcnH8TSb1rnZiGw7W-RdWA3v_tytJIGAPfHzBKJzB4upWVKRxcec03OfydwomEG1F3j5b3NY3pzyYWjfdFBe5KDyCFOcV6sc5X_nZLgw05JYVuAz9zEhqctSlCFYwGsLcZo9SzhMaHBqDLtiHNzKpjMg/s728-rw-e365/recap.jpg",
              "publishedAt": "2025-09-22T11:47:00Z",
              "content": "The security landscape now moves at a pace no patch cycle can match. Attackers aren't waiting for quarterly updates or monthly fixes—they adapt within hours, blending fresh techniques with old, forgo… [+42481 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "CNET"
              },
              "author": "Scott Stein",
              "title": "I Wore Meta's New Ray-Ban Display Glasses and Neural Band. I Feel Augmented",
              "description": "Meta's AR glasses, available Sept. 30 for $799, have a neural wristband and a wide range of AI and app functions. They dream big, but their future is unclear.",
              "url": "https://www.cnet.com/tech/computing/i-wore-metas-new-ray-ban-display-glasses-and-neural-band-i-feel-augmented/",
              "urlToImage": "https://www.cnet.com/a/img/resize/4a12b1cf8c5594ea1c6b04311a2b246b71dab52b/hub/2025/09/17/707246e6-c8a8-4f83-b4e4-4a5d6fde39cc/meta-rayban-display-2.jpg?auto=webp&fit=crop&height=675&width=1200",
              "publishedAt": "2025-09-18T00:21:00Z",
              "content": "As soon as I saw someone wearing Meta's new AR glasses for the first time, I knew they looked different. Thicker than regular Meta Ray-Bans, they reminded me of something filmmaker Martin Scorsese wo… [+13996 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "PC Gamer"
              },
              "author": "Rich Stanton",
              "title": "Sam Altman says ChatGPT won't talk to teens about suicide any more, as bereaved parents testify to the US Senate about what's going wrong: 'This is a mental health war, and I really feel like we are losing'",
              "description": "If there are doubts about any user's age Altman says \"we’ll play it safe and default to the under-18 experience.\"",
              "url": "https://www.pcgamer.com/software/ai/sam-altman-says-chatgpt-wont-talk-to-teens-about-suicide-any-more-as-bereaved-parents-testify-to-the-us-senate-about-whats-going-wrong-this-is-a-mental-health-war-and-i-really-feel-like-we-are-losing/",
              "urlToImage": "https://cdn.mos.cms.futurecdn.net/fLRi8fBQn9SVRkJBxgDaZ5.jpg",
              "publishedAt": "2025-09-18T14:08:49Z",
              "content": "Content warning: This article includes discussion of suicide. If you or someone you know is having suicidal thoughts, help is available from the National Suicide Prevention Lifeline (US), Crisis Serv… [+4687 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Psychology Today"
              },
              "author": "Max Louwerse Ph.D.",
              "title": "The Psychology of AI: We Can’t Have It Both Ways",
              "description": "When we think about all the errors chatbots make, we might have to rethink what the goal of artificial intelligence is. Should it be humanlike or intelligent?",
              "url": "https://www.psychologytoday.com/us/blog/keeping-those-words-in-mind/202509/the-psychology-of-ai-we-cant-have-it-both-ways",
              "urlToImage": "https://cdn2.psychologytoday.com/assets/styles/manual_crop_1_91_1_1528x800/public/teaser_image/blog_entry/2025-09/Firefly_Create%20a%20hyper-realistic%20colorful%20image%20of%20a%20large%20language%20model%20%28an%20AI%20robot%20like%20f%20449343.jpg?itok=C3nmIagH",
              "publishedAt": "2025-09-17T21:00:50Z",
              "content": "I feel sorry for artificial intelligence... It is trying so hard, but when it does what it has aimed to do, it gets blamed for all its efforts. It is continuously accused of errors, confabulations an… [+6099 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Help Net Security"
              },
              "author": "Help Net Security",
              "title": "Week in review: Chrome 0-day fixed, npm supply chain attack, LinkedIn data used for AI",
              "description": "Here’s an overview of some of last week’s most interesting news, articles, interviews and videos: Most enterprise AI use is invisible to security teams Most enterprise AI activity is happening without the knowledge of IT and security teams. According to Lanai…",
              "url": "https://www.helpnetsecurity.com/2025/09/21/week-in-review-chrome-0-day-fixed-npm-supply-chain-attack-linkedin-data-used-for-ai/",
              "urlToImage": "https://img.helpnetsecurity.com/wp-content/uploads/2024/03/25124830/cybersecurity-week-review-1-1500.webp",
              "publishedAt": "2025-09-21T08:00:00Z",
              "content": "Heres an overview of some of last weeks most interesting news, articles, interviews and videos:\r\nMost enterprise AI use is invisible to security teamsMost enterprise AI activity is happening without … [+11216 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Yahoo Entertainment"
              },
              "author": "Chris Price",
              "title": "Bank of England raises alarm over new tax raid",
              "description": "The Bank of England has warned that fears of another Labour tax raid are already impacting the economy as it kept interest rates on hold at 4pc.",
              "url": "https://uk.finance.yahoo.com/news/bank-england-raises-alarm-over-171911421.html",
              "urlToImage": "https://s.yimg.com/ny/api/res/1.2/S1UGhu0vhfIcTrP_GrrU7w--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD03NTA-/https://media.zenfs.com/en/the_telegraph_818/e5cc1f0e3efbfeec6e6f84132b6617fa",
              "publishedAt": "2025-09-18T17:19:11Z",
              "content": "The Bank said it would shrink its balance sheet by £70bn in the year ahead, a slower pace than the £100bn reduction of last year.\r\nIn an open letter to Mr Bailey, Ms Reeves admitted that inflation wa… [+29945 chars]"
            },
            {
              "source": {
                "id": "business-insider",
                "name": "Business Insider"
              },
              "author": "Kaja Whitehouse,Bradley Saacks",
              "title": "The hidden workforce behind earnings reports — and what less reporting could mean for them",
              "description": "President Trump's call for fewer earnings reports stands to save publicly traded companies millions, including money spent on white-collar jobs.",
              "url": "https://www.businessinsider.com/quarterly-earnings-trump-sec-accountants-lawyer-investor-relations-job-impact-2025-9",
              "urlToImage": "https://i.insider.com/68c9a9ea57d362d375e84414?width=1200&format=jpeg",
              "publishedAt": "2025-09-17T09:04:01Z",
              "content": "Workers in downtown ManhattanBI/Momo Takahashi\r\n<ul><li>Trump urged the SEC to reduce earnings requirements to benefit companies.</li><li>Companies have complained that such reports are costly and ti… [+6727 chars]"
            },
            {
              "source": {
                "id": "techradar",
                "name": "TechRadar"
              },
              "author": "Efosa Udinmwen",
              "title": "Nvidia AI sales to reach almost $400 billion by 2028, research claims - but then things will get a bit tricky for the world's largest company",
              "description": "Nvidia’s AI revenue may reach $400 billion by 2028 - yet slowing growth, rising costs, and competition could pose risks.",
              "url": "https://www.techradar.com/pro/nvidia-ai-sales-to-reach-almost-usd400-billion-by-2028-claims-research-and-then-things-will-get-a-bit-tricky-for-the-worlds-largest-company",
              "urlToImage": "https://cdn.mos.cms.futurecdn.net/ykPKYy6GKHFPCcSHX5LTLA.jpg",
              "publishedAt": "2025-09-21T21:08:00Z",
              "content": "<ul><li>Nvidia accelerators remain the company’s strongest revenue driver through 2028</li><li>Hyperscaler spending could exceed $450 billion annually by 2027</li><li>Growth in AI hardware is already… [+3536 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Hedgehogreview.com"
              },
              "author": "https://hedgehogreview.com/contributors/richard-hughes-gibson",
              "title": "After Babel Fish: The promise of cheap translations at the speed of the Web",
              "description": "More communication is not necessarily better communication.",
              "url": "https://hedgehogreview.com/issues/lessons-of-babel/articles/after-babel-fish",
              "urlToImage": "https://s3.amazonaws.com/hedgehogreview-prod/images/523585f766b99be5506c44aa780ed737.1500.jpg",
              "publishedAt": "2025-09-18T10:16:54Z",
              "content": "Far from a restrictive act of copying, a translator restores the meaning of a text by means of an elaborate process that requires imagination, ingenuity, and freedom.—Jhumpa Lahiri, “In Praise of Ech… [+28669 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "InfoQ.com"
              },
              "author": "Robert Krzaczyński",
              "title": "Hugging Face Brings Open-Source LLMs to GitHub Copilot Chat in VS Code",
              "description": "Hugging Face has introduced a new integration that allows developers to connect Inference Providers directly with GitHub Copilot Chat in Visual Studio Code. The update means that open-source large language models — including Kimi K2, DeepSeek V3.1, GLM 4.5, a…",
              "url": "https://www.infoq.com/news/2025/09/hugging-face-vscode/",
              "urlToImage": "https://res.infoq.com/news/2025/09/hugging-face-vscode/en/headerimage/generatedHeaderImage-1758101843050.jpg",
              "publishedAt": "2025-09-17T09:55:00Z",
              "content": "Hugging Face has introduced a new integration that allows developers to connect Inference Providers directly with GitHub Copilot Chat in Visual Studio Code. The update means that open-source large la… [+2669 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Geeky Gadgets"
              },
              "author": "Julian Horsey",
              "title": "Master AI Engineering : The Ultimate Beginner’s Roadmap to Success",
              "description": "What if you could combine the innovative innovation of artificial intelligence with the problem-solving rigor of software engineering? Welcome to the world of AI engineering, a field that’s not just reshaping industries but also redefining what’s possible in …",
              "url": "https://www.geeky-gadgets.com/ai-engineering-guide-for-beginners-2025/",
              "urlToImage": "https://www.geeky-gadgets.com/wp-content/uploads/2025/09/ai-engineering-roadmap-for-beginners_optimized.jpg",
              "publishedAt": "2025-09-21T10:01:16Z",
              "content": "What if you could combine the innovative innovation of artificial intelligence with the problem-solving rigor of software engineering? Welcome to the world of AI engineering, a field thats not just r… [+7690 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Substack.com"
              },
              "author": "Freedom Dumlao",
              "title": "A board member's perspective of the RubyGems controversy",
              "description": "What a week it's been as a Ruby Central Board Member.",
              "url": "https://apiguy.substack.com/p/a-board-members-perspective-of-the",
              "urlToImage": "https://substackcdn.com/image/fetch/$s_!SSDD!,f_auto,q_auto:best,fl_progressive:steep/https%3A%2F%2Fapiguy.substack.com%2Ftwitter%2Fsubscribe-card.jpg%3Fv%3D-953998864%26version%3D9",
              "publishedAt": "2025-09-22T16:25:35Z",
              "content": "First - I want to apologize, genuinely, to people who have felt fear, confusion, outrage, and any of the other hundreds of possible emotions a person might feel after reading some of what others have… [+7077 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Kdnuggets.com"
              },
              "author": "Cornellius Yudha Wijaya",
              "title": "The Best Local Coding LLMs You Can Run Yourself",
              "description": "In this article, we explore some of the best local coding LLMs that fit into local workflows and highlight why they stand out from the rest.",
              "url": "https://www.kdnuggets.com/the-best-local-coding-llms-you-can-run-yourself",
              "urlToImage": "https://www.kdnuggets.com/wp-content/uploads/kdn-wijaya-best-local-coding-llms-run-yourself.png",
              "publishedAt": "2025-09-17T12:24:34Z",
              "content": "Image by Editor | ChatGPT\r\nWe are living in an era where large language models (LLMs) dominate and influence the way we work. Even local LLMs that are fine-tuned for coding have become increasingly e… [+6456 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Search Engine Journal"
              },
              "author": "Alli Berry",
              "title": "How To Measure Brand Marketing Efforts (And Prove Their ROI) via @sejournal, @AlliBerry3",
              "description": "Stronger brand signals mean stronger results. See how to measure brand marketing’s business value.\nThe post How To Measure Brand Marketing Efforts (And Prove Their ROI) appeared first on Search Engine Journal.",
              "url": "https://www.searchenginejournal.com/how-to-measure-brand-marketing-efforts-and-prove-their-roi/554496/",
              "urlToImage": "https://www.searchenginejournal.com/wp-content/uploads/2025/09/brand-marketing-metrics-916.png",
              "publishedAt": "2025-09-17T12:00:13Z",
              "content": "Brand marketing is often the silent driver behind successful digital campaigns.\r\nPeople are far more likely to read, watch, click, and ultimately buy from a brand they already know and trust. That’s … [+12860 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Vox"
              },
              "author": "Sigal Samuel",
              "title": "The AI doomers are not making an argument. They’re selling a worldview.",
              "description": "You’ve probably seen this one before: first it looks like a rabbit. You’re totally sure: yes, that’s a rabbit! But then — wait, no — it’s a duck. Definitely, absolutely a duck. A few seconds later, it’s flipped again, and all you can see is rabbit. The feelin…",
              "url": "https://www.vox.com/future-perfect/461680/if-anyone-builds-it-yudkowsky-soares-ai-risk",
              "urlToImage": "https://platform.vox.com/wp-content/uploads/sites/2/2025/09/LucyJones_Vox_SigalSamuel.jpg?quality=90&strip=all&crop=0%2C10.732984293194%2C100%2C78.534031413613&w=1200",
              "publishedAt": "2025-09-17T04:08:12Z",
              "content": "Youve probably seen this one before: first it looks like a rabbit. Youre totally sure: yes, thats a rabbit! But then wait, no its a duck. Definitely, absolutely a duck. A few seconds later, its flipp… [+28194 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "ArchDaily"
              },
              "author": "Pilar Caballero",
              "title": "UMAK Mozarteum University / Berger Parkkinen + Architects",
              "description": "In 2021, the architectural firm BERGER PARKKINEN + was commissioned to construct a new building for the Mozarteum University at the Kurgarten (UMAK) in Salzburg. The Mozarteum University at the Kurgarten is located directly next to the Paracelsus Bad & Kurhau…",
              "url": "https://www.archdaily.com/1034230/umak-mozarteum-university-berger-parkkinen-plus-architects",
              "urlToImage": "https://images.adsttc.com/media/images/68ca/b57d/d84f/6b73/24ae/3b1f/large_jpg/umak-mozarteum-university-berger-parkkinen-plus-architects_6.jpg?1758115211",
              "publishedAt": "2025-09-19T03:00:00Z",
              "content": "© erger Parkkinen + Architects\r\n+ 10\r\n<ul><li></li><li>Architecture: Alfred Berger, Tiina Parkkinen\r\n</li><li>Project Team: Lucie Najvarova, Serban Ganea, Lenia Mascha, Frane Trebotic, Joanna Magiera… [+1419 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Forbes"
              },
              "author": "Gelila, Contributor, \n Gelila, Contributor\n https://www.forbes.com/sites/gelilabekele/",
              "title": "Why You’ll Want Your GPTs To Talk Like Rihanna And Jamie Dimon",
              "description": "The latest advances in multimodal AI are turning voice assistants from novelties into productivity powerhouses.",
              "url": "https://www.forbes.com/sites/gelilabekele/2025/09/16/why-youll-want-your-gpts-to-talk-like-rihanna-and-jamie-dimon/",
              "urlToImage": "https://imageio.forbes.com/specials-images/imageserve/68ae6464375f13ee7d547448/0x0.jpg?format=jpg&height=900&width=1600&fit=bounds",
              "publishedAt": "2025-09-16T20:24:38Z",
              "content": "The latest advances in multimodal AI are turning voice assistants from novelties into productivity powerhouses.\r\nInspired by OpenAIs Monday personality, I set up a GPT that talks like Rihanna and Jam… [+6394 chars]"
            },
            {
              "source": {
                "id": "abc-news-au",
                "name": "ABC News (AU)"
              },
              "author": "Emilia Terzon",
              "title": "Tech bubble or 'fourth industrial revolution'? Where are we at with AI?",
              "description": "It's estimated 30,000 people are working in the AI industry in Australia, and fanfare is growing with start-ups tapping into billions of dollars of venture capital. Yet there are concerns about hype and a lack of regulation.",
              "url": "https://www.abc.net.au/news/2025-09-22/is-ai-the-fourth-industrial-revolution/105790912",
              "urlToImage": "https://live-production.wcms.abc-cdn.net.au/fd75bd3f54690d82bc7e5b675bc5d175?impolicy=wcms_watermark_news&cropH=1756&cropW=3122&xPos=0&yPos=306&width=862&height=485&imformat=generic",
              "publishedAt": "2025-09-21T18:39:03Z",
              "content": "Artificial intelligence has prompted a supercharged tech boom, with valuations of the world's biggest companies soaring on the Nasdaq amid talk about a new era of human-like algorithms.\r\nHere in Aust… [+9094 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Forbes"
              },
              "author": "Tony Bradley, Senior Contributor, \n Tony Bradley, Senior Contributor\n https://www.forbes.com/sites/tonybradley/",
              "title": "The Real Role Of AI In Modern Threat Hunting",
              "description": "AI is changing threat hunting, boosting speed and enrichment, but human judgment is still vital to cut through noise and make the right calls.",
              "url": "https://www.forbes.com/sites/tonybradley/2025/09/19/the-real-role-of-ai-in-modern-threat-hunting/",
              "urlToImage": "https://imageio.forbes.com/specials-images/imageserve/68cd784475d1854e5b04a0fd/0x0.jpg?format=jpg&height=900&width=1600&fit=bounds",
              "publishedAt": "2025-09-19T16:00:21Z",
              "content": "AI is reshaping threat hunting by speeding research, enrichment and reporting, but human judgment remains essential to separate real threats from noise.\r\ngetty\r\nAI is everywhere right now. Its in you… [+5608 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "The Indian Express"
              },
              "author": "Pallavi Smart",
              "title": "Three-language policy | ‘Challenge is in balancing expert insights and stakeholders’ inputs’: Dr Narendra Jadhav",
              "description": "Language shapes both identity and future opportunities. Every language carries its own culture, and with it, a sense of identity.",
              "url": "https://indianexpress.com/article/cities/mumbai/three-language-policy-narendra-jadhav-10263320-10263320/",
              "urlToImage": "https://images.indianexpress.com/2025/09/Untitled-design-12.png",
              "publishedAt": "2025-09-21T15:17:31Z",
              "content": "The Maharashtra governments newly appointed three-language committee has unveiled its plan of action, with strong emphasis on gathering opinion from teachers, parents, academic institutions, language… [+7975 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Finextra"
              },
              "author": "Editorial Team",
              "title": "HSBC Private Bank to equip client-facing staff with AI",
              "description": "HSBC Private Bank is to roll out OpenAI's Large Language Model to client facing staff, investment counsellors and product specialists to provide quality market insight and personalised investment strategies to high net worth customers.",
              "url": "https://www.finextra.com/newsarticle/46604/hsbc-private-bank-to-equip-client-facing-staff-with-ai",
              "urlToImage": "https://www.finextra.com/finextra-images/top_pics/xl/2784.jpg",
              "publishedAt": "2025-09-16T23:06:22Z",
              "content": "HSBC Private Bank is to roll out OpenAI's Large Language Model to client facing staff, investment counsellors and product specialists to provide quality market insight and personalised investment str… [+1144 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "The New Yorker"
              },
              "author": "John Kenney",
              "title": "R.F.K., Jr.: A Day in the Life",
              "description": "Shouts & Murmurs by John Kenney: Why riding underneath the car is safer than riding inside the car, and other neato things to learn from the Secretary of Health and Human Services.",
              "url": "https://www.newyorker.com/magazine/2025/09/29/robert-kennedy-a-day-in-the-life",
              "urlToImage": "https://media.newyorker.com/photos/68c9cdd07a58c4aa54a6ce68/16:9/w_1280,c_limit/r47518.jpg",
              "publishedAt": "2025-09-22T10:00:00Z",
              "content": "By promoting suspicions about the institutions he oversees, critics say Robert F. Kennedy Jr. is jeopardizing public health. He says he is pursuing transparency.\r\nThe Times.\r\nUpon waking each morning… [+3853 chars]"
            },
            {
              "source": {
                "id": "techradar",
                "name": "TechRadar"
              },
              "author": "Amanda Levay",
              "title": "Masked, not erased: how broken redaction fuels AI data leaks",
              "description": "AI is not creating data leaks. It magnifies redaction failures, turning overlooked mistakes into costly, high-stakes exposures.",
              "url": "https://www.techradar.com/pro/masked-not-erased-how-broken-redaction-fuels-ai-data-leaks",
              "urlToImage": "https://cdn.mos.cms.futurecdn.net/P4geQxarNAKemytF8wPMtG.jpg",
              "publishedAt": "2025-09-19T14:24:55Z",
              "content": "Sensitive corporate data is not just slipping into chatbots. It is leaking long before it ever gets there.\r\nLast month, a widely shared jailbreak tricked an AI model into revealing genuine Windows pr… [+6789 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Nakedcapitalism.com"
              },
              "author": "Yves Smith",
              "title": "AI Chatbots Need Guardrails to Protect Users’ Mental Health",
              "description": "Chatbots are designed to be addictive and have produced psychotic behavior. But suppliers have yet to implement protective features.",
              "url": "https://www.nakedcapitalism.com/2025/09/ai-chatbots-need-guardrails-to-protect-users-mental-health.html",
              "urlToImage": null,
              "publishedAt": "2025-09-19T04:59:33Z",
              "content": "Yves here. Your truly must again confess to being a Luddite who would still rather have a dumbphone instead of a dated smartphone where the only smart thing I do on it is call rideshare cars.\r\nSo I r… [+9682 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Poynter"
              },
              "author": "Matthew Crowley",
              "title": "How breaking news is changing the AP Stylebook in real time",
              "description": "Since spring, Anna Jo Bratton has overseen The Associated Press’ stylebook, the benchmark resource scores of journalists rely on to keep copy clear and consistent. Part of shaping the book’s […]\nThe post How breaking news is changing the AP Stylebook in real …",
              "url": "https://www.poynter.org/reporting-editing/2025/ap-stylebook-breaking-news-updates/",
              "urlToImage": "https://www.poynter.org/wp-content/uploads/2025/09/AP23224536229846.jpg",
              "publishedAt": "2025-09-18T16:53:38Z",
              "content": "Since spring, Anna Jo Bratton has overseen The Associated Press stylebook, the benchmark resource scores of journalists rely on to keep copy clear and consistent. Part of shaping the books guidance a… [+5499 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "CleanTechnica"
              },
              "author": "Carolyn Fortuna",
              "title": "Need Data To Support Your Climate Conspiracies? Look To The Fake Research Black Market",
              "description": "When I was an early career teacher, I taught eighth grade. I remember a pattern of wrangling with parents about their children’s grades. The school guidance counselor would console me afterward, musing that, if the kids would only do their homework, things wo…",
              "url": "https://cleantechnica.com/2025/09/18/need-data-to-support-your-climate-conspiracies-look-to-the-fake-research-black-market/",
              "urlToImage": "https://cleantechnica.com/wp-content/uploads/2025/09/climate-conspiracy.jpg",
              "publishedAt": "2025-09-19T02:47:12Z",
              "content": "Support CleanTechnica's work through a Substack subscription or on Stripe.\r\nWhen I was an early career teacher, I taught eighth grade. I remember a pattern of wrangling with parents about their child… [+7941 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "The New Yorker"
              },
              "author": "Ian Buruma",
              "title": "The Uses and Abuses of “Antisemitism”",
              "description": "Ian Buruma reviews “On Antisemitism: A Word in History,” by Mark Mazower, and “World Enemy No. 1: Nazi Germany, Soviet Russia, and the Fate of the Jews,” by Jochen Hellbeck.",
              "url": "https://www.newyorker.com/magazine/2025/09/29/on-antisemitism-mark-mazower-book-review-world-enemy-no-1-jochen-hellbeck",
              "urlToImage": "https://media.newyorker.com/photos/68cb02dd0da252e0ef794178/16:9/w_1280,c_limit/r47431.jpg",
              "publishedAt": "2025-09-22T10:00:00Z",
              "content": "Exactly who the Jews areoften a fraught questionhas rarely been a mystery to their enemies. Stalin cast them as rootless cosmopolitans colluding with American imperialists to undermine the Soviet Uni… [+7014 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "mindbodygreen.com"
              },
              "author": "https://www.mindbodygreen.com/wc/sarah-regan",
              "title": "You Can Tell A Lot About A Relationship From This Subtle Sign",
              "description": "It's obvious when you start to look for it.",
              "url": "https://www.mindbodygreen.com/articles/pay-attention-to-your-partners-body-language-why-you-should",
              "urlToImage": "https://mindbodygreen-res.cloudinary.com/image/upload/c_fill,w_2000,h_1200,g_auto,fl_lossy,f_jpg/org/stocksy_txp426433f6j6y100_small_1441494.jpg",
              "publishedAt": "2025-09-19T09:09:00Z",
              "content": "Most of us can intuitively understand and recognize positive body language. Someone is turned toward you, their stance and posture suggest openness, and it's clear they're engaged with you. But what … [+3128 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Andiroberts.com"
              },
              "author": "Andi Roberts, Andi Roberts",
              "title": "How can I influence others without manipulating them?",
              "description": "How can I influence others without manipulating them? I explore five doors of influence: rationalising, asserting, negotiating, inspiring and bridging, to persuade with respect.",
              "url": "https://andiroberts.com/leadership-questions/how-to-influence-others-without-manipulating",
              "urlToImage": "https://i0.wp.com/andiroberts.com/wp-content/uploads/2025/09/how-to-influence-others.png?fit=1080%2C1080&ssl=1",
              "publishedAt": "2025-09-21T22:20:16Z",
              "content": "We influence others every day, whether we intend to or not. Sometimes it is through the way we argue, sometimes through the way we listen, and sometimes simply through the story we tell about what ma… [+14216 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Deadline"
              },
              "author": "Nancy Tartaglione",
              "title": "Warner Bros’ Feature Slate To Be Released Theatrically In Japan By Toho-Towa Group Beginning 2026",
              "description": "Warner Bros. Motion Picture Group has entered into a licensing agreement with Japan’s Toho-Towa Group which will see the latter’s Towa Pictures subsidiary handle theatrical distribution of the Warner Bros slate of Hollywood features in Japan. The multi-year p…",
              "url": "http://deadline.com/2025/09/warner-bros-japan-toho-towa-theatrical-distribution-deal-1236547733/",
              "urlToImage": "https://deadline.com/wp-content/uploads/2025/09/WB-MOTIONPICTUREGROUP_LOGO_PrintCMYK_PRIMARY_COLOR_forLightBKG.png?w=1024",
              "publishedAt": "2025-09-18T05:06:48Z",
              "content": "Warner Bros. Motion Picture Group has entered into a licensing agreement with Japan’s Toho-Towa Group which will see the latter’s Towa Pictures subsidiary handle theatrical distribution of the Warner… [+2745 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Forbes"
              },
              "author": "Tony Bradley, Senior Contributor, \n Tony Bradley, Senior Contributor\n https://www.forbes.com/sites/tonybradley/",
              "title": "CrowdStrike Ushers In The Agentic Era Of Cybersecurity",
              "description": "CrowdStrike’s Fal.Con 2025 unveiled the Agentic Security Platform, AI agents, and new partnerships to move cybersecurity defenses to proactive, intelligent resilience.",
              "url": "https://www.forbes.com/sites/tonybradley/2025/09/16/crowdstrike-ushers-in-the-agentic-era-of-cybersecurity/",
              "urlToImage": "https://imageio.forbes.com/specials-images/imageserve/68c9c8fb7669b9929c17cf10/0x0.jpg?format=jpg&height=900&width=1600&fit=bounds",
              "publishedAt": "2025-09-16T20:34:36Z",
              "content": "At Fal.Con 2025, CrowdStrike introduced its Agentic Security Platform, signaling a shift from reactive defenses to proactive, AI-driven security powered by autonomous agents, unified data and strateg… [+7362 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Securityaffairs.com"
              },
              "author": "Pierluigi Paganini",
              "title": "Researchers expose MalTerminal, an LLM-enabled malware pioneer",
              "description": "SentinelOne uncovered MalTerminal, the earliest known malware with built-in LLM capabilities, and presented it at LABScon 2025. SentinelLABS researchers discovered MalTerminal, the earliest known LLM-enabled malware, which generates malicious logic at runtime…",
              "url": "https://securityaffairs.com/182433/malware/researchers-expose-malterminal-an-llm-enabled-malware-pioneer.html",
              "urlToImage": "https://securityaffairs.com/wp-content/uploads/2025/09/image-34.png",
              "publishedAt": "2025-09-22T08:59:55Z",
              "content": "Researchers expose MalTerminal, an LLM-enabled malware pioneer\r\nSentinelLABS researchers discovered MalTerminal, the earliest known LLM-enabled malware, which generates malicious logic at runtime, ma… [+4281 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Royal Society of Chemistry"
              },
              "author": "Yu-Chen Gao, Xiang Chen, Yu-Hang Yuan, Yao-Peng Chen, Yi-Lin Niu, Nan Yao, Yan-Bin Gao, Wei-Lin Li, Qiang Zhang",
              "title": "Accelerating battery innovation: AI-powered molecular discovery",
              "description": "Chem. Soc. Rev., 2025, Advance ArticleDOI: 10.1039/D5CS00053J, Review ArticleYu-Chen Gao, Xiang Chen, Yu-Hang Yuan, Yao-Peng Chen, Yi-Lin Niu, Nan Yao, Yan-Bin Gao, Wei-Lin Li, Qiang ZhangThis review comprehensively presents the progress in artificial intelli…",
              "url": "https://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j",
              "urlToImage": "https://pubs.rsc.org/en/Content/Image/GA/D5CS00053J",
              "publishedAt": "2025-09-21T23:00:00Z",
              "content": "The global energy transition urgently demands advanced battery technologies to address current climate challenges, where molecular engineering plays a pivotal role in optimizing performance metrics s… [+1481 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Techdirt"
              },
              "author": "Michael McGrady",
              "title": "The Illiberal, Transphobic Pipe Dream Of Banning Porn Reaches Michigan Republicans",
              "description": "It appears that the illiberal, transphobic pipe dream of banning all pornography has reached an enterprising group of far-right Christian nationalist Republicans in Michigan who want to impose the moralistic agendas of a small few on the overwhelming majority…",
              "url": "https://www.techdirt.com/2025/09/17/the-illiberal-transphobic-pipe-dream-of-banning-porn-reaches-michigan-republicans/",
              "urlToImage": "https://www.techdirt.com/wp-content/themes/techdirt/assets/images/td-rect-logo-white.png",
              "publishedAt": "2025-09-17T22:33:55Z",
              "content": "from the insanity-in-clear-view dept\r\nIt appears that the illiberal, transphobic pipe dream of banning all pornography has reached an enterprising group of far-right Christian nationalist Republicans… [+6071 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Singularity Hub"
              },
              "author": "Wei Xing",
              "title": "Why OpenAI’s Solution to AI Hallucinations Would Kill ChatGPT Tomorrow",
              "description": "The business incentives driving consumer AI development remain fundamentally misaligned with reducing hallucinations.\nThe post Why OpenAI’s Solution to AI Hallucinations Would Kill ChatGPT Tomorrow appeared first on SingularityHub.",
              "url": "https://singularityhub.com/2025/09/18/why-openais-solution-to-ai-hallucinations-would-kill-chatgpt-tomorrow/",
              "urlToImage": "https://singularityhub.com/uploads/2025/09/colorful-street-art-alarmed-face-1.jpeg?auto=webp",
              "publishedAt": "2025-09-18T21:34:24Z",
              "content": "OpenAIs latest research paper diagnoses exactly why ChatGPT and other large language models can make things upknown in the world of artificial intelligence as hallucination. It also reveals why the p… [+6713 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Googleblog.com"
              },
              "author": "Open Source Programs Office",
              "title": "Introducing Kotlin FHIR: A new library to bring FHIR to Multiplatform",
              "description": "Google's Open Health Stack team is expanding its existing components, the team has released Kotlin FHIR, a new open-source library now available.",
              "url": "https://opensource.googleblog.com/2025/09/introducing-kotlin-fhir-a-new-library-to-bring-fhir-to-multiplatform.html",
              "urlToImage": "https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEiq1NNgXSLJxrCS9mxOIFPo3pyTT9AhxdfrqEybIgHT1ujlJsi7tAzvVqI9QrHndgWm8_upweBr2MKuuq_FYvwasXrGFxEU0LT3A4qNIDPDHr24LhVlNj2q9W4JJ3nmXlJNHpPUHhO1Udv9O_JVF7-08n25GNRTZ8YFx977W0fFjVqe_ER-Qb5voh4_qgg/w1200-h630-p-k-no-nu/kmp.png",
              "publishedAt": "2025-09-16T18:00:00Z",
              "content": "Build once, deploy everywhere: multiplatform FHIR development on Android, iOS, and Web\nby Jing Tang\r\n, Google Research\n\nThe mission of Google's Open Health Stack team is to accelerate digital health … [+3990 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Plos.org"
              },
              "author": "Tatsuya Amano, Valeria Ramírez-Castañeda, Violeta Berdejo-Espinola, Israel Borokini, Shawan Chowdhury, Marina Golivets, Juan David González-Trujillo, Flavia Montaño-Centellas, Kumar Paudel, Rachel L. White, Diogo Veríssimo",
              "title": "Language, economic and gender disparities widen the scientific productivity gap",
              "description": "What is the combined impact of individuals’ linguistic, economic, and gender backgrounds on their scientific productivity? This study uses a survey of 908 scientists to reveal that being a woman, a non-native English speaker, and from a low-income country is …",
              "url": "https://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.3003372",
              "urlToImage": "https://journals.plos.org/plosbiology/article/figure/image?id=10.1371/journal.pbio.3003372.g002&size=inline",
              "publishedAt": "2025-09-18T14:00:00Z",
              "content": "Citation: Amano T, Ramírez-Castañeda V, Berdejo-Espinola V, Borokini I, Chowdhury S, Golivets M, et al. (2025) Language, economic and gender disparities widen the scientific productivity gap. PLoS Bi… [+34926 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Yahoo Entertainment"
              },
              "author": "Angelica Ballesteros",
              "title": "Baidu (BIDU) Climbs to Fresh High as 2 Analysts Post Optimistic Ratings",
              "description": "We recently published All-Time Rush: 8 of 10 Big Names Hit Fresh Record Highs. Baidu Inc. (NASDAQ:BIDU) is one of the best performers on Wednesday. Shares of...",
              "url": "https://finance.yahoo.com/news/baidu-bidu-climbs-fresh-high-144641350.html",
              "urlToImage": "https://s.yimg.com/ny/api/res/1.2/8K6CnfsEsFgQv9EIwj_m7Q--/YXBwaWQ9aGlnaGxhbmRlcjt3PTEyMDA7aD03OTg-/https://media.zenfs.com/en/insidermonkey.com/5abcd0c4aa14401e9f49155e4bc2dea2",
              "publishedAt": "2025-09-18T14:46:41Z",
              "content": "We recently published All-Time Rush: 8 of 10 Big Names Hit Fresh Record Highs. Baidu Inc. (NASDAQ:BIDU) is one of the best performers on Wednesday.\r\nShares of Baidu Inc. (NASDAQ:BIDU) soared to a fre… [+1788 chars]"
            },
            {
              "source": {
                "id": "techradar",
                "name": "TechRadar"
              },
              "author": "erichs211@gmail.com (Eric Hal Schwartz) , Eric Hal Schwartz",
              "title": "5 ways ChatGPT can help you study, without using its Study Mode",
              "description": "How to study using ChatGPT AI without cheating, or using its Study Mode.",
              "url": "https://www.techradar.com/ai-platforms-assistants/chatgpt/5-ways-chatgpt-can-help-you-study-without-using-its-study-mode",
              "urlToImage": "https://cdn.mos.cms.futurecdn.net/WkxSaaGjALfu7FKUQbh6mC.jpg",
              "publishedAt": "2025-09-20T11:00:00Z",
              "content": "Going back to school this year involves discussions of AI tools as much as it does which highlighters and day planning apps to buy. Everyone is worried about ChatGPT and its rivals in education as ev… [+5271 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Forbes"
              },
              "author": "John Werner, Contributor, \n John Werner, Contributor\n https://www.forbes.com/sites/johnwerner/",
              "title": "Three Big Projects That Win The AI Prize In Silicon Valley",
              "description": "AI innovators showcased three standout tools at Stanford: Godela for physics simulations, Oligo for efficient spacecraft design, and BioReact for bioprocess automation.",
              "url": "https://www.forbes.com/sites/johnwerner/2025/09/19/three-big-projects-that-win-the-ai-prize-in-silicon-valley/",
              "urlToImage": "https://imageio.forbes.com/specials-images/imageserve/68cda8198fb068eaccceef08/0x0.png?format=png&height=900&width=1600&fit=bounds",
              "publishedAt": "2025-09-19T19:33:30Z",
              "content": "Top Three of IIA AI Summit Startups contest - Cinnamon Sipper, Founder and CEO of Godela, Jacob Rodriguez, Founder and CEO, Oligo Space and and Mitchell Castetter, Founder and CEO of Bioreact\r\nKather… [+4531 chars]"
            },
            {
              "source": {
                "id": null,
                "name": "Forbes"
              },
              "author": "Trefis Team, Contributor, \n Trefis Team, Contributor\n https://www.forbes.com/sites/greatspeculations/people/trefis/",
              "title": "How Micron Stock Surges 2x To $300",
              "description": "Even after this substantial rally, Micron stock is valued at about 20× estimated earnings for 2025..",
              "url": "https://www.forbes.com/sites/greatspeculations/2025/09/18/how-micron-stock-surges-2x-to-300/",
              "urlToImage": "https://imageio.forbes.com/specials-images/imageserve/68cbbdf286f8e7e5e3901073/0x0.jpg?format=jpg&height=900&width=1600&fit=bounds",
              "publishedAt": "2025-09-18T09:00:27Z",
              "content": "CHONGQING, CHINA - JUNE 27: In this photo illustration, the logo of Micron Technology, Inc. is displayed on a smartphone screen in front of a stock chart showing recent trading activity of the compan… [+5638 chars]"
            },
            {
              "source": {
                "id": "cbc-news",
                "name": "CBC News"
              },
              "author": null,
              "title": "AI-fuelled delusions are hurting Canadians. Here are some of their stories",
              "description": "Reports of delusions fuelled by conversations with AI chatbots have been growing, with some cases involving psychotic breaks, hospital stays and even violence. Two Canadians have launched an online support group to help people through their experiences.",
              "url": "https://www.cbc.ca/news/canada/ai-psychosis-canada-1.7631925",
              "urlToImage": "https://i.cbc.ca/1.7635247.1758043078!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_1180/anthonytan.jpg?im=Resize%3D620",
              "publishedAt": "2025-09-17T08:00:00Z",
              "content": "Last winter, Anthony Tan thought he was living inside an AI simulation. \r\nHe was skipping meals and barely sleeping, and questioned whether anyone he saw on his university campus was real. \r\nThe Toro… [+8019 chars]"
            }
          ]
        }
      }
    ],
    "ScoreSelect": [
      {
        "json": {
          "primary": {
            "title": "Accelerating battery innovation: AI-powered molecular discovery",
            "url": "https://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j",
            "description": "Chem. Soc. Rev., 2025, Advance ArticleDOI: 10.1039/D5CS00053J, Review ArticleYu-Chen Gao, Xiang Chen, Yu-Hang Yuan, Yao-Peng Chen, Yi-Lin Niu, Nan Yao, Yan-Bin Gao, Wei-Lin Li, Qiang ZhangThis review comprehensively presents the progress in artificial intelli…",
            "content": "The global energy transition urgently demands advanced battery technologies to address current climate challenges, where molecular engineering plays a pivotal role in optimizing performance metrics s… [+1481 chars]",
            "author": "Yu-Chen Gao, Xiang Chen, Yu-Hang Yuan, Yao-Peng Chen, Yi-Lin Niu, Nan Yao, Yan-Bin Gao, Wei-Lin Li, Qiang Zhang",
            "source": "Royal Society of Chemistry",
            "publishedAt": "2025-09-21T23:00:00Z",
            "QualityScore": 13,
            "host": ""
          },
          "related": [
            {
              "title": "SWE-Bench Pro",
              "url": "https://github.com/scaleapi/SWE-bench_Pro-os",
              "description": "SWE-Bench Pro: Can AI Agents Solve Long-Horizon Software Engineering Tasks? - scaleapi/SWE-bench_Pro-os",
              "content": "Code and data for the following works:\r\nSWE-Bench Pro is a challenging benchmark evaluating LLMs/Agents on long-horizon software engineering tasks.\r\nGiven a codebase and an issue, a language model is… [+1847 chars]",
              "author": "scaleapi",
              "source": "Github.com",
              "publishedAt": "2025-09-22T16:08:57Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "I got the highest score on ARC-AGI again swapping Python for English",
              "url": "https://jeremyberman.substack.com/p/how-i-got-the-highest-score-on-arc-agi-again",
              "description": "Using Multi-Agent Collaboration with Evolutionary Test-Time Compute",
              "content": "I think ARC-AGI is still the most important benchmark we have today. Its surprising that LLMs can win the math olympiad but struggle with simple puzzles that humans can solve easily.\r\nThis highlights… [+9671 chars]",
              "author": "Jeremy Berman",
              "source": "Substack.com",
              "publishedAt": "2025-09-17T01:53:47Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "AI Platform Founder Explains Why We Need To Focus On Human Behavior, Not LLMs via @sejournal, @theshelleywalsh",
              "url": "https://www.searchenginejournal.com/ai-platform-founder-explains-why-we-need-to-focus-on-human-behavior-not-llms/556251/",
              "description": "In conversation with Shelley Walsh, Ray Grieselhuber explains why the grounding data matters and human behavior should be the focus of SEO\nThe post AI Platform Founder Explains Why We Need To Focus On Human Behavior, Not LLMs appeared first on Search Engine J…",
              "content": "Google has been doing what it always does, and that is to constantly iterate to try and retain the best product it can.\r\nLarge language models (LLMs) and generative AI chatbots are a new reality in S… [+7174 chars]",
              "author": "Shelley Walsh",
              "source": "Search Engine Journal",
              "publishedAt": "2025-09-18T11:30:43Z",
              "QualityScore": 12,
              "host": ""
            }
          ],
          "candidates": [
            {
              "title": "Accelerating battery innovation: AI-powered molecular discovery",
              "url": "https://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j",
              "description": "Chem. Soc. Rev., 2025, Advance ArticleDOI: 10.1039/D5CS00053J, Review ArticleYu-Chen Gao, Xiang Chen, Yu-Hang Yuan, Yao-Peng Chen, Yi-Lin Niu, Nan Yao, Yan-Bin Gao, Wei-Lin Li, Qiang ZhangThis review comprehensively presents the progress in artificial intelli…",
              "content": "The global energy transition urgently demands advanced battery technologies to address current climate challenges, where molecular engineering plays a pivotal role in optimizing performance metrics s… [+1481 chars]",
              "author": "Yu-Chen Gao, Xiang Chen, Yu-Hang Yuan, Yao-Peng Chen, Yi-Lin Niu, Nan Yao, Yan-Bin Gao, Wei-Lin Li, Qiang Zhang",
              "source": "Royal Society of Chemistry",
              "publishedAt": "2025-09-21T23:00:00Z",
              "QualityScore": 13,
              "host": ""
            },
            {
              "title": "SWE-Bench Pro",
              "url": "https://github.com/scaleapi/SWE-bench_Pro-os",
              "description": "SWE-Bench Pro: Can AI Agents Solve Long-Horizon Software Engineering Tasks? - scaleapi/SWE-bench_Pro-os",
              "content": "Code and data for the following works:\r\nSWE-Bench Pro is a challenging benchmark evaluating LLMs/Agents on long-horizon software engineering tasks.\r\nGiven a codebase and an issue, a language model is… [+1847 chars]",
              "author": "scaleapi",
              "source": "Github.com",
              "publishedAt": "2025-09-22T16:08:57Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "I got the highest score on ARC-AGI again swapping Python for English",
              "url": "https://jeremyberman.substack.com/p/how-i-got-the-highest-score-on-arc-agi-again",
              "description": "Using Multi-Agent Collaboration with Evolutionary Test-Time Compute",
              "content": "I think ARC-AGI is still the most important benchmark we have today. Its surprising that LLMs can win the math olympiad but struggle with simple puzzles that humans can solve easily.\r\nThis highlights… [+9671 chars]",
              "author": "Jeremy Berman",
              "source": "Substack.com",
              "publishedAt": "2025-09-17T01:53:47Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "AI Platform Founder Explains Why We Need To Focus On Human Behavior, Not LLMs via @sejournal, @theshelleywalsh",
              "url": "https://www.searchenginejournal.com/ai-platform-founder-explains-why-we-need-to-focus-on-human-behavior-not-llms/556251/",
              "description": "In conversation with Shelley Walsh, Ray Grieselhuber explains why the grounding data matters and human behavior should be the focus of SEO\nThe post AI Platform Founder Explains Why We Need To Focus On Human Behavior, Not LLMs appeared first on Search Engine J…",
              "content": "Google has been doing what it always does, and that is to constantly iterate to try and retain the best product it can.\r\nLarge language models (LLMs) and generative AI chatbots are a new reality in S… [+7174 chars]",
              "author": "Shelley Walsh",
              "source": "Search Engine Journal",
              "publishedAt": "2025-09-18T11:30:43Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "AI Hallucinations Are ‘Inevitable,’ Says AI Company Pushing AI To Be Involved In Everything",
              "url": "https://www.computerworld.com/article/4059383/openai-admits-ai-hallucinations-are-mathematically-inevitable-not-just-engineering-flaws.html",
              "description": "In a landmark study, OpenAI researchers reveal that large language models will always produce plausible but false outputs, even with perfect data, due to fundamental statistical and computational limits.",
              "content": "OpenAI, the creator of ChatGPT, acknowledged in its own research that large language models will always produce hallucinations due to fundamental mathematical constraints that cannot be solved throug… [+6405 chars]",
              "author": "Computerworld",
              "source": "Computerworld",
              "publishedAt": "2025-09-21T19:00:00Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "Agentic AI In SEO: AI Agents & The Future Of Content Strategy (Part 3) via @sejournal, @VincentTerrasi",
              "url": "https://www.searchenginejournal.com/agentic-ai-in-seo-ai-agents-the-future-of-content-strategy-part-3/555521/",
              "description": "Agentic SEO goes beyond Google to optimize for AI-driven discovery, influence, and traffic flows in a reconfigured digital ecosystem.\nThe post Agentic AI In SEO: AI Agents & The Future Of Content Strategy (Part 3) appeared first on Search Engine Journal.",
              "content": "For years, the SEO equation appeared to be a fixed and unchanging landscape: optimizing for Googlebot on one side, and creating content for human users on the other. This outdated binary vision is no… [+8725 chars]",
              "author": "Vincent Terrasi",
              "source": "Search Engine Journal",
              "publishedAt": "2025-09-22T12:00:55Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "Letters from Our Readers",
              "url": "https://www.newyorker.com/magazine/2025/09/29/letters-from-the-september-29-2025-issue",
              "description": "Readers respond to Louis Menand’s essay about James Baldwin, Leslie Jamison’s article about perfectionism, and Tad Friend’s report on biohackers.",
              "content": "Baldwins Language\r\nOne essential element of James Baldwins transformation into an icon with an aura of infallibility is overlooked in Louis Menands fascinating discussion of the man (A Critic at Larg… [+3232 chars]",
              "author": "The New Yorker",
              "source": "The New Yorker",
              "publishedAt": "2025-09-22T10:00:00Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "The Music Artists With the Most (and Least) Complex Lyrics",
              "url": "https://www.mentalfloss.com/entertainment/music/musicians-with-most-and-least-complex-lyrics",
              "description": "Which musicians are a language learner‘s best friend?",
              "content": "Music is a universal language. However, some artists are easier to followespecially when a listener is new to the language being sung. Whether you want music to be an educational experience or not, c… [+2955 chars]",
              "author": "CaLea Johnson",
              "source": "Mental Floss",
              "publishedAt": "2025-09-21T18:01:00Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "Is AI A Good Companion? INTIMA Tests This Comprehensively",
              "url": "https://www.forbes.com/sites/johnwerner/2025/09/22/is-ai-a-good-companion-intima-tests-this-comprehensively/",
              "description": "Hugging Face created INTIMA, measuring AI’s role in parasocial relationships, anthropomorphism, and emotional attachment, highlighting psychological risks in human-AI.",
              "content": "3d illustration of little robot active lifestyle people and vitality set on isolated white background\r\ngetty\r\nDont look now, but the wonks have come out with a way to measure how well AI entities do … [+5784 chars]",
              "author": "John Werner, Contributor, \n John Werner, Contributor\n https://www.forbes.com/sites/johnwerner/",
              "source": "Forbes",
              "publishedAt": "2025-09-22T13:55:57Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "AI lab assistant predicts material properties in seconds",
              "url": "https://phys.org/news/2025-09-ai-lab-material-properties-seconds.html",
              "description": "A Johns Hopkins University engineer has developed a specialized AI tool that could do for materials scientists what ChatGPT has done for coders and writers. The new system, called ChatGPT Materials Explorer, or CME, could speed the discovery of everything fro…",
              "content": "A Johns Hopkins University engineer has developed a specialized AI tool that could do for materials scientists what ChatGPT has done for coders and writers. The new system, called ChatGPT Materials E… [+5406 chars]",
              "author": "Conner Allen",
              "source": "Phys.Org",
              "publishedAt": "2025-09-22T12:15:05Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "Curated Confusion on Your Timeline",
              "url": "https://www.psychologytoday.com/us/blog/dark-creativity/202509/curated-confusion-on-your-timeline",
              "description": "Digital footprints can be misused to create fake news, tailored to user personalities, increasing the chances of believability.",
              "content": "Here is a short excerpt from my forthcoming bookThe Science of Dark Creativity (Cambridge University Press). This chapter is on how science and technology can be wielded for original harm:\r\nOne nefar… [+3531 chars]",
              "author": "Hansika Kapoor Ph.D.",
              "source": "Psychology Today",
              "publishedAt": "2025-09-22T14:51:59Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "I left my job at the world's biggest beer company for startup life. I knew Asia was the right place to do it.",
              "url": "https://www.businessinsider.com/quit-job-ab-inbev-startup-asia-jakarta-indonesia-baskit-company-2025-9",
              "description": "He left behind a fast-track corporate career at AB InBev because the safe path felt too predictable. Now, he's running a startup in Indonesia.",
              "content": "Yann Schuermans started Baskit, a supply chain distribution company, with his wife and says it's been both the biggest risk and the biggest gift.Provided by Yann Schuermans\r\n<ul><li>Yann Schuermans l… [+5397 chars]",
              "author": "Sophie Steiner",
              "source": "Business Insider",
              "publishedAt": "2025-09-22T00:14:02Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "⚡ Weekly Recap: Chrome 0-Day, AI Hacking Tools, DDR5 Bit-Flips, npm Worm & More",
              "url": "https://thehackernews.com/2025/09/weekly-recap-chrome-0-day-ai-hacking.html",
              "description": "The security landscape now moves at a pace no patch cycle can match. Attackers aren’t waiting for quarterly updates or monthly fixes—they adapt within hours, blending fresh techniques with old, forgotten flaws to create new openings. A vulnerability closed ye…",
              "content": "The security landscape now moves at a pace no patch cycle can match. Attackers aren't waiting for quarterly updates or monthly fixes—they adapt within hours, blending fresh techniques with old, forgo… [+42481 chars]",
              "author": "info@thehackernews.com (The Hacker News)",
              "source": "Internet",
              "publishedAt": "2025-09-22T11:47:00Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "Week in review: Chrome 0-day fixed, npm supply chain attack, LinkedIn data used for AI",
              "url": "https://www.helpnetsecurity.com/2025/09/21/week-in-review-chrome-0-day-fixed-npm-supply-chain-attack-linkedin-data-used-for-ai/",
              "description": "Here’s an overview of some of last week’s most interesting news, articles, interviews and videos: Most enterprise AI use is invisible to security teams Most enterprise AI activity is happening without the knowledge of IT and security teams. According to Lanai…",
              "content": "Heres an overview of some of last weeks most interesting news, articles, interviews and videos:\r\nMost enterprise AI use is invisible to security teamsMost enterprise AI activity is happening without … [+11216 chars]",
              "author": "Help Net Security",
              "source": "Help Net Security",
              "publishedAt": "2025-09-21T08:00:00Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "Nvidia AI sales to reach almost $400 billion by 2028, research claims - but then things will get a bit tricky for the world's largest company",
              "url": "https://www.techradar.com/pro/nvidia-ai-sales-to-reach-almost-usd400-billion-by-2028-claims-research-and-then-things-will-get-a-bit-tricky-for-the-worlds-largest-company",
              "description": "Nvidia’s AI revenue may reach $400 billion by 2028 - yet slowing growth, rising costs, and competition could pose risks.",
              "content": "<ul><li>Nvidia accelerators remain the company’s strongest revenue driver through 2028</li><li>Hyperscaler spending could exceed $450 billion annually by 2027</li><li>Growth in AI hardware is already… [+3536 chars]",
              "author": "Efosa Udinmwen",
              "source": "TechRadar",
              "publishedAt": "2025-09-21T21:08:00Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "Hugging Face Brings Open-Source LLMs to GitHub Copilot Chat in VS Code",
              "url": "https://www.infoq.com/news/2025/09/hugging-face-vscode/",
              "description": "Hugging Face has introduced a new integration that allows developers to connect Inference Providers directly with GitHub Copilot Chat in Visual Studio Code. The update means that open-source large language models — including Kimi K2, DeepSeek V3.1, GLM 4.5, a…",
              "content": "Hugging Face has introduced a new integration that allows developers to connect Inference Providers directly with GitHub Copilot Chat in Visual Studio Code. The update means that open-source large la… [+2669 chars]",
              "author": "Robert Krzaczyński",
              "source": "InfoQ.com",
              "publishedAt": "2025-09-17T09:55:00Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "A board member's perspective of the RubyGems controversy",
              "url": "https://apiguy.substack.com/p/a-board-members-perspective-of-the",
              "description": "What a week it's been as a Ruby Central Board Member.",
              "content": "First - I want to apologize, genuinely, to people who have felt fear, confusion, outrage, and any of the other hundreds of possible emotions a person might feel after reading some of what others have… [+7077 chars]",
              "author": "Freedom Dumlao",
              "source": "Substack.com",
              "publishedAt": "2025-09-22T16:25:35Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "Tech bubble or 'fourth industrial revolution'? Where are we at with AI?",
              "url": "https://www.abc.net.au/news/2025-09-22/is-ai-the-fourth-industrial-revolution/105790912",
              "description": "It's estimated 30,000 people are working in the AI industry in Australia, and fanfare is growing with start-ups tapping into billions of dollars of venture capital. Yet there are concerns about hype and a lack of regulation.",
              "content": "Artificial intelligence has prompted a supercharged tech boom, with valuations of the world's biggest companies soaring on the Nasdaq amid talk about a new era of human-like algorithms.\r\nHere in Aust… [+9094 chars]",
              "author": "Emilia Terzon",
              "source": "ABC News (AU)",
              "publishedAt": "2025-09-21T18:39:03Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "R.F.K., Jr.: A Day in the Life",
              "url": "https://www.newyorker.com/magazine/2025/09/29/robert-kennedy-a-day-in-the-life",
              "description": "Shouts & Murmurs by John Kenney: Why riding underneath the car is safer than riding inside the car, and other neato things to learn from the Secretary of Health and Human Services.",
              "content": "By promoting suspicions about the institutions he oversees, critics say Robert F. Kennedy Jr. is jeopardizing public health. He says he is pursuing transparency.\r\nThe Times.\r\nUpon waking each morning… [+3853 chars]",
              "author": "John Kenney",
              "source": "The New Yorker",
              "publishedAt": "2025-09-22T10:00:00Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "How breaking news is changing the AP Stylebook in real time",
              "url": "https://www.poynter.org/reporting-editing/2025/ap-stylebook-breaking-news-updates/",
              "description": "Since spring, Anna Jo Bratton has overseen The Associated Press’ stylebook, the benchmark resource scores of journalists rely on to keep copy clear and consistent. Part of shaping the book’s […]\nThe post How breaking news is changing the AP Stylebook in real …",
              "content": "Since spring, Anna Jo Bratton has overseen The Associated Press stylebook, the benchmark resource scores of journalists rely on to keep copy clear and consistent. Part of shaping the books guidance a… [+5499 chars]",
              "author": "Matthew Crowley",
              "source": "Poynter",
              "publishedAt": "2025-09-18T16:53:38Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "The Uses and Abuses of “Antisemitism”",
              "url": "https://www.newyorker.com/magazine/2025/09/29/on-antisemitism-mark-mazower-book-review-world-enemy-no-1-jochen-hellbeck",
              "description": "Ian Buruma reviews “On Antisemitism: A Word in History,” by Mark Mazower, and “World Enemy No. 1: Nazi Germany, Soviet Russia, and the Fate of the Jews,” by Jochen Hellbeck.",
              "content": "Exactly who the Jews areoften a fraught questionhas rarely been a mystery to their enemies. Stalin cast them as rootless cosmopolitans colluding with American imperialists to undermine the Soviet Uni… [+7014 chars]",
              "author": "Ian Buruma",
              "source": "The New Yorker",
              "publishedAt": "2025-09-22T10:00:00Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "How can I influence others without manipulating them?",
              "url": "https://andiroberts.com/leadership-questions/how-to-influence-others-without-manipulating",
              "description": "How can I influence others without manipulating them? I explore five doors of influence: rationalising, asserting, negotiating, inspiring and bridging, to persuade with respect.",
              "content": "We influence others every day, whether we intend to or not. Sometimes it is through the way we argue, sometimes through the way we listen, and sometimes simply through the story we tell about what ma… [+14216 chars]",
              "author": "Andi Roberts, Andi Roberts",
              "source": "Andiroberts.com",
              "publishedAt": "2025-09-21T22:20:16Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "Researchers expose MalTerminal, an LLM-enabled malware pioneer",
              "url": "https://securityaffairs.com/182433/malware/researchers-expose-malterminal-an-llm-enabled-malware-pioneer.html",
              "description": "SentinelOne uncovered MalTerminal, the earliest known malware with built-in LLM capabilities, and presented it at LABScon 2025. SentinelLABS researchers discovered MalTerminal, the earliest known LLM-enabled malware, which generates malicious logic at runtime…",
              "content": "Researchers expose MalTerminal, an LLM-enabled malware pioneer\r\nSentinelLABS researchers discovered MalTerminal, the earliest known LLM-enabled malware, which generates malicious logic at runtime, ma… [+4281 chars]",
              "author": "Pierluigi Paganini",
              "source": "Securityaffairs.com",
              "publishedAt": "2025-09-22T08:59:55Z",
              "QualityScore": 12,
              "host": ""
            },
            {
              "title": "Distillation Can Make AI Models Smaller and Cheaper",
              "url": "https://www.wired.com/story/how-distillation-makes-ai-models-smaller-and-cheaper/",
              "description": "A fundamental technique lets researchers use a big, expensive model to train another model for less.",
              "content": "The original version ofthis storyappeared inQuanta Magazine.\r\nThe Chinese AI company DeepSeek released a chatbot earlier this year called R1, which drew a huge amount of attention. Most of it focused… [+6022 chars]",
              "author": "Amos Zeeberg",
              "source": "Wired",
              "publishedAt": "2025-09-20T11:00:00Z",
              "QualityScore": 11,
              "host": ""
            },
            {
              "title": "Anthropic Wants to Be the One Good AI Company in Trump’s America",
              "url": "https://gizmodo.com/anthropic-wants-to-be-the-one-good-ai-company-in-trumps-america-2000660193",
              "description": "It put limits on law enforcement usage and backed an AI safety bill. Just ignore the whole pirating a bunch of books thing.",
              "content": "Anthropic, the artificial intelligence company behind the chatbot Claude, is trying to carve out a spot as the Good Guy in the AI space. Fresh off being the only major AI firm to throw its support be… [+4076 chars]",
              "author": "AJ Dellinger",
              "source": "Gizmodo.com",
              "publishedAt": "2025-09-17T20:30:34Z",
              "QualityScore": 11,
              "host": ""
            },
            {
              "title": "AI Tool Detects LLM-Generated Text in Research Papers and Peer Reviews",
              "url": "https://slashdot.org/story/25/09/19/1750226/ai-tool-detects-llm-generated-text-in-research-papers-and-peer-reviews",
              "description": "An analysis of tens of thousands of research-paper submissions has shown a dramatic increase in the presence of text generated using AI in the past few years, an academic publisher has found. Nature: The American Association for Cancer Research (AACR) found t…",
              "content": "The American Association for Cancer Research (AACR) found that 23% of abstracts in manuscripts and 5% of peer-review reports submitted to its journals in 2024 contained text that was probably generat… [+631 chars]",
              "author": "msmash",
              "source": "Slashdot.org",
              "publishedAt": "2025-09-19T18:01:00Z",
              "QualityScore": 11,
              "host": ""
            },
            {
              "title": "These AI Chatbots Shouldn't Have Given Me Gambling Advice. They Did Anyway",
              "url": "https://www.cnet.com/tech/services-and-software/these-ai-chatbots-shouldnt-have-given-me-gambling-advice-they-did-anyway/",
              "description": "Language models have safety protocols designed to keep you from getting harmful responses. I saw how easily they can break down.",
              "content": "In early September, at the start of the college football season, ChatGPT and Gemini suggested I consider betting on Ole Miss to cover a 10.5-point spread against Kentucky. That was bad advice. Not ju… [+10889 chars]",
              "author": "Jon Reed",
              "source": "CNET",
              "publishedAt": "2025-09-20T11:12:03Z",
              "QualityScore": 11,
              "host": ""
            },
            {
              "title": "OpenAI says its AI models are schemers that could cause 'serious harm' in the future. Here's its solution.",
              "url": "https://www.businessinsider.com/openai-chatgpt-scheming-harm-solution-2025-9",
              "description": "OpenAI says its AI models are prone to secretly break the rules and is testing ways to prevent it before AI becomes more powerful.",
              "content": "Sam Altman, the CEO of OpenAI, said Meta tried to recruit his employees by offering them $100 million signing bonuses.Jakub Porzycki/NurPhoto via Getty Images\r\n<ul><li>OpenAI says its AI models tend … [+2831 chars]",
              "author": "Lakshmi Varanasi",
              "source": "Business Insider",
              "publishedAt": "2025-09-18T13:24:36Z",
              "QualityScore": 11,
              "host": ""
            },
            {
              "title": "Time-of-Check Time-of-Use Attacks Against LLMs",
              "url": "https://www.schneier.com/blog/archives/2025/09/time-of-check-time-of-use-attacks-against-llms.html",
              "description": "This is a nice piece of research: “Mind the Gap: Time-of-Check to Time-of-Use Vulnerabilities in LLM-Enabled Agents“.:\nAbstract: Large Language Model (LLM)-enabled agents are rapidly emerging across a wide range of applications, but their deployment introduce…",
              "content": "This is a nice piece of research: “Mind the Gap: Time-of-Check to Time-of-Use Vulnerabilities in LLM-Enabled Agents“.:\nAbstract: Large Language Model (LLM)-enabled agents are rapidly emerging across … [+1353 chars]",
              "author": "Bruce Schneier",
              "source": "Schneier.com",
              "publishedAt": "2025-09-17T15:58:11Z",
              "QualityScore": 11,
              "host": ""
            },
            {
              "title": "OpenAI Says Models Programmed To Make Stuff Up Instead of Admitting Ignorance",
              "url": "https://slashdot.org/story/25/09/17/1724241/openai-says-models-programmed-to-make-stuff-up-instead-of-admitting-ignorance",
              "description": "AI models often produce false outputs, or \"hallucinations.\" Now OpenAI has admitted they may result from fundamental mistakes it makes when training its models. The Register: The admission came in a paper [PDF] published in early September, titled \"Why Langua…",
              "content": "The admission came in a paper[PDF] published in early September, titled \"Why Language Models Hallucinate,\" and penned by three OpenAI researchers and Santosh Vempala, a distinguished professor of com… [+835 chars]",
              "author": "msmash",
              "source": "Slashdot.org",
              "publishedAt": "2025-09-17T17:28:00Z",
              "QualityScore": 11,
              "host": ""
            }
          ]
        }
      }
    ],
    "ReadPrimary": [
      {
        "json": {
          "data": "Title: Accelerating battery innovation: AI-powered molecular discovery\n\nURL Source: http://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j\n\nMarkdown Content:\nAccelerating battery innovation: AI-powered molecular discovery - Chemical Society Reviews (RSC Publishing) \n\n===============\n\n[Jump to main content ![Image 4](https://www.rsc-cdn.org/oxygen/assets/icons/arrow-right-o-light.png)](http://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j#maincontent)[Jump to site search ![Image 5](https://www.rsc-cdn.org/oxygen/assets/icons/arrow-right-o-light.png)](http://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j#SearchText)\n\n[![Image 6](https://www.rsc-cdn.org/oxygen/assets/icons/menu-light.png)](http://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j#)\n\n[Publishing](http://pubs.rsc.org/ \"Publishing home page\")\n\n*   [Journals](http://pubs.rsc.org/en/journals?key=title&value=current)\n*   [Books](https://books.rsc.org/books/search-results?fl_SiteID=5&page=1&f_ContentType=Book&sort=Date+-+Newest+First)\n*   [Databases](https://www.rsc.org/journals-books-databases/databases-literature-updates/)\n\n[![Image 7](https://www.rsc-cdn.org/oxygen/assets/icons/search-light.png)](http://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j#)\n\nSearch \n\n![Image 8](https://www.rsc-cdn.org/oxygen/assets/icons/arrow-right.png)[Advanced](http://pubs.rsc.org/en/search/advancedsearch)\n\n[![Image 9](https://www.rsc-cdn.org/oxygen/assets/icons/user-light.png)](http://pubs.rsc.org/en/account/logon)\n\n[![Image 10](https://www.rsc-cdn.org/oxygen/assets/icons/trolley-light.png)](https://www.rsc.org/basket/shoppingcart/orderitems?returnurl=https://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j)\n\n[![Image 11: Royal Society of Chemistry homepage](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/rsc-logo-rev-pubs.svg)](https://www.rsc.org/)\n\nSearch \n\n![Image 12](https://www.rsc-cdn.org/oxygen/assets/icons/arrow-right.png)\n\nYou must enter a search term\n\n[Advanced search](http://pubs.rsc.org/en/search/advancedsearch)\n\n[Log in / register](http://pubs.rsc.org/en/account/logon)\n\n![Image 13](https://www.rsc-cdn.org/oxygen/v2/images/themes/light/icons/info-o.png) SCHEDULED MAINTENANCE: [![Image 14: Close the message box](https://www.rsc-cdn.org/oxygen/assets/icons/cross-light.png)](http://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j#)\n\n**Maintenance work is planned on Thursday 2nd October 2025 from 09:00 to 10:00 BST.**\n\nDuring this time the performance of our website may be affected - searches may run slowly, some pages may be temporarily unavailable, and you may be unable to log in or to access content. If this happens, please try refreshing your web browser or try waiting two to three minutes before trying again.\n\nWe apologise for any inconvenience caused and thank you for your patience.\n\n[![Image 15](http://pubs.rsc.org/en/Image/Get?imageInfo.ImageType=CoverIssue&imageInfo.ImageIdentifier.SerCode=CS&imageInfo.ImageIdentifier.IssueId=CS054018) From the journal: ### Chemical Society Reviews](http://pubs.rsc.org/en/journals/journal/cs)\n\nAccelerating battery innovation: AI-powered molecular discovery\n---------------------------------------------------------------\n\n![Image 16: Check for updates](https://crossmark-cdn.crossref.org/widget/v2.0/logos/CROSSMARK_Color_horizontal.svg)\n\n[Yu-Chen Gao](http://pubs.rsc.org/en/results?searchtext=Author%3AYu-Chen%20Gao), [![Image 17: ORCID logo](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/orcid_16x16.png)](https://orcid.org/0000-0002-3143-4077 \"Select to open ORCID record for Yu-Chen Gao (orcid.org/0000-0002-3143-4077) in a new window\")_a_[Xiang Chen](http://pubs.rsc.org/en/results?searchtext=Author%3AXiang%20Chen), [![Image 18: ORCID logo](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/orcid_16x16.png)](https://orcid.org/0000-0002-7686-6308 \"Select to open ORCID record for Xiang Chen (orcid.org/0000-0002-7686-6308) in a new window\") *_abc_[Yu-Hang Yuan](http://pubs.rsc.org/en/results?searchtext=Author%3AYu-Hang%20Yuan), [![Image 19: ORCID logo](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/orcid_16x16.png)](https://orcid.org/0009-0003-2756-827X \"Select to open ORCID record for Yu-Hang Yuan (orcid.org/0009-0003-2756-827X) in a new window\")_a_[Yao-Peng Chen](http://pubs.rsc.org/en/results?searchtext=Author%3AYao-Peng%20Chen), [![Image 20: ORCID logo](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/orcid_16x16.png)](https://orcid.org/0009-0005-1631-8157 \"Select to open ORCID record for Yao-Peng Chen (orcid.org/0009-0005-1631-8157) in a new window\")_a_[Yi-Lin Niu](http://pubs.rsc.org/en/results?searchtext=Author%3AYi-Lin%20Niu), [![Image 21: ORCID logo](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/orcid_16x16.png)](https://orcid.org/0009-0006-4362-8211 \"Select to open ORCID record for Yi-Lin Niu (orcid.org/0009-0006-4362-8211) in a new window\")_a_[Nan Yao](http://pubs.rsc.org/en/results?searchtext=Author%3ANan%20Yao), [![Image 22: ORCID logo](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/orcid_16x16.png)](https://orcid.org/0000-0003-1965-2917 \"Select to open ORCID record for Nan Yao (orcid.org/0000-0003-1965-2917) in a new window\")_a_[Yan-Bin Gao](http://pubs.rsc.org/en/results?searchtext=Author%3AYan-Bin%20Gao), [![Image 23: ORCID logo](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/orcid_16x16.png)](https://orcid.org/0009-0003-7431-5574 \"Select to open ORCID record for Yan-Bin Gao (orcid.org/0009-0003-7431-5574) in a new window\")_a_[Wei-Lin Li](http://pubs.rsc.org/en/results?searchtext=Author%3AWei-Lin%20Li)[![Image 24: ORCID logo](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/orcid_16x16.png)](https://orcid.org/0009-0009-0511-289X \"Select to open ORCID record for Wei-Lin Li (orcid.org/0009-0009-0511-289X) in a new window\")_a_ and[Qiang Zhang](http://pubs.rsc.org/en/results?searchtext=Author%3AQiang%20Zhang)[![Image 25: ORCID logo](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/orcid_16x16.png)](https://orcid.org/0000-0002-3929-1541 \"Select to open ORCID record for Qiang Zhang (orcid.org/0000-0002-3929-1541) in a new window\") *_abc_\n\n[Author affiliations](http://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j#)\n\n*  Corresponding authors\n\na Beijing Key Laboratory of Complex Solid State Batteries & Tsinghua Center for Green Chemical Engineering Electrification, Department of Chemical Engineering, Tsinghua University, Beijing 100084, P.R. China \n\n**E-mail:**[xiangchen@mail.tsinghua.edu.cn](mailto:xiangchen@mail.tsinghua.edu.cn \"xiangchen@mail.tsinghua.edu.cn\"), [zhang-qiang@mails.tsinghua.edu.cn](mailto:zhang-qiang@mails.tsinghua.edu.cn \"zhang-qiang@mails.tsinghua.edu.cn\")\n\nb Institute for Carbon Neutrality, Tsinghua University, Beijing 100084, P.R. China\n\nc Innovation Center for Smart Solid-State Batteries, Yibin, P.R. China\n\n### Abstract\n\nThe global energy transition urgently demands advanced battery technologies to address current climate challenges, where molecular engineering plays a pivotal role in optimizing performance metrics such as energy density, cycling lifespan, and safety. This review systematically examines the integration of artificial intelligence (AI) into molecular discovery for next-generation battery systems, addressing both transformative potential and sustainability challenges. Firstly, multidimensional strategies for molecular representation are delineated to establish machine-readable inputs, serving as a prerequisite for AI-driven molecular discovery (Section 2). Subsequently, AI algorithms are systematically summarized, encompassing classical machine learning, deep learning, and the emerging class of large language models (Section 3). Next, the substantial potential of AI-powered predictions for key electrochemical properties is illustrated, including redox potential, viscosity, and dielectric constant (Section 4). Through paradigmatic case studies, significant applications of AI in molecular design are elucidated, spanning chemical knowledge discovery, high-throughput virtual screening, oriented molecular generation, and high-throughput experimentation (Section 5). Finally, a general conclusion and a critical perspective on current challenges and future directions are presented, emphasizing the integration of molecular databases, algorithms, computational power, and autonomous experimental platforms. AI is expected to accelerate molecular design, thereby facilitating the development of next-generation battery systems and enabling sustainable energy innovations.\n\n![Image 26: Graphical abstract: Accelerating battery innovation: AI-powered molecular discovery](http://pubs.rsc.org/en/Image/Get?imageInfo.ImageType=GA&imageInfo.ImageIdentifier.ManuscriptID=D5CS00053J&imageInfo.ImageIdentifier.Year=2025)\n\n You have access to this article \n\n![Image 27](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/Ajax-GA-Loader.gif) Please wait while we load your content...  Something went wrong. [Try again?](http://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j#)\n\n[About](http://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j#pnlAbstract)\n\n[Cited by](http://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j#pnlCitation)\n\n[Related](http://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j#pnlRelatedContent)\n\n[Buy this article £42.50*](http://pubs.rsc.org/en/content/buyarticlepdf/d5cs00053j)\n* Exclusive of taxes\n\n* * *\n\n**Other ways to access this content**\n\n[Log in Using your institution credentials](http://pubs.rsc.org/en/content/federatedaccess?msid=d5cs00053j&doi=10.1039%2Fd5cs00053j&journalcode=cs&printyear=2025&contenttype=article&returnurl=https%3A%2F%2Fpubs.rsc.org%2Fen%2Fcontent%2Farticlelanding%2F2025%2Fcs%2Fd5cs00053j)[Sign in With your membership or subscriber account](http://pubs.rsc.org/en/account/logon?returnurl=https%3A%2F%2Fpubs.rsc.org%2Fen%2Fcontent%2Farticlelanding%2F2025%2Fcs%2Fd5cs00053j&callback=true)\n\nArticle information\n-------------------\n\nDOI[https://doi.org/10.1039/D5CS00053J](https://doi.org/10.1039/D5CS00053J \"Link to landing page via DOI\")\n\n**Article type**Review Article\n\nSubmitted 05 May 2025\n\nFirst published 22 Sep 2025\n\n### Download Citation\n\n_**Chem. Soc. Rev.**_, 2025, Advance Article \n\n### Permissions\n\n[Request permissions](http://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j#)\n\n[![Image 28](https://www.rsc-cdn.org/oxygen/assets/icons/cross.png)](http://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j#)\n### Accelerating battery innovation: AI-powered molecular discovery\n\nY. Gao, X. Chen, Y. Yuan, Y. Chen, Y. Niu, N. Yao, Y. Gao, W. Li and Q. Zhang, _Chem. Soc. Rev._, 2025, Advance Article , **DOI:**10.1039/D5CS00053J\n\nTo request permission to reproduce material from this article, please go to the [Copyright Clearance Center request page](https://marketplace.copyright.com/rs-ui-web/mp/search/all/10.1039%2fD5CS00053J).\n\nIf you are **an author contributing to an RSC publication, you do not need to request permission** provided correct acknowledgement is given.\n\nIf you are **the author of this article, you do not need to request permission to reproduce figures and diagrams** provided correct acknowledgement is given. If you want to reproduce the whole article in a third-party publication (excluding your thesis/dissertation for which permission is not required) please go to the [Copyright Clearance Center request page](https://marketplace.copyright.com/rs-ui-web/mp/search/all/10.1039%2fD5CS00053J).\n\nRead more about [how to correctly acknowledge RSC content](https://www.rsc.org/journals-books-databases/journal-authors-reviewers/licences-copyright-permissions/#acknowledgements).\n\n[![Image 29](https://www.rsc-cdn.org/oxygen/assets/icons/cross.png)](http://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j#)\n\n### Social activity\n\n[![Image 30](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/twitter.svg)Tweet](https://twitter.com/intent/tweet/?text=Accelerating+battery+innovation%3a+AI-powered+molecular+discovery+-+now+published+in+Chemical+Society+Reviews&url=https%3a%2f%2fpubs.rsc.org%2fen%2fcontent%2farticlelanding%2f2025%2fcs%2fd5cs00053j)\n\n[![Image 31](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/wechat.svg)Share](http://pubs.rsc.org/en/Image/GetQrCode?url=https%3A%2F%2Fpubs.rsc.org%2Fen%2Fcontent%2Farticlelanding%2F2025%2Fcs%2Fd5cs00053j)\n\nSearch articles by author\n-------------------------\n\n- [x] Yu-Chen Gao \n\n- [x] Xiang Chen \n\n- [x] Yu-Hang Yuan \n\n- [x] Yao-Peng Chen \n\n- [x] Yi-Lin Niu \n\n- [x] Nan Yao \n\n- [x] Yan-Bin Gao \n\n- [x] Wei-Lin Li \n\n- [x] Qiang Zhang \n\nThis article has not yet been cited.\n\nLoading related content![Image 32](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/Ajax-GA-Loader.gif)\n\n### Spotlight\n\n### Advertisements\n\n*   [rsc.org](https://www.rsc.org/)\n*   ![Image 33](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/chevron-right.png)[Journals, books & databases](https://www.rsc.org/journals-books-databases/)\n\n![Image 34: Royal Society of Chemistry homepage](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/rsc-logo-rev-pubs.svg)\n\n*   [Home](https://www.rsc.org/)\n*   [About us](https://www.rsc.org/about-us/)\n*   [Membership & professional community](https://www.rsc.org/membership-and-community/)\n*   [Campaigning & outreach](https://www.rsc.org/campaigning-outreach/)\n*   [Journals, books & databases](https://www.rsc.org/journals-books-databases/)\n*   [Teaching & learning](https://www.rsc.org/teaching-and-learning/)\n*   [News& events](https://www.rsc.org/news-events/)\n*   [Locations & contacts](https://www.rsc.org/locations-contacts/)\n*   [Careers](https://www.rsc.org/careers/)\n*   [Awards & funding](https://www.rsc.org/awards-funding/)\n*   [Advertise](https://www.rsc.org/advertise/)\n*   [Help & legal](https://www.rsc.org/help-legal/)\n*   [Privacy policy](https://www.rsc.org/help-legal/legal/privacy/)\n*   [Terms & conditions](https://www.rsc.org/help-legal/legal/terms-conditions/)\n\n* * *\n\n[Facebook![Image 35](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/facebook-128.png)](https://www.facebook.com/RoyalSocietyofChemistry)[Twitter![Image 36](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/twitter-128.png)](https://twitter.com/RoySocChem)[LinkedIn![Image 37](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/linkedin-128.png)](https://www.linkedin.com/company/23105)[YouTube![Image 38](https://www.rsc-cdn.org/pubs-core/2022.0.190/content/NewImages/youtube-128.png)](https://www.youtube.com/user/wwwRSCorg)\n\n © Royal Society of Chemistry 2025\n\nRegistered charity number: 207890 \n\n* * *\n\nThis website collects cookies to deliver a better user experience.  See how this site uses [Cookies](http://pubs.rsc.org/en/content/cookies \"See how this site uses cookies\"). [Do not sell my personal data](http://pubs.rsc.org/en/content/cookies \"Do not sell my personal data\"). \n\n Este site coleta cookies para oferecer uma melhor experiência ao usuário.  Veja como este site usa [Cookies](http://pubs.rsc.org/en/content/cookies \"Veja como este site usa cookies\"). \n\n[![Image 39](https://www.rsc-cdn.org/oxygen/assets/icons/cross-light.png)](http://pubs.rsc.org/en/content/articlelanding/2025/cs/d5cs00053j#)[Publishing](http://pubs.rsc.org/ \"Publishing home page\")\n\nJournals\n--------\n\n*   [Current Journals](http://pubs.rsc.org/en/journals?key=title&value=current)\n*   [Archive Journals](http://pubs.rsc.org/en/journals?key=title&value=archive)\n*   [All Journals](http://pubs.rsc.org/en/journals?key=title&value=all)\n\nBooks\n-----\n\n*   [Browse Books](https://books.rsc.org/books/search-results?fl_SiteID=5&page=1&f_ContentType=Book&sort=Date+-+Newest+First)\n*   [Series](https://books.rsc.org/books/collections/series)\n*   [For Authors and Editors](https://www.rsc.org/journals-books-databases/book-authors/propose-book-idea/)\n*   [About](https://www.rsc.org/journals-books-databases/book-authors/)\n\nDatabases\n---------\n\n*   [Literature Updates](https://www.rsc.org/journals-books-databases/databases-literature-updates/)\n*   [ChemSpider](http://www.chemspider.com/)\n*   [The Merck Index*](https://www.rsc.org/merck-index)\n*   [MarinLit](https://marinlit.rsc.org/)\n\nMore\n----\n\n*   [For Members](https://www.rsc.org/resources-tools/research-tools/#access)\n*   [For Librarians](http://pubs.rsc.org/en/librarian/home)\n*   [Subscribe](https://www.rsc.org/journals-books-databases/about-journals/journal-email-alerts-service/)\n*   [RSS Feeds](http://pubs.rsc.org/en/ealerts/rssfeed)\n*   [Blogs](http://blogs.rsc.org/)\n*   [Chemistry World](https://www.chemistryworld.com/)\n*   [Education in Chemistry](https://edu.rsc.org/eic)\n*   [Open Access](https://www.rsc.org/journals-books-databases/open-access/)\n*   [Historical Collection](http://pubs.rsc.org/historical-collection)\n\nThis site uses cookies\n----------------------\n\nThis website uses cookies and similar technologies to store and retrieve information about your use of this website. This information helps us to provide, analyse and improve our services, which may include personalised content or advertising. We may share this information with Google and other third parties. Some cookies are necessary for our website to work properly and others are optional. You can review and configure your cookie settings by clicking on 'Do not sell my personal information'.[View Privacy Policy](https://www.rsc.org/help-legal/legal/privacy/)\n\nDo not sell my personal information OK\n\n![Image 40: RSC Logo](https://cdn-ukwest.onetrust.com/logos/880cda1d-85d9-43c4-899f-ed380791231c/a41c51e9-cfe8-430f-9987-7b909463bdd3/92b84d2c-03d5-45f4-82d8-9f47e6435416/rsc-logo.png)\n\nDo not sell my personal information\n-----------------------------------\n\nWhen you visit any website, it may store or retrieve information on your browser, mostly in the form of cookies. This information might be about you, your preferences or your device and is mostly used to make the site work as you expect it to. The information does not usually directly identify you, but it can give you a more personalised web experience. Because we respect your right to privacy, you can choose not to allow some types of cookies. Click on the different category headings to find out more and change our default settings. However, blocking some types of cookies may impact your experience of the site and the services we are able to offer.\n\nAllow all\n### Manage consent preferences\n\n#### Strictly necessary cookies\n\nAlways active\n\nThese cookies are necessary for the website to function and cannot be switched off in our systems. They are usually only set in response to actions made by you which amount to a request for services, such as setting your privacy preferences, logging in or filling in forms. You can set your browser to block or alert you about these cookies, but some parts of the site will not then work. These cookies do not store any personally identifiable information.\n\n#### Sale of Personal Data\n\n- [x] Sale of Personal Data \n\nUnder the California Consumer Privacy Act, you have the right to opt-out of the sale of your personal information to third parties. These cookies collect information for analytics and to personalize your experience with targeted ads. You may exercise your right to opt out of the sale of personal information by using this toggle switch. If you opt out we will not be able to offer you personalised ads and will not hand over your personal information to any third parties. Additionally, you may contact our legal department for further clarification about your rights as a California consumer by using this [Exercise My Rights](mailto:DPO@rsc.org) link.\n\nIf you have enabled privacy controls on your browser (such as a plugin), we have to take that as a valid request to opt-out. Therefore we would not be able to track your activity through the web. This may affect our ability to personalize ads according to your preferences.\n\n*   ##### Analytical cookies\n\n- [x] Switch Label label  \nThese cookies allow us to count visits and traffic sources so we can measure and improve the performance of our site. They help us to know which pages are the most and least popular and see how visitors move around the site. All information these cookies collect is aggregated and therefore anonymous. If you do not allow these cookies we will not know when you have visited our site, and will not be able to monitor its performance.\n\n*   ##### Targeting cookies\n\n- [x] Switch Label label  \nThese cookies may be set through our site by our advertising partners. They may be used by those companies to build a profile of your interests and show you relevant adverts on other sites. They do not store directly personal information, but are based on uniquely identifying your browser and internet device. If you do not allow these cookies, you will experience less targeted advertising.\n\n### Cookie List\n\nClear\n\n- [x] checkbox label label\n\nApply Cancel\n\nConsent Leg.Interest\n\n- [x] checkbox label label\n\n- [x] checkbox label label\n\n- [x] checkbox label label\n\nConfirm my choices\n\n[![Image 41: Powered by Onetrust](https://cdn-ukwest.onetrust.com/logos/static/powered_by_logo.svg)](https://www.onetrust.com/products/cookie-consent/)\n"
        }
      }
    ]
  },
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "SetConfig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetConfig": {
      "main": [
        [
          {
            "node": "NewsFetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewsFetch": {
      "main": [
        [
          {
            "node": "ScoreSelect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScoreSelect": {
      "main": [
        [
          {
            "node": "ReadPrimary",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAICompose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReadPrimary": {
      "main": [
        [
          {
            "node": "OpenAICompose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAICompose": {
      "main": [
        [
          {
            "node": "ParseLLMPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MakeImageJobs": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "GenImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenImage": {
      "main": [
        [
          {
            "node": "CollectImgs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CollectImgs": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AssembleMD": {
      "main": [
        [
          {
            "node": "PrepareCommit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareCommit": {
      "main": [
        [
          {
            "node": "GitHubPush",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseLLMPayload": {
      "main": [
        [
          {
            "node": "MakeImageJobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FinalizeImages": {
      "main": [
        [
          {
            "node": "AssembleMD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "37b457d7-3e0c-4686-8fdf-41ea1626c88c",
  "meta": {
    "instanceId": "07d1041ff3917b6fea954efa1ffb533eaee2c99ed393956fa7cc3e8f87f14a09"
  },
  "id": "zVkZc6JeeQjZNHhU",
  "tags": []
}