workflows/01_my_workflows/01_news_wechat/新闻评论改写.json
{
  "name": "新闻评论改写",
  "nodes": [
    {
      "parameters": {},
      "id": "0f6570a8-f175-4ff6-a241-d3573ce51269",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1328,
        256
      ]
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const MUST = [\n  '(AI OR \"large language model\" OR LLM OR 生成式)'\n];\nconst MUST_NOT = [\n  \n];\n\nconst CFG = {\n  QUERY: `${MUST.join(' AND ')} ${MUST_NOT.map(x => `-${x}`).join(' ')}`,\n  LANGUAGE: 'en',\n  FROM_DAYS: 1,\n  MAX_ARTICLES: 50,\n  TAKE_TOP: 30,\n  OPENAI_CHAT: 'gpt-4o-mini',\n  OPENAI_IMAGE: 'gpt-image-1',\n  COVER_SIZE: '1024x576',\n  BODY_SIZE: '1024x1024',\n  BRAND: {\n    palette: ['#0F172A','#22D3EE','#A78BFA'],\n    style: 'editorial illustration, semi-flat, clean, minimal, soft lighting',\n    negatives: 'text, watermark, logo, brand, people, realistic faces, hands, busy background'\n  },\n  // 建议改为：四大分析/洞察优先\n  PREFERRED_CATEGORIES : ['tech_insight','industry_insight','deep_tech','product_insight'],\n  \n  WEIGHTS : {\n    // ——基础权重（总分贡献占比）——\n    base: { sourceTrust: 0.25, recency: 0.15, length: 0.15 },\n  \n    // ——正向信号（每命中一次的基点，内部会封顶/衰减）——\n    signals: {\n      // 洞察/分析\n      insight: {\n        titleCue: 12,      // 标题/URL含 how/why/analysis/解读/洞察/详解/拆解\n        keyword: 10,       // 文内 analysis/deep dive/inside/趋势/产业链 等\n        industry: 10,      // 芯片/供应链/封装/HBM/产能/节点nm 等行业词\n        longform: 8,       // 文本较长（>1500字节）额外加\n        trustedHost: 6     // 可信媒体（BBC/FT/Reuters/WSJ/Ars/Wired…）\n      },\n      // 技术进展\n      tech: {\n        terms: 6,          // architecture/ablation/SOTA/quantization/MoE 等\n        paper: 9,          // arXiv/OpenReview 链接或提及\n        code: 7,           // GitHub/HF 仓库\n        benchmark: 7,      // MMLU/GSM8K/ImageNet/COCO/GLUE…\n        numbers: 2         // 有指标/百分比/大数（轻微加）\n      }\n    },\n  \n    // ——负向信号（每命中一次的扣分；strong insight/tech 时会折扣）——\n    penalties: {\n      pr: 9,               // PR/活动/发布会/获奖/合作/招聘/调查\n      policy: 7,           // 纯政策/法案/合规（分析类会折扣）\n      productNews: 4       // 纯产品发布口径（无技术/无拆解）\n    },\n    dampIfStrong: {        // 有料则“罚款打折”\n      threshold: 18,       // insightBoost+techBoost ≥ 18\n      factor: 0.5\n    },\n  \n    // ——类别乘数（最后乘以这个系数，决定“谁更上头条”）——\n    categoryMultiplier: {\n      tech_insight:     1.25,  // 技术分析/技术洞察 —— 最高\n      industry_insight: 1.25,  // 行业分析/行业洞察 —— 最高\n      deep_tech:        1.12,  // 论文/基准/代码等“硬技术进展”\n      product_insight:  1.08,  // 产品架构拆解/对比评测\n      product_news:     0.85,  // 纯上新/公告\n      policy_news:      0.80,  // 纯政策新闻\n      pr_event:         0.60,  // PR/活动/获奖/招聘等\n      other:            0.75\n    },\n  \n    // ——时效曲线（洞察类不用太追 24h 热点）——\n    recencyHalfLifeHours: 96   // 半衰期 96h：4 天内仍有权重\n  }\n};\n\nCFG.FROM_ISO = new Date(Date.now() - CFG.FROM_DAYS*24*60*60*1000).toISOString();\nreturn [{json: CFG}];\n"
      },
      "id": "19cfee95-4ee2-4b30-829f-3ea8e88c72a4",
      "name": "SetConfig",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1040,
        256
      ],
      "notesInFlow": true,
      "notes": "ENV: NEWSAPI_KEY, OPENAI_API_KEY, GITHUB_TOKEN, GITHUB_OWNER, GITHUB_REPO, (optional) GITHUB_BRANCH"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?apiKey=ea6cb051d8234eb390a8289224733bab",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$json.QUERY}}"
            },
            {
              "name": "language",
              "value": "={{$json.LANGUAGE || 'en'}}"
            },
            {
              "name": "pageSize",
              "value": "={{ String($json.MAX_ARTICLES || 50) }}"
            },
            {
              "name": "sortBy",
              "value": "relevancy"
            },
            {
              "name": "from",
              "value": "={{$json.FROM_ISO}}"
            }
          ]
        },
        "options": {}
      },
      "id": "87a9ba43-ecc4-4c53-9876-b8f3228a7505",
      "name": "NewsFetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -768,
        256
      ],
      "headerParametersUi": {
        "parameter": [
          {
            "name": "X-Api-Key",
            "value": "={{$env.NEWSAPI_KEY}}"
          }
        ]
      },
      "notesInFlow": true,
      "notes": "Query parameters driven by SetConfig to avoid invalid URL"
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "/***********************\n * ScoreSelect (v2) — 深度筛选与加权排序\n * 期望输入：items[0].json.articles  (NewsAPI 风格)\n * 期望可选：$items('SetConfig',0,0).json 里含:\n *   - PREFERRED_CATEGORIES: ['tech_insight','industry_insight','deep_tech','product_insight'] 等\n *   - WEIGHTS: 见下 DEFAULT_WEIGHTS，可在 SetConfig 覆盖\n * 产出：{ primary, related, candidates }\n ***********************/\n\nfunction deepMerge(t, s) {\n  if (!s || typeof s !== 'object') return t;\n  for (const k of Object.keys(s)) {\n    const v = s[k];\n    if (v && typeof v === 'object' && !Array.isArray(v)) {\n      if (!t[k] || typeof t[k] !== 'object') t[k] = {};\n      deepMerge(t[k], v);\n    } else t[k] = v;\n  }\n  return t;\n}\n\nconst DEFAULT_WEIGHTS = {\n  base: { sourceTrust: 0.25, recency: 0.15, length: 0.15 }, // 基础分占比\n  signals: {\n    insight: {\n      titleCue: 12,     // 标题/URL: how/why/analysis/解读/洞察/详解/拆解...\n      keyword: 10,      // 文内: analysis/deep dive/inside/趋势/产业链...\n      industry: 10,     // 芯片/供应链/封装/HBM/工艺/节点nm...\n      longform: 8,      // >1500 字节\n      trustedHost: 6    // 可信媒体\n    },\n    tech: {\n      terms: 6,         // architecture/ablation/SOTA/quantization/MoE...\n      paper: 9,         // arXiv/OpenReview\n      code: 7,          // GitHub/HuggingFace\n      benchmark: 7,     // MMLU/GSM8K/ImageNet/COCO/GLUE...\n      numbers: 2        // 成熟指标/百分比/大数\n    }\n  },\n  penalties: {\n    pr: 9,              // PR/活动/获奖/合作/招聘\n    policy: 7,          // 纯政策\n    productNews: 4      // 纯产品发布口径（无拆解）\n  },\n  dampIfStrong: { threshold: 18, factor: 0.5 }, // 有料则罚款打折\n  categoryMultiplier: {\n    tech_insight:     1.25, // 技术分析/技术洞察\n    industry_insight: 1.25, // 行业分析/行业洞察\n    deep_tech:        1.12, // 论文/benchmark/代码\n    product_insight:  1.08, // 架构拆解/对比评测\n    product_news:     0.85, // 纯发布\n    policy_news:      0.80, // 纯政策\n    pr_event:         0.60, // PR/活动\n    other:            0.75\n  },\n  recencyHalfLifeHours: 96\n};\n\n// —— 输入与配置 —— //\nconst in0 = (Array.isArray(items) && items[0] && items[0].json) ? items[0].json : {};\nconst rawArts = Array.isArray(in0.articles) ? in0.articles : [];\nlet cfg = {};\ntry { cfg = ($items('SetConfig', 0, 0) && $items('SetConfig',0,0).json) || {}; } catch (e) { cfg = {}; }\nconst preferred = Array.isArray(cfg.PREFERRED_CATEGORIES)\n  ? cfg.PREFERRED_CATEGORIES\n  : ['tech_insight','industry_insight','deep_tech','product_insight'];\n\nconst W = deepMerge(JSON.parse(JSON.stringify(DEFAULT_WEIGHTS)), cfg.WEIGHTS || {}); // 深合并权重\nconst takeTop = Number(cfg.TAKE_TOP || 30);\n\n// —— 工具 —— //\nconst now = Date.now();\nfunction host(u){ try{ return new URL(u).hostname.replace(/^www\\./,''); } catch { return ''; } }\nfunction hours(iso){ const t = new Date(iso || now).getTime(); return Math.max(1,(now - t)/36e5); }\nfunction recencyScore(h){\n  // 半衰期：W.recencyHalfLifeHours\n  const half = Math.max(24, Number(W.recencyHalfLifeHours||96));\n  // 映射到 0~20 区间\n  const decay = Math.pow(0.5, h/half);\n  return Math.round(20 * decay);\n}\nfunction lengthScore(len){\n  // 0~12 阶梯\n  return len>6000?12: len>3000?10: len>1500?7: len>800?5: 3;\n}\nfunction hasAny(text, arr){\n  text = text || '';\n  for (const term of arr) {\n    const re = new RegExp(term, 'i');\n    if (re.test(text)) return true;\n  }\n  return false;\n}\nfunction countAny(text, arr){\n  text = text || '';\n  let n=0;\n  for (const term of arr) {\n    const re = new RegExp(term, 'i');\n    if (re.test(text)) n++;\n  }\n  return n;\n}\n\n// —— 域名可信度 —— //\nconst RE_RESEARCH = /(arxiv\\.org|ar5iv|openreview\\.net|jmlr\\.org|aclanthology\\.org|openaccess\\.thecvf\\.com|neurips\\.cc|icml\\.cc|iclr\\.cc|ai\\.googleblog\\.com|deepmind\\.google|openai\\.com|anthropic\\.com|microsoft\\.com\\/research|meta\\.ai|huggingface\\.co)/i;\nconst RE_TRUSTED  = /(bbc\\.com|reuters\\.com|bloomberg\\.com|ft\\.com|wsj\\.com|nytimes\\.com|theinformation\\.com|wired\\.com|arstechnica\\.com|semianalysis\\.com|nikkei\\.com|economist\\.com|cnbeta\\.com|36kr\\.com)/i;\n\n// —— 信号词 —— //\nconst TITLE_CUES = ['\\\\bhow\\\\b','\\\\bwhy\\\\b','analysis','explained','deep\\\\s*dive','inside','what\\\\s+it\\\\s+means','解读','解析','详解','洞察','拆解'];\nconst INSIGHT_KEYWORDS = ['analysis','explainer','deep\\\\s*dive','insight','trend','supply\\\\s*chain','what\\\\s+it\\\\s+means','趋势','洞察','解读','解析','详解','拆解','产业链'];\nconst INDUSTRY_TERMS = [\n  'semiconductor','chip','gpu','npu','accelerator','foundry','node\\\\s*\\\\d+nm','capacity','capex','packaging','hbm','cowos','chiplet','eda','lithography','euv','duv','tsmc','samsung','smic','nvidia','huawei','ascend','gaudi','供应链','产能','良率','封装','工艺','芯片','半导体','HBM','CoWoS'\n];\nconst TECH_TERMS = [\n  'architecture','ablation','sota','quantiz','lora','moe','diffusion','transformer','scaling\\\\s*law','tokenizer','throughput','latency','evals?','ROC','AUC','F1','BLEU','cross[-\\\\s]*entropy'\n];\nconst BENCHMARKS = ['MMLU','GSM8K','HumanEval','ImageNet','COCO','SQuAD','SuperGLUE','Big-Bench','BBH','Math'];\nconst PR_TERMS = ['press\\\\s*release','roadmap','partnership','collaboration','merger','grant','funding','acquisition','award','summit','conference','webinar','keynote','event','giveaway','hiring','job','internship','survey'];\nconst POLICY_TERMS = ['regulation','law','act','bill','guideline','governance','ethics','EU\\\\s*AI\\\\s*Act','FTC','制裁','禁令','合规','监管'];\nconst PROD_NEWS = ['launch(es|ed)?','introduc(es|ed)','rolls\\\\s*out','announc(es|ed)','GA\\\\b','\\\\bbeta\\\\b','preview','SDK','toolkit','integration','Gemini','Copilot','Claude','Llama\\\\s*\\\\d'];\n\n// —— 读取输入 —— //\nconst arts = rawArts.map(a => ({\n  title: a.title || '',\n  url: a.url || '',\n  description: a.description || '',\n  content: a.content || '',\n  author: a.author || '',\n  source: (a.source && a.source.name) || '',\n  publishedAt: a.publishedAt || '',\n})).filter(a => a.title && a.url);\n\nif (!arts.length) {\n  // 不抛错，给空但结构化的结果，便于下游兜底\n  return [{ json: { primary: null, related: [], candidates: [] } }];\n}\n\n// —— 打分 —— //\nconst scored = [];\nfor (const a of arts) {\n  const hn = host(a.url);\n  const txt = `${a.title}\\n${a.description}\\n${a.content||''}`;\n  const titleUrl = `${a.title} ${a.url}`;\n  const len = (txt||'').length;\n\n  // 基础：源站/时间/长度\n  const srcScore = RE_RESEARCH.test(hn) ? 32 : RE_TRUSTED.test(hn) ? 24 : 12;\n  const base = (W.base.sourceTrust * srcScore)\n             + (W.base.recency * recencyScore(hours(a.publishedAt)))\n             + (W.base.length * lengthScore(len));\n\n  // 技术正信号\n  const techHits = countAny(txt, TECH_TERMS);\n  const hasArxiv = /arxiv\\.org|ar5iv|openreview\\.net/i.test(a.url) || /arXiv/i.test(txt);\n  const hasCode  = /github\\.com|huggingface\\.co\\/(papers|datasets|models)/i.test(a.url) || /GitHub|repository|code/i.test(txt);\n  const benchHit = hasAny(txt, BENCHMARKS);\n  const numbers  = ((txt.match(/\\b\\d{2}%|\\b\\d{3,4}\\b/g)||[]).length >= 2) ? 1 : 0;\n\n  let techBoost = 0;\n  techBoost += W.signals.tech.terms * Math.min(3, techHits);\n  techBoost += W.signals.tech.paper * (hasArxiv ? 1 : 0);\n  techBoost += W.signals.tech.code  * (hasCode ? 1 : 0);\n  techBoost += W.signals.tech.benchmark * (benchHit ? 1 : 0);\n  techBoost += W.signals.tech.numbers   * numbers;\n\n  // 洞察/分析信号\n  const titleCue   = hasAny(titleUrl, TITLE_CUES) ? 1 : 0;\n  const insightKW  = countAny(txt, INSIGHT_KEYWORDS);\n  const industryKW = countAny(txt, INDUSTRY_TERMS);\n  const longform   = len > 1500 ? 1 : 0;\n  const trusted    = RE_TRUSTED.test(hn) ? 1 : 0;\n\n  let insightBoost = 0;\n  insightBoost += W.signals.insight.titleCue    * titleCue;\n  insightBoost += W.signals.insight.keyword     * Math.min(3, insightKW);\n  insightBoost += W.signals.insight.industry    * Math.min(3, industryKW);\n  insightBoost += W.signals.insight.longform    * longform;\n  insightBoost += W.signals.insight.trustedHost * trusted;\n\n  // 负信号\n  const prHits = countAny(txt, PR_TERMS);\n  const policyHits = countAny(txt, POLICY_TERMS);\n  const prodHits = countAny(txt, PROD_NEWS);\n  const hardBlock = /bug\\\\s*bounty|vulnerability\\\\s*reward|reward\\\\s*program/i.test(txt);\n\n  let penalty = (W.penalties.pr * prHits)\n              + (W.penalties.policy * policyHits)\n              + (W.penalties.productNews * prodHits);\n  if ((techBoost + insightBoost) >= (W.dampIfStrong?.threshold || 18)) {\n    penalty *= (W.dampIfStrong?.factor || 0.5);\n  }\n\n  // 分类（放宽洞察判定；标题/URL信号有效）\n  let category = 'other';\n  if (hardBlock) {\n    category = 'blocked';\n  } else if ((titleCue || insightKW) && (techHits || hasArxiv || hasCode || benchHit)) {\n    category = 'tech_insight'; // 技术分析/技术洞察\n  } else if (\n    (industryKW >= 1) &&\n    (titleCue || insightKW || trusted)\n  ) {\n    category = 'industry_insight'; // 行业分析/行业洞察\n  } else if (hasArxiv || hasCode || benchHit || techHits >= 2) {\n    category = 'deep_tech';\n  } else if (prodHits >= 1 && (titleCue || insightKW)) {\n    category = 'product_insight';\n  } else if (policyHits >= 1 && (techBoost + insightBoost) < 12) {\n    category = 'policy_news';\n  } else if (prHits >= 1 && (techBoost + insightBoost) < 12) {\n    category = 'pr_event';\n  } else if (prodHits >= 1) {\n    category = 'product_news';\n  }\n\n  // 总分 + 类别乘数\n  let score = base + techBoost + insightBoost - penalty;\n  const mult = (W.categoryMultiplier && W.categoryMultiplier[category]) || 1;\n  score = score * mult;\n\n  // 是否保留到候选（严格集）\n  const keepStrict = !hardBlock && preferred.includes(category);\n\n  scored.push({\n    ...a,\n    QualityScore: Math.round(score),\n    host: hn,\n    _base: Math.round(base),\n    _techBoost: Math.round(techBoost),\n    _insightBoost: Math.round(insightBoost),\n    _penalty: Math.round(penalty),\n    _mult: mult,\n    signals: {\n      category, srcScore, len,\n      techHits, hasArxiv, hasCode, benchHit, numbers,\n      titleCue, insightKW, industryKW, longform, trusted,\n      prHits, policyHits, prodHits\n    },\n    _keepStrict: keepStrict\n  });\n}\n\n// —— 去重（近似按标题） —— //\nconst buckets = new Map();\nfor (const a of scored) {\n  const key = (a.title||'').toLowerCase().replace(/[^\\w\\u4e00-\\u9fa5\\s]/g,' ').replace(/\\s+/g,' ').trim();\n  if (!buckets.has(key)) buckets.set(key, []);\n  buckets.get(key).push(a);\n}\nlet kept = [];\nfor (const [, group] of buckets) {\n  group.sort((x,y)=> y.QualityScore - x.QualityScore);\n  // 优先挑严格集的，否则取分最高\n  const strictTop = group.find(g => g._keepStrict);\n  kept.push(strictTop || group[0]);\n}\n\n// —— 只取严格集；若空，则宽松兜底 —— //\nlet strict = kept.filter(x => x._keepStrict);\nstrict.sort((a,b)=> b.QualityScore - a.QualityScore);\n\nif (!strict.length) {\n  // 宽松兜底：可信媒体 + 行业/分析信号（标题/描述级别），但排除奖励计划类\n  const loose = kept.filter(x => {\n    if (/bug\\\\s*bounty|vulnerability\\\\s*reward|reward\\\\s*program/i.test(`${x.title}\\n${x.description}\\n${x.content||''}`)) return false;\n    const looksInsight = x.signals.industryKW >= 1 || x.signals.titleCue || x.signals.insightKW >= 1;\n    const trusted = RE_TRUSTED.test(x.host);\n    return trusted && looksInsight;\n  });\n  strict = loose.length ? loose : kept; // 再不行就直接用 kept，绝不空\n}\n\nstrict.sort((a,b)=> b.QualityScore - a.QualityScore);\nconst finalList = strict.slice(0, Math.min(takeTop, strict.length));\n\nconst primary = finalList[0] || null;\nconst related = finalList.slice(1, 4);\nreturn [{ json: { primary, related, candidates: finalList, weights: W, preferred } }];\n\n\n/*\nconst cfgItem = $items('SetConfig', 0, 0) || { json: {} };\nconst cfg = cfgItem.json || {};\nconst takeTop = Number(cfg.TAKE_TOP || 30);\nconst articles = (items[0].json.articles || []).map(a => ({\n  title: a.title, url: a.url, description: a.description || '',\n  content: a.content || '', author: a.author || '',\n  source: (a.source && a.source.name) || '', publishedAt: a.publishedAt || ''\n})).filter(a => a.title && a.url);\nfunction host(u){ \n  try { \n    return new URL(u).hostname.replace(/^www\\./,''); \n  } catch { \n    return ''; \n  } \n}\nfunction hours(iso){ \n  return Math.max(1,(Date.now()-new Date(iso||Date.now()).getTime())/36e5); \n}\nfunction recency(h){ \n  if(h<=24) return 20; \n  if(h<=48) return 14; \n  if(h<=168) return 9; \n  return 3; \n}\nfunction depth(text){ \n  const l=text.length; \n  let s=l>8000?18:l>4000?14:l>1500?10:l>800?7:4;\n  if(/arxiv|doi|github|sec\\./i.test(text)) \n    s+=2; \n  return Math.min(20,s); \n}\nfunction srcScore(hn){ \n  return /arxiv|nature|sciencedirect|reuters|bloomberg|ft|nytimes|semianalysis|alignmentforum|lesswrong|theverge|techcrunch/i.test(hn)?30:18; \n}\nfunction originality(t){ \n  return /exclusive|interview|whitepaper|benchmark|replicate|ablations?/i.test(t)?8:4; }\nfunction author(a){ \n  return a ? (a.includes(' ')?12:8) : 3; \n}\nfunction score(a){\n  const txt = `${a.title}\\n${a.description}\\n${a.content}`;\n  return Math.round(0.35*srcScore(host(a.url)) + 0.20*recency(hours(a.publishedAt)) + 0.20*depth(txt) + 0.10*originality(txt) + 0.15*author(a.author));\n}\n\nconst buckets = new Map();\n\nfor (const a of articles){\n  const key=(a.title||'').toLowerCase().replace(/[^\\w\\s]/g,' ').replace(/\\s+/g,' ').trim();\n  const s=score(a);\n  const j={...a, QualityScore:s, host:host(a.url)};\n  if(!buckets.has(key)) \n    buckets.set(key,[]);\n  buckets.get(key).push(j);\n}\nlet kept=[];\nfor (const [,group] of buckets){ \n  group.sort((x,y)=>y.QualityScore-x.QualityScore); \n  kept.push(group[0]); \n}\n\nkept.sort((a,b)=>b.QualityScore-a.QualityScore);\n\nif (!kept.length) {\n  throw new Error('No NewsAPI candidates returned for current configuration');\n}\nconst takeCount = Math.min(takeTop, kept.length);\nkept = kept.slice(0, takeCount);\nconst primary = kept[0];\nconst related = kept.slice(1, 4);\nreturn [{json:{primary,related,candidates: kept}}];\n*/"
      },
      "id": "d52bf12f-6dca-4cc3-9b5d-f2f014a95cd1",
      "name": "ScoreSelect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -512,
        256
      ],
      "notesInFlow": true,
      "notes": "Scoring + de-dup + take top N"
    },
    {
      "parameters": {
        "url": "={{ 'https://r.jina.ai/http://' + $json.primary.url.replace(/^https?:\\/\\//,'') }}",
        "options": {}
      },
      "id": "a8017dd5-63eb-40db-ad17-08805097ce22",
      "name": "ReadPrimary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -208,
        256
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const cfgItem = $items('SetConfig', 0, 0) || { json: {} };\n  const cfg = cfgItem.json || {};\n  const brand = cfg.BRAND || {};\n  const primary = $('ScoreSelect').item.json.primary || {};\n\n  const related = Array.isArray($('ScoreSelect').item.json.related ) ? $('ScoreSelect').item.json.related : [];\n\n  const relatedLines = related.length\n    ? related.map(r => `- ${r.title || ''} (${r.url || ''})`).join('\\n')\n    : '- 无参考';\n\n  const articleTextRaw = $json?.data;\n\n  const articleText = typeof articleTextRaw === 'string'\n    ? articleTextRaw\n    : JSON.stringify(articleTextRaw || '');\n  const palette = Array.isArray(brand.palette) ? brand.palette : [];\n  const brandBlock = `BRAND: palette=${JSON.stringify(palette)}, style=${brand.style || ''}, negatives=${brand.negatives || ''}`;\n\n  const userMessage = `主要文章：\n\\n${articleText}\n\n\\n\\n相关参考（仅标题与链接）：\\n${relatedLines}\\n\\n${brandBlock}`;\n\n  const systemMessage = `\n#Role：资深科技评论专家\n你是一个资深科技评论专家，对 AI、大模型、科技等领域有独到的见解，擅长对科技文章进行分析、评论，同时是深耕公众号运营的资深创作者，擅长将基础内容升级为符合平台调性的爆款文，深谙标题吸睛技巧、正文情绪引导和结构优化，能精准规避敏感词。\n\n#Skills:  \n1. 标题创作：能用数字、悬念、痛点词（如「后悔」「揭秘」）打造高打开率标题，字数控制在18-24字  \n2. 正文重塑：     \n  - 开头3句话内必须抛出用户痛点/共鸣场景（如「你是不是也遇到过…」）     \n  - 每段不超过3行，用短句+感叹号/问号增强节奏感     \n  - 自然植入1-2个真实案例（可合理虚构生活化场景）     \n  - 结尾必须包含1句金句（如「真正的XX，从来都是…」）+ 1个互动问题（如「你怎么看？评论区告诉我」）  \n3. 风格适配：默认采用「朋友聊天式」口语化表达，避免书面语，多用「咱」「其实啊」等词拉近距离 \n\n\n#Goals \n对用户提供的内容进行分析、解读、评论，生成符合公众号传播规律的优化解读或评论文章，让读者愿意点开、读完、互动。\n\n#Constraints:  \n- 标题必须包含1个数字/悬念词，禁止使用「如何」「怎样」等平淡词汇  \n- 正文严格遵循：钩子开头（50字内）→ 核心问题（1个设问）→ 案例分析（200字）→ 分层论述（3-4点，每点配小案例）→ 金句总结 → 互动引导  \n- 禁止出现任何敏感词（如政治、低俗词汇），若原文有敏感信息，需替换为中性表达  \n- title=优化后的标题\n- markdown=中文Markdown\n- 在 markdown 中标记图片插入位：在第一段后插入封面图 <!--IMG_COVER-->；\n- 根据文章内容，判断需要插入图片地方（两个图片之间间隔不少于 300 字，全文至少插入 2 个图片），然后分别放如下标识： <!--IMG_KP1-->、<!--IMG_KP2-->、<!--IMG_KPn-->。\n- prompts=用于生成全部图片的提示词数组：封面+内容图片提示词（需包含：主题场景+风格（如「公众号封面，简约插画风格」）+ 细节（如「暖色调」），禁止真实人物/商标），生成封面图片的提示词与全文内容匹配，内容图片的提示词需要与上下文匹配，与 markdown 中的图片插入位严格对应，内容中标识了多少个图片插入位，就必须有多少个提示词。\n\n#Workflows:  \n1. 拆解原文核心观点和关键信息，然后进行解读或评论，并提出独到的见解\n2. 按「爆款标题公式」生成标题  \n3. 按「钩子→问题→案例→论述→金句→互动」结构生成文章正文，正文字数严格控制在1200-1500字，每段换行清晰； \n4. 根据【Constraints】中的图片生成要求，在 markdown 中标识图片插入位，同时生成图片提示词，输出一个 JSON：{title, markdown, prompts}\n5. 检查格式和敏感词后输出\n`;\n\n  return JSON.stringify({\n    model: cfg.OPENAI_CHAT || 'gpt-4o-mini',\n    temperature: 0.4,\n    response_format: { type: 'json_object' },\n    messages: [\n      { role: 'system', content: systemMessage },\n      { role: 'user', content: userMessage }\n    ]\n  });\n})() }}",
        "options": {}
      },
      "id": "93eb4a98-ce59-4508-bc64-802dced7d0cd",
      "name": "OpenAICompose",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        992,
        240
      ],
      "headerParametersUi": {
        "parameter": [
          {
            "name": "Authorization",
            "value": "={{'Bearer ' + $env.OPENAI_API_KEY}}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ]
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "Vy2b5M08f6ofHbxg",
          "name": "Bearer-openai"
        }
      }
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const choices = Array.isArray($json.choices) ? $json.choices : [];\nfunction extractText(entry) {\n  if (!entry) return '';\n    const message = entry.message || {};\n  const content = message.content;\n  if (Array.isArray(content)) {\n    return content.map(part => {\n      if (typeof part === 'string') return part;\n      if (part && typeof part.text === 'string') return part.text;\n      if (part && typeof part.value === 'string') return part.value;\n      if (part && typeof part.content === 'string') return part.content;\n      if (part && part.content && typeof part.content.text === 'string') \n        return part.content.text;\n      return '';\n    }).join('');\n  }\n  if (typeof content === 'string') return content;\n    \n  return '';\n}\nconst combined = choices\n  .map(extractText)\n  .filter(Boolean)\n  .join(\"\\\\n\")\n  .trim();\nlet payload = { markdown: '', prompts: [] };\nif (combined) {\n  try {\n    payload = JSON.parse(combined);\n  } catch (error) {\n    const match = combined.match(/\\\\{[\\\\s\\\\S]*\\\\}/);\n    if (match) {\n      try {\n        payload = JSON.parse(match[0]);\n      } catch (innerError) {\n        payload = { markdown: combined, prompts: [] };\n      }\n    } else {\n      payload = { markdown: combined, prompts: [] };\n    }\n  }\n}\nreturn [{ json: { payload, raw: combined } }];"
      },
      "id": "5a3e2f4a-df23-4fd4-82dc-dfdcaa772d6b",
      "name": "ParseLLMPayload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1216,
        240
      ],
      "notesInFlow": true,
      "notes": "Normalize OpenAI content arrays into structured payload"
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const cfgItem = $items('SetConfig', 0, 0) || { json: {} };\nconst cfg = cfgItem.json || {};\nconst payload = $json.payload || {};\nconst prompts = Array.isArray(payload.prompts) ? payload.prompts.filter(p => typeof p === 'string' && p.trim()) : [];\nif (!prompts.length) {\n  throw new Error('LLM response did not provide image prompts');\n}\nconst coverSize = cfg.COVER_SIZE || '1024x576';\nconst bodySize = cfg.BODY_SIZE || '1024x1024';\nconst slots = prompts.slice(0, 4).map((prompt, idx) => ({\n  role: idx === 0 ? 'cover' : `keypoint${idx}`,\n  prompt: prompt.trim(),\n  size: idx === 0 ? coverSize : bodySize\n}));\nreturn slots.map(slot => ({ json: slot }));\n"
      },
      "id": "30c0793a-8fad-46ec-9572-80d85a992b0c",
      "name": "MakeImageJobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1456,
        240
      ],
      "notesInFlow": true,
      "notes": "Create image jobs using parsed payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apicore.ai/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemini-2.5-flash-image-vip"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "size",
              "value": "={{ $json.size }}"
            }
          ]
        },
        "options": {}
      },
      "id": "037901cf-83d1-41f3-98d0-dd38b8f08ada",
      "name": "GenImage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1728,
        240
      ],
      "headerParametersUi": {
        "parameter": [
          {
            "name": "Authorization",
            "value": "={{'Bearer ' + $env.OPENAI_API_KEY}}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ]
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "Vy2b5M08f6ofHbxg",
          "name": "Bearer-openai"
        },
        "httpHeaderAuth": {
          "id": "Okq4qyrZhHUT6fqp",
          "name": "书虫API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const payload = $('ParseLLMPayload').first().json.payload;\nlet title = payload.title || '';\nlet markdown = payload.markdown || '';\nconst imgs = Array.isArray(items) ? items : [];\n\n// throw new Error(JSON.stringify({ imgsLen: imgs.length, sample: imgs }));\n\nlet used = new Array(imgs.length).fill(false);\n// 3) 封面处理：取第一张作为封面，优先替换 <!--IMG_COVER-->，没有就前置\nconst cover = imgs[0]?.json?.url || '';\nif (cover) {\n  const coverRe = /<!--\\s*IMG_COVER\\s*-->/i;\n  if (coverRe.test(markdown)) {\n    markdown = markdown.replace(coverRe, `![封面](${cover})`);\n  } else {\n    markdown = `![封面](${cover})\\n\\n` + markdown;\n  }\n}\nused[0] = true;\n\n// 4) 关键点锚点替换：支持 <!--IMG_KP--> 与带编号的 <!--IMG_KP3-->\n//    规则：带编号优先按编号用图（1→bodies[0]），不带编号按顺序消耗下一张未使用的图\nconst kpRe = /<!--\\s*IMG_KP(?:\\s*(\\d+))?\\s*-->/gi;\n\nmarkdown = markdown.replace(kpRe, (_, numStr) => {\n  let idx = null;\n\n  if (numStr) {\n    // 1-based → 0-based\n    const n = parseInt(numStr, 10);\n    if (!Number.isNaN(n) && n >= 1) idx = n;\n  }\n\n  // 选择图片：\n  // - 指定编号且存在 → 用该张\n  // - 否则 → 找到下一个未使用的\n  let url = null;\n  if (idx !== null && imgs[idx]?.json?.url) {\n    url = imgs[idx]?.json?.url;\n    used[idx] = true;\n  } else {\n    const next = used.findIndex(u => u === false);\n    if (next !== -1 && imgs[next]?.json?.url) {\n      url = imgs[next]?.json?.url;\n      used[next] = true;\n      idx = next;\n    }\n  }\n\n  // 没图可用，就删除占位（返回空串）\n  if (!url) return '';\n\n  const label = `图 ${typeof idx === 'number' ? idx : ''}`.trim();\n  return `![${label}](${url})`;\n});\n\n// 5) 兜底：还有没用上的图片 → 追加到文末\nfor (let i = 1; i < imgs.length; i++) {\n  if (!used[i] && imgs[i]?.json?.url) {\n    markdown += `\\n\\n![图 ${i + 1}](${imgs[i]?.json?.url})`;\n  }\n}\n\n\n/**\n \nif (imgs.length && imgs.length > 1) {\n  output += '\\n';\n  imgs.slice(1).forEach((it,idx) => {\n    const image = it.json;\n    if (image && image.url) {\n      const label = `图 ${idx + 1}`;\n      output += `\\n![${label}](${image.url})\\n`;\n    }\n  });\n}\n\n */\n\nreturn [{ json: {title:title, markdown: markdown.trim(), _debug: { urlsCount: imgs.length, imgs: imgs, used } } }];\n\n"
      },
      "id": "c015ea2f-9fc3-49d1-b4ef-61ef6d3022e5",
      "name": "AssembleMD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2288,
        240
      ]
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "function slugify(s){return (s||'ai-commentary').toLowerCase().replace(/[^a-z0-9\\u4e00-\\u9fa5]+/g,'-').replace(/^-+|-+$/g,'').slice(0,60)||'ai';}\nconst assembleItem = $items('AssembleMD',0,0) || { json: {} };\n\n//throw new Error(JSON.stringify({ assembleItem : assembleItem[0].json}));\nconst markdown = assembleItem[0].json.markdown || '';\nconst scoreItem = $items('ScoreSelect',0,0) || { json: {} };\n\n//throw new Error(JSON.stringify({ scoreItem : scoreItem[0]}));\n\nconst fallbackTitle = scoreItem[0].json.primary ? (scoreItem[0].json.primary.title || 'AI 评论') : 'AI 评论';\nconst titleMatch = assembleItem[0].json.title || '';\nconst title = titleMatch ? titleMatch : fallbackTitle;\nconst d = new Date(); \nconst yyyy=d.getFullYear(), mm=String(d.getMonth()+1).padStart(2,'0'), dd=String(d.getDate()).padStart(2,'0');\nconst n = String(Math.floor(Math.random()*1000)).padStart(3,'0');\nconst filepath = `${yyyy}-${mm}-${dd}/${n}_${slugify(title)}.md`;\nconst content = Buffer.from(markdown,'utf8').toString('base64');\nconst message = `feat(post): ${yyyy}-${mm}-${dd} ${title}`;\nreturn [{json:{filepath, content, message}}];\n"
      },
      "id": "cf09e2ad-d261-40e8-84da-bbfbfc9059f9",
      "name": "PrepareCommit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2544,
        240
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{'https://api.github.com/repos/0xfa1e/wechat-auto-rewriting-article/contents/' + $json.filepath}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "branch",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "id": "71493dc7-77e2-4ee4-8123-7d6d2ae4f184",
      "name": "GitHubPush",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2816,
        240
      ],
      "headerParametersUi": {
        "parameter": [
          {
            "name": "Authorization",
            "value": "={{'Bearer ' + $env.GITHUB_TOKEN}}"
          },
          {
            "name": "Accept",
            "value": "application/vnd.github+json"
          }
        ]
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "TFfyNvEq8pZUT6H0",
          "name": "github-access"
        }
      }
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const imgs = $input.all().map((item) => ({\n  url: item.json?.data ? item.json?.data[0]?.url : ''\n}));\nreturn imgs\n"
      },
      "id": "b20a0591-2752-453a-a74a-6d53408c063f",
      "name": "FinalizeImages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2016,
        240
      ],
      "notesInFlow": true,
      "notes": "Emit once after image loop completes"
    },
    {
      "parameters": {
        "url": "={{ 'https://r.jina.ai/http://' + $json.related[0].url.replace(/^https?:\\/\\//,'') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        16,
        384
      ],
      "id": "328bd567-2550-4735-9b99-651038c0c649",
      "name": "readRelated",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ 'https://r.jina.ai/http://' + $json.related[1].url.replace(/^https?:\\/\\//,'') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        576
      ],
      "id": "48fdd7c2-554c-4948-b8fb-1ac7b253bc20",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ 'https://r.jina.ai/http://' + $json.related[2].url.replace(/^https?:\\/\\//,'') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        336,
        672
      ],
      "id": "8c637d0b-faa0-41dc-99fe-92ed91f42ea1",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "SetConfig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetConfig": {
      "main": [
        [
          {
            "node": "NewsFetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewsFetch": {
      "main": [
        [
          {
            "node": "ScoreSelect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScoreSelect": {
      "main": [
        [
          {
            "node": "ReadPrimary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReadPrimary": {
      "main": [
        [
          {
            "node": "OpenAICompose",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "readRelated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAICompose": {
      "main": [
        [
          {
            "node": "ParseLLMPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MakeImageJobs": {
      "main": [
        [
          {
            "node": "GenImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenImage": {
      "main": [
        [
          {
            "node": "FinalizeImages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AssembleMD": {
      "main": [
        [
          {
            "node": "PrepareCommit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareCommit": {
      "main": [
        [
          {
            "node": "GitHubPush",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseLLMPayload": {
      "main": [
        [
          {
            "node": "MakeImageJobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FinalizeImages": {
      "main": [
        [
          {
            "node": "AssembleMD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "readRelated": {
      "main": [
        [
          {
            "node": "OpenAICompose",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "OpenAICompose",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "OpenAICompose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ebe8915b-efd1-442b-8cf8-cfece43fe355",
  "meta": {
    "instanceId": "07d1041ff3917b6fea954efa1ffb533eaee2c99ed393956fa7cc3e8f87f14a09"
  },
  "id": "zVkZc6JeeQjZNHhU",
  "tags": []
}