workflows/01_my_workflows/01_news_wechat/新闻评论改写.json
{
  "name": "新闻评论改写",
  "nodes": [
    {
      "parameters": {},
      "id": "0f6570a8-f175-4ff6-a241-d3573ce51269",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1328,
        256
      ]
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const MUST = [\n  '(AI OR \"large language model\" OR LLM OR 生成式)'\n];\nconst MUST_NOT = [\n  \n];\n\nconst CFG = {\n  QUERY: `${MUST.join(' AND ')} ${MUST_NOT.map(x => `-${x}`).join(' ')}`,\n  LANGUAGE: 'en',\n  FROM_DAYS: 7,\n  MAX_ARTICLES: 50,\n  TAKE_TOP: 30,\n  OPENAI_CHAT: 'gpt-4o',\n  OPENAI_IMAGE: 'gpt-image-1',\n  COVER_SIZE: '1024x576',\n  BODY_SIZE: '1024x1024',\n  BRAND: {\n    palette: ['#0F172A','#22D3EE','#A78BFA'],\n    style: 'editorial illustration, semi-flat, clean, minimal, soft lighting',\n    negatives: 'text, watermark, logo, brand, people, realistic faces, hands, busy background'\n  },\n  // 建议改为：四大分析/洞察优先\n  PREFERRED_CATEGORIES : ['tech_insight','industry_insight','deep_tech','product_insight'],\n  \n  WEIGHTS : {\n    // ——基础权重（总分贡献占比）——\n    base: { sourceTrust: 0.25, recency: 0.15, length: 0.15 },\n  \n    // ——正向信号（每命中一次的基点，内部会封顶/衰减）——\n    signals: {\n      // 洞察/分析\n      insight: {\n        titleCue: 12,      // 标题/URL含 how/why/analysis/解读/洞察/详解/拆解\n        keyword: 10,       // 文内 analysis/deep dive/inside/趋势/产业链 等\n        industry: 10,      // 芯片/供应链/封装/HBM/产能/节点nm 等行业词\n        longform: 8,       // 文本较长（>1500字节）额外加\n        trustedHost: 6     // 可信媒体（BBC/FT/Reuters/WSJ/Ars/Wired…）\n      },\n      // 技术进展\n      tech: {\n        terms: 6,          // architecture/ablation/SOTA/quantization/MoE 等\n        paper: 9,          // arXiv/OpenReview 链接或提及\n        code: 7,           // GitHub/HF 仓库\n        benchmark: 7,      // MMLU/GSM8K/ImageNet/COCO/GLUE…\n        numbers: 2         // 有指标/百分比/大数（轻微加）\n      }\n    },\n  \n    // ——负向信号（每命中一次的扣分；strong insight/tech 时会折扣）——\n    penalties: {\n      pr: 9,               // PR/活动/发布会/获奖/合作/招聘/调查\n      policy: 7,           // 纯政策/法案/合规（分析类会折扣）\n      productNews: 4       // 纯产品发布口径（无技术/无拆解）\n    },\n    dampIfStrong: {        // 有料则“罚款打折”\n      threshold: 18,       // insightBoost+techBoost ≥ 18\n      factor: 0.5\n    },\n  \n    // ——类别乘数（最后乘以这个系数，决定“谁更上头条”）——\n    categoryMultiplier: {\n      tech_insight:     1.25,  // 技术分析/技术洞察 —— 最高\n      industry_insight: 1.25,  // 行业分析/行业洞察 —— 最高\n      deep_tech:        1.12,  // 论文/基准/代码等“硬技术进展”\n      product_insight:  1.08,  // 产品架构拆解/对比评测\n      product_news:     0.85,  // 纯上新/公告\n      policy_news:      0.80,  // 纯政策新闻\n      pr_event:         0.60,  // PR/活动/获奖/招聘等\n      other:            0.75\n    },\n  \n    // ——时效曲线（洞察类不用太追 24h 热点）——\n    recencyHalfLifeHours: 96   // 半衰期 96h：4 天内仍有权重\n  }\n};\n\nCFG.FROM_ISO = new Date(Date.now() - CFG.FROM_DAYS*24*60*60*1000).toISOString();\nreturn [{json: CFG}];\n"
      },
      "id": "19cfee95-4ee2-4b30-829f-3ea8e88c72a4",
      "name": "SetConfig",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1040,
        256
      ],
      "notesInFlow": true,
      "notes": "ENV: NEWSAPI_KEY, OPENAI_API_KEY, GITHUB_TOKEN, GITHUB_OWNER, GITHUB_REPO, (optional) GITHUB_BRANCH"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?apiKey=ea6cb051d8234eb390a8289224733bab",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$json.QUERY}}"
            },
            {
              "name": "language",
              "value": "={{$json.LANGUAGE || 'en'}}"
            },
            {
              "name": "pageSize",
              "value": "={{ String($json.MAX_ARTICLES || 50) }}"
            },
            {
              "name": "sortBy",
              "value": "relevancy"
            },
            {
              "name": "from",
              "value": "={{$json.FROM_ISO}}"
            }
          ]
        },
        "options": {}
      },
      "id": "87a9ba43-ecc4-4c53-9876-b8f3228a7505",
      "name": "NewsFetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -768,
        256
      ],
      "headerParametersUi": {
        "parameter": [
          {
            "name": "X-Api-Key",
            "value": "={{$env.NEWSAPI_KEY}}"
          }
        ]
      },
      "notesInFlow": true,
      "notes": "Query parameters driven by SetConfig to avoid invalid URL"
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "/***********************\n * ScoreSelect (All-in-one)\n * - Flattens inputs (articles[] or multi-items)\n * - Normalizes & hashes (FNV-1a)\n * - Historical dedup (seen.json)\n * - Batch dedup (Jaro-Winkler)\n * - Category detect + scoring\n * - Emits { primary, related, candidates, seenState, debug }\n * Mode: Run once for all items\n ***********************/\n\n/* ========= Utilities ========= */\nfunction fnv1aHex(str=''){ let h=0x811c9dc5; for(let i=0;i<str.length;i++){ h^=str.charCodeAt(i); h+=(h<<1)+(h<<4)+(h<<7)+(h<<8)+(h<<24);} return (h>>>0).toString(16).padStart(8,'0');}\nfunction toHalfWidth(s=''){ return s.replace(/[\\u2018\\u2019]/g,\"'\").replace(/[\\u201C\\u201D]/g,'\"').replace(/[\\uFF01-\\uFF5E]/g,ch=>String.fromCharCode(ch.charCodeAt(0)-0xFEE0)).replace(/\\u3000/g,' '); }\nfunction normalizeUrl(u){ try{ const url=new URL(u); url.hash=''; const drop=['utm_source','utm_medium','utm_campaign','utm_term','utm_content','ref','fbclid','gclid','yclid','spm','igshid','mc_cid','mc_eid','share_type','share_pt']; for (const k of drop) url.searchParams.delete(k); const host=url.hostname.replace(/^www\\./,'').toLowerCase(); const path=url.pathname.replace(/\\/+$/,''); const qs=[...url.searchParams.entries()].sort((a,b)=>a[0].localeCompare(b[0])); return `${host}${path}${qs.length?('?'+qs.map(x=>`${x[0]}=${x[1]}`).join('&')):''}`; }catch{ return (u||'').replace(/^https?:\\/\\//,'').replace(/^www\\./,'');}}\nfunction normalizeTitle(t='', url=''){ let s=toHalfWidth(t).trim(); const host=(()=>{try{return new URL(url).hostname.replace(/^www\\./,'');}catch{return '';} })(); if (host) s=s.replace(new RegExp(`\\\\s*[-|—|\\\\|]\\\\s*${host.replace(/\\./g,'\\\\.')}$`,'i'),''); s=s.replace(/[（(](评论|社评|快讯|图解|直播)[)）]$/,''); s=s.replace(/[“”\"‘’'、，,。.！!？?\\[\\]【】<>（）()：:;；]/g,' ').replace(/\\s+/g,' ').trim(); return s;}\nfunction jaroWinkler(a='', b=''){ a=a.toLowerCase(); b=b.toLowerCase(); const mt=(s,t)=>{ const m=Math.max(s.length,t.length)/2-1|0; const ms1=new Array(s.length).fill(false), ms2=new Array(t.length).fill(false); let matches=0, trans=0; for(let i=0;i<s.length;i++){ const st=Math.max(0,i-m), en=Math.min(i+m+1,t.length); for(let j=st;j<en;j++){ if(ms2[j]) continue; if(s[i]===t[j]){ ms1[i]=ms2[j]=true; matches++; break; } } } if(!matches) return [0,0]; let k=0; for(let i=0;i<s.length;i++) if(ms1[i]){ while(!ms2[k]) k++; if(s[i]!==t[k]) trans++; k++; } return [matches, trans/2]; }; const [m,t]=mt(a,b); if(!m) return 0; const j=(m/a.length + m/b.length + (m-t)/m)/3; let l=0; while(l<4 && a[l] && b[l] && a[l]===b[l]) l++; return j + l*0.1*(1-j); }\nfunction safeItems(name){ try{ const out=$items(name,0,0,{returnAll:true}); return Array.isArray(out)?out:[]; } catch { return []; } }\n/* function parseSeen(fromGithub){\n  const obj = fromGithub?.[0]?.json || {};\n  let entries=[], sha=null;\n  try{\n    if (obj.content) {\n      const txt = Buffer.from(obj.content,'base64').toString('utf8');\n      entries = JSON.parse(txt || '[]');\n      sha = obj.body?.sha || null;\n    }\n  }catch(e){ entries=[]; sha=null; }\n  return { entries: Array.isArray(entries)?entries:[], sha };\n} */\nfunction parseSeen(fromGithub){\n  const obj  = fromGithub?.[0]?.json || {};\n  const body = (obj && typeof obj.body === 'object') ? obj.body : obj; // 关键：兼容 fullResponse\n  let entries = [], sha = null;\n  try {\n    const b64 = body?.content || '';\n    if (b64) {\n      const txt = Buffer.from(b64, 'base64').toString('utf8');\n      entries = JSON.parse(txt || '[]');\n    }\n    sha = body?.sha || null;\n  } catch { /* noop */ }\n  return { entries: Array.isArray(entries) ? entries : [], sha };\n}\n\n/* ========= Config ========= */\nconst cfg = (safeItems('SetConfig')[0]?.json) || {};\nconst TAKE_TOP_N   = Number(cfg.TOP_N || 4);            // 1 + (N-1)\nconst TTL_DAYS     = Number(cfg.SEEN_TTL_DAYS || 35);\nconst PREF_CATS    = cfg.PREFERRED_CATEGORIES || ['deep_tech','industry_insight','tech_insight','product_insight'];\nconst EMIT_MULT    = Boolean(cfg.EMIT_MULTIPLE);         // 可选：多条 item 输出模式（默认 false 聚合输出）\n\n/* ========= Flatten input ========= */\n// 支持：① 1 条 item 里有 articles[] 或 data.articles[]；② 多条 item 各一篇\nlet news = $('NewsFetch').first().json.articles;\n/*\nconst raw = (items || []).map(it => it.json || {});\nif (raw.length === 1 && Array.isArray(raw[0]?.articles)) {\n  news = raw[0].articles;\n} else if (raw.length === 1 && Array.isArray(raw[0]?.data?.articles)) {\n  news = raw[0].data.articles;\n} else {\n  news = raw;\n}\n*/\n\n// 宽松映射别名\nconst pickUrl   = (a={}) => a.url || a.link || a.permalink || a.guid || a.sourceUrl || a.storyUrl || '';\nconst pickTitle = (a={}) => a.title || a.headline || a.name || a.subject || '';\n\nconst droppedBasic = [];\nnews = news.map(a => ({ ...a, url: pickUrl(a), title: pickTitle(a) }))\n           .filter(a => {\n             const ok = Boolean(a.url && a.title);\n             if (!ok) droppedBasic.push({ sample: { url: a.url, title: a.title }, reason: 'missing url/title' });\n             return ok;\n           });\nconst TOTAL_IN = news.length;\n\n/* ========= Load seen.json ========= */\nconst seen = parseSeen(safeItems('GetSeen'));\nconst seenUrl = new Set();\nconst seenTitle = new Set();\nconst seenTitleNorms = [];\nconst now = Date.now();\nconst TTL_MS = TTL_DAYS * 24 * 3600 * 1000;\n\nfor (const r of seen.entries) {\n  const ts = new Date(r.firstSeenAt || 0).getTime();\n  if (!ts || (now - ts) > TTL_MS) continue;  // 滚动窗口\n  if (r.urlKey)   seenUrl.add(r.urlKey);\n  if (r.titleKey) seenTitle.add(r.titleKey);\n  if (r.titleNorm) seenTitleNorms.push(String(r.titleNorm).toLowerCase());\n}\n\n/* ========= Category & Scoring ========= */\nfunction detectCategory(rec){\n  const t = `${rec.title||''} ${rec.description||''}`.toLowerCase();\n  const u = (rec.url||'').toLowerCase();\n  const deep = /(paper|arxiv|openreview|architecture|benchmark|inference|latency|throughput|kernel|compiler|quantization|lora|moe|attention|nvlink|hbm|npu|asic|fpga|dataset|pretrain|fine[-\\s]?tune|weights|distillation|opensource|open[-\\s]?source)/;\n  const ind  = /(market|landscape|trend|survey|outlook|valuation|supply\\s?chain|capacity|foundry|capex|pricing|shipment|import|export|ban|sanction|nvidia|nvda|amd|intel|tsmc|smic|samsung|huawei)/;\n  const tech = /(postmortem|post[-\\s]?mortem|root\\s?cause|retrospective|scaling|optimization|observability|incident|outage|design\\s?notes|engineering)/;\n  const prod = /(roadmap|case\\s?study|changelog|release\\s?notes|product\\s?update|design\\s?decision)/;\n  const pr   = /(announces?|launch(es)?|partnership|program|initiative|grant|award|event|conference|webinar|summit|hiring)/;\n  const policy=/(regulation|policy|bill|law|ban|compliance|guideline|white\\s?paper)/;\n\n  if (deep.test(t) || /arxiv\\.org|openreview\\.net/.test(u)) return 'deep_tech';\n  if (ind.test(t)) return 'industry_insight';\n  if (tech.test(t)) return 'tech_insight';\n  if (prod.test(t)) return 'product_insight';\n  if (pr.test(t)) return 'news_pr';\n  if (policy.test(t)) return 'policy';\n  return 'other';\n}\nfunction catWeight(cat){\n  const order = {\n    deep_tech: 1.00,\n    industry_insight: 0.95,\n    tech_insight: 0.92,\n    product_insight: 0.88,\n    policy: 0.55,\n    news_pr: 0.35,\n    other: 0.40,\n  };\n  const base = order[cat] ?? 0.40;\n  return base * (PREF_CATS.includes(cat) ? 1.10 : 1.0);\n}\nfunction recencyBonus(publishedAt){\n  if (!publishedAt) return 0;\n  const d = Math.max(0, (Date.now()-new Date(publishedAt).getTime())/(24*3600*1000));\n  if (d <= 1) return 12;\n  if (d <= 3) return 8;\n  if (d <= 7) return 5;\n  if (d <= 14) return 2;\n  return 0;\n}\nfunction penaltyPR(rec){\n  const t = `${rec.title||''} ${rec.description||''}`.toLowerCase();\n  return /(announces?|launch|partnership|webinar|summit|award|program)/.test(t) ? -18 : 0;\n}\nfunction qualityScore(rec){\n  const cat = detectCategory(rec);\n  const base = 100 * catWeight(cat);\n  const r    = recencyBonus(rec.publishedAt);\n  const pr   = penaltyPR(rec);\n  const len  = ((rec.content||'').length + (rec.description||'').length) > 320 ? 3 : 0;\n  return Math.round(base + r + pr + len);\n}\n\n/* ========= Enrich + historical dedup ========= */\nconst enriched = [];\nconst droppedHist = [];\n\nfor (const a of news) {\n  const _normUrl   = normalizeUrl(a.url);\n  const _urlKey    = fnv1aHex(_normUrl);\n  const _titleNorm = normalizeTitle(a.title, a.url);\n  const _titleKey  = fnv1aHex(_titleNorm.toLowerCase());\n  const category   = detectCategory(a);\n  const QualityScore = qualityScore({ ...a, category });\n\n  const histDup =\n    seenUrl.has(_urlKey) ||\n    seenTitle.has(_titleKey) ||\n    (_titleNorm && seenTitleNorms.some(t => jaroWinkler(_titleNorm.toLowerCase(), t) >= 0.92));\n\n  if (histDup) {\n    droppedHist.push({ url: a.url, title: a.title, reason: 'seen' });\n    continue;\n  }\n\n  enriched.push({\n    source: a.source?.name || a.source || '',\n    author: a.author || '',\n    title: a.title || '',\n    description: a.description || '',\n    url: a.url,\n    urlToImage: a.urlToImage || '',\n    publishedAt: a.publishedAt || a.pubDate || '',\n    content: a.content || '',\n    category,\n    QualityScore,\n    _normUrl, _urlKey, _titleNorm, _titleKey, _hashAlgo: 'fnv1a32'\n  });\n}\n\n/* ========= Batch dedup (similar titles) + sort ========= */\nenriched.sort((a,b)=> (b.QualityScore||0) - (a.QualityScore||0));\n/*\nconst kept = [];\nconst seenBatch = [];\nconst droppedBatch = [];\n\nfor (const c of enriched) {\n  const t = (c._titleNorm||'').toLowerCase();\n  const dup = seenBatch.some(x => jaroWinkler(t, x) >= 0.92) || seenBatch.includes(c._titleKey);\n  if (dup) { droppedBatch.push({ url: c.url, title: c.title, reason: 'batch-dup' }); continue; }\n  kept.push(c);\n  seenBatch.push(c._titleKey || t);\n}\n*/\n\nconst kept = [];\nconst droppedBatch = [];\nconst seenBatchTitleKeys  = new Set();\nconst seenBatchUrlKeys    = new Set();\nconst seenBatchTitleNorms = []; // 用于相似度\n\nfor (const c of enriched) {\n  const tNorm = (c._titleNorm || '').toLowerCase();\n  const titleDup = seenBatchTitleKeys.has(c._titleKey) ||\n                   seenBatchTitleNorms.some(x => jaroWinkler(tNorm, x) >= 0.92);\n  const urlDup   = seenBatchUrlKeys.has(c._urlKey);\n\n  if (titleDup || urlDup) {\n    droppedBatch.push({ url: c.url, title: c.title, reason: urlDup ? 'dup-url' : 'dup-title' });\n    continue;\n  }\n\n  kept.push(c);\n  seenBatchTitleKeys.add(c._titleKey);\n  seenBatchUrlKeys.add(c._urlKey);\n  seenBatchTitleNorms.push(tNorm);\n}\n\n/* ========= Pick primary / related (with fallback) ========= */\nlet primary = kept[0] || null;\nlet related = kept.slice(1, TAKE_TOP_N);\n\nif (!primary && enriched.length) {\n  // 极端兜底：若批次去重过严导致空，至少给一篇\n  primary = enriched[0];\n  related = enriched.slice(1, TAKE_TOP_N);\n}\n\n/* ========= Emit ========= */\nif (EMIT_MULT) {\n  // 多条输出模式：每条一个候选\n  return kept.map(k => ({ json: k }));\n} else {\n  // 单条聚合输出（推荐）\n  return [{\n    json: {\n      primary,\n      related,\n      candidates: kept,\n      seenState: { entries: seen.entries, sha: seen.sha, ttlDays: TTL_DAYS },\n      debug: {\n        droppedBasic,  // 缺 url/title\n        droppedHist,   // 历史去重\n        droppedBatch,  // 批次相似去重\n        totalIn: TOTAL_IN,\n        totalOut: kept.length\n      }\n    }\n  }];\n}\n"
      },
      "id": "d52bf12f-6dca-4cc3-9b5d-f2f014a95cd1",
      "name": "ScoreSelect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -304,
        256
      ],
      "notesInFlow": true,
      "notes": "Scoring + de-dup + take top N"
    },
    {
      "parameters": {
        "url": "={{ 'https://r.jina.ai/http://' + $json.primary.url.replace(/^https?:\\/\\//,'') }}",
        "options": {}
      },
      "id": "a8017dd5-63eb-40db-ad17-08805097ce22",
      "name": "ReadPrimary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        256
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const cfgItem = $items('SetConfig', 0, 0) || { json: {} };\n  const cfg = cfgItem.json || {};\n  const brand = cfg.BRAND || {};\n  const primary = $('ScoreSelect').item.json.primary || {};\n\n  const related = Array.isArray($('ScoreSelect').item.json.related ) ? $('ScoreSelect').item.json.related : [];\n\n  const relatedLines = related.length\n    ? related.map(r => `- ${r.title || ''} (${r.url || ''})`).join('\\n')\n    : '- 无参考';\n\n  const articleTextRaw = $json?.data;\n\n  const articleText = typeof articleTextRaw === 'string'\n    ? articleTextRaw\n    : JSON.stringify(articleTextRaw || '');\n  const palette = Array.isArray(brand.palette) ? brand.palette : [];\n  const brandBlock = `BRAND: palette=${JSON.stringify(palette)}, style=${brand.style || ''}, negatives=${brand.negatives || ''}`;\n\n  const userMessage = `主要文章：\n\\n${articleText}\n\n\\n\\n相关参考（仅标题与链接）：\\n${relatedLines}\\n\\n${brandBlock}`;\n\n  const systemMessage = `\n#Role\n你是一个资深科技评论专家，对 AI、大模型、互联网、科技等领域有独到的见解，擅长对科技文章进行分析、评论，同时是深耕公众号运营的资深创作者，擅长将基础内容升级为符合平台调性的爆款文，深谙标题吸睛技巧、正文情绪引导和结构优化，能精准规避敏感词。\n\n#Skills\n1. 标题创作：能用数字、悬念、痛点词（如「后悔」「揭秘」）打造高打开率标题，字数控制在18-24字  \n2. 正文重塑：     \n  - 开头3句话内必须抛出用户关注的问题/共鸣场景（如「你是不是也遇到过…」）     \n  - 每段不超过3行，用短句+感叹号/问号增强节奏感     \n  - 自然植入1-2个真实案例     \n  - 结尾必须包含1句金句（如「真正的XX，从来都是…」）+ 1个互动问题（如「你怎么看？评论区告诉我」）  \n3. 风格适配：默认采用「朋友聊天式」口语化表达，避免书面语，多用「咱」「其实啊」等词拉近距离 \n\n#Goals \n对用户提供的内容进行分析、解读、评论，生成符合公众号传播规律的优化解读或评论文章，让读者愿意点开、读完、互动。\n\n#Constraints\n- 标题必须包含1个数字/悬念词，禁止使用「如何」「怎样」等平淡词汇  \n- 正文严格遵循：钩子开头(200字) → 原文观点1 →  原文论述和案例1 → 金句小结1 → 原文观点2 →  原文论述和案例2 → 金句小结2 → 原文观点3 →  原文论述和案例3 → 金句小结3 →  对原文的分析评论( 500字) → 互动引导，每个原文观点+论述+案例+小节 500字。\n- 禁止出现任何敏感词（如政治、低俗词汇），若原文有敏感信息，需替换为中性表达  \n- title=优化后的标题\n- markdown=中文Markdown\n- 在 markdown 中标记图片插入位：在第一段后插入封面图 <!--IMG_COVER-->；\n- 根据文章内容，判断需要插入图片地方（两个图片之间间隔不少于 300 字，全文至少插入2个图片，一个观点一张图片，分析评论一张图片），然后分别放如下标识： <!--IMG_KP1-->、<!--IMG_KP2-->、<!--IMG_KPn-->。\n- prompts=用于生成全部图片的提示词数组：封面+内容图片提示词（需包含：主题场景+风格（如「公众号封面，简约插画风格」）+ 细节（如「暖色调」），禁止真实人物/商标），生成封面图片的提示词与全文内容匹配，内容图片的提示词需要与上下文匹配，与 markdown 中的图片插入位严格对应，内容中标识了多少个图片插入位，就必须有多少个提示词。\n\n#Workflows\n1. 拆解原文核心观点和关键信息，然后进行解读或评论，并提出独到的见解\n2. 按「爆款标题公式」生成标题  \n3. 按「钩子开头 → 原文观点1 →  原文论述和案例1 → 金句小结1 → 原文观点2 →  原文论述和案例2 → 金句小结2 → 原文观点3 →  原文论述和案例3 → 金句小结3 →  对原文的分析评论 → 互动引导」结构生成文章正文，正文字数严格控制在1500字以上，每段换行清晰； \n4. 根据【Constraints】中的图片生成要求，在 markdown 中标识图片插入位，同时生成图片提示词，输出一个 JSON：{title, markdown, prompts}\n5. 检查格式和敏感词后输出\n`;\n\n  return JSON.stringify({\n    model: cfg.OPENAI_CHAT || 'gpt-4o',\n    temperature: 1,\n    response_format: { type: 'json_object' },\n    messages: [\n      { role: 'system', content: systemMessage },\n      { role: 'user', content: userMessage }\n    ]\n  });\n})() }}",
        "options": {}
      },
      "id": "93eb4a98-ce59-4508-bc64-802dced7d0cd",
      "name": "OpenAICompose",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1408,
        240
      ],
      "headerParametersUi": {
        "parameter": [
          {
            "name": "Authorization",
            "value": "={{'Bearer ' + $env.OPENAI_API_KEY}}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ]
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "Vy2b5M08f6ofHbxg",
          "name": "Bearer-openai"
        }
      }
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const choices = Array.isArray($json.choices) ? $json.choices : [];\nfunction extractText(entry) {\n  if (!entry) return '';\n    const message = entry.message || {};\n  const content = message.content;\n  if (Array.isArray(content)) {\n    return content.map(part => {\n      if (typeof part === 'string') return part;\n      if (part && typeof part.text === 'string') return part.text;\n      if (part && typeof part.value === 'string') return part.value;\n      if (part && typeof part.content === 'string') return part.content;\n      if (part && part.content && typeof part.content.text === 'string') \n        return part.content.text;\n      return '';\n    }).join('');\n  }\n  if (typeof content === 'string') return content;\n    \n  return '';\n}\nconst combined = choices\n  .map(extractText)\n  .filter(Boolean)\n  .join(\"\\\\n\")\n  .trim();\nlet payload = { markdown: '', prompts: [] };\nif (combined) {\n  try {\n    payload = JSON.parse(combined);\n  } catch (error) {\n    const match = combined.match(/\\\\{[\\\\s\\\\S]*\\\\}/);\n    if (match) {\n      try {\n        payload = JSON.parse(match[0]);\n      } catch (innerError) {\n        payload = { markdown: combined, prompts: [] };\n      }\n    } else {\n      payload = { markdown: combined, prompts: [] };\n    }\n  }\n}\nreturn [{ json: { payload, raw: combined } }];"
      },
      "id": "5a3e2f4a-df23-4fd4-82dc-dfdcaa772d6b",
      "name": "ParseLLMPayload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1632,
        240
      ],
      "notesInFlow": true,
      "notes": "Normalize OpenAI content arrays into structured payload"
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const cfgItem = $items('SetConfig', 0, 0) || { json: {} };\nconst cfg = cfgItem.json || {};\nconst payload = $json.payload || {};\nconst prompts = Array.isArray(payload.prompts) ? payload.prompts.filter(p => typeof p === 'string' && p.trim()) : [];\nif (!prompts.length) {\n  throw new Error('LLM response did not provide image prompts');\n}\nconst coverSize = cfg.COVER_SIZE || '1024x576';\nconst bodySize = cfg.BODY_SIZE || '1024x1024';\nconst slots = prompts.slice(0, 4).map((prompt, idx) => ({\n  role: idx === 0 ? 'cover' : `keypoint${idx}`,\n  prompt: prompt.trim(),\n  size: idx === 0 ? coverSize : bodySize\n}));\nreturn slots.map(slot => ({ json: slot }));\n"
      },
      "id": "30c0793a-8fad-46ec-9572-80d85a992b0c",
      "name": "MakeImageJobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1872,
        240
      ],
      "notesInFlow": true,
      "notes": "Create image jobs using parsed payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apicore.ai/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemini-2.5-flash-image-vip"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "size",
              "value": "={{ $json.size }}"
            }
          ]
        },
        "options": {}
      },
      "id": "037901cf-83d1-41f3-98d0-dd38b8f08ada",
      "name": "GenImage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2144,
        240
      ],
      "headerParametersUi": {
        "parameter": [
          {
            "name": "Authorization",
            "value": "={{'Bearer ' + $env.OPENAI_API_KEY}}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ]
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "Vy2b5M08f6ofHbxg",
          "name": "Bearer-openai"
        },
        "httpHeaderAuth": {
          "id": "Okq4qyrZhHUT6fqp",
          "name": "书虫API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const payload = $('ParseLLMPayload').first().json.payload;\nlet title = payload.title || '';\nlet markdown = payload.markdown || '';\nconst imgs = Array.isArray(items) ? items : [];\n\n// throw new Error(JSON.stringify({ imgsLen: imgs.length, sample: imgs }));\n\nlet used = new Array(imgs.length).fill(false);\n// 3) 封面处理：取第一张作为封面，优先替换 <!--IMG_COVER-->，没有就前置\nconst cover = imgs[0]?.json?.url || '';\nif (cover) {\n  const coverRe = /<!--\\s*IMG_COVER\\s*-->/i;\n  if (coverRe.test(markdown)) {\n    markdown = markdown.replace(coverRe, `![封面](${cover})`);\n  } else {\n    markdown = `![封面](${cover})\\n\\n` + markdown;\n  }\n}\nused[0] = true;\n\n// 4) 关键点锚点替换：支持 <!--IMG_KP--> 与带编号的 <!--IMG_KP3-->\n//    规则：带编号优先按编号用图（1→bodies[0]），不带编号按顺序消耗下一张未使用的图\nconst kpRe = /<!--\\s*IMG_KP(?:\\s*(\\d+))?\\s*-->/gi;\n\nmarkdown = markdown.replace(kpRe, (_, numStr) => {\n  let idx = null;\n\n  if (numStr) {\n    // 1-based → 0-based\n    const n = parseInt(numStr, 10);\n    if (!Number.isNaN(n) && n >= 1) idx = n;\n  }\n\n  // 选择图片：\n  // - 指定编号且存在 → 用该张\n  // - 否则 → 找到下一个未使用的\n  let url = null;\n  if (idx !== null && imgs[idx]?.json?.url) {\n    url = imgs[idx]?.json?.url;\n    used[idx] = true;\n  } else {\n    const next = used.findIndex(u => u === false);\n    if (next !== -1 && imgs[next]?.json?.url) {\n      url = imgs[next]?.json?.url;\n      used[next] = true;\n      idx = next;\n    }\n  }\n\n  // 没图可用，就删除占位（返回空串）\n  if (!url) return '';\n\n  const label = `图 ${typeof idx === 'number' ? idx : ''}`.trim();\n  return `![${label}](${url})`;\n});\n\n// 5) 兜底：还有没用上的图片 → 追加到文末\nfor (let i = 1; i < imgs.length; i++) {\n  if (!used[i] && imgs[i]?.json?.url) {\n    markdown += `\\n\\n![图 ${i + 1}](${imgs[i]?.json?.url})`;\n  }\n}\n\n\n/**\n \nif (imgs.length && imgs.length > 1) {\n  output += '\\n';\n  imgs.slice(1).forEach((it,idx) => {\n    const image = it.json;\n    if (image && image.url) {\n      const label = `图 ${idx + 1}`;\n      output += `\\n![${label}](${image.url})\\n`;\n    }\n  });\n}\n\n */\n\nreturn [{ json: {title:title, markdown: markdown.trim(), _debug: { urlsCount: imgs.length, imgs: imgs, used } } }];\n\n"
      },
      "id": "c015ea2f-9fc3-49d1-b4ef-61ef6d3022e5",
      "name": "AssembleMD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2704,
        240
      ]
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "function slugify(s){return (s||'ai-commentary').toLowerCase().replace(/[^a-z0-9\\u4e00-\\u9fa5]+/g,'-').replace(/^-+|-+$/g,'').slice(0,60)||'ai';}\nconst assembleItem = $items('AssembleMD',0,0) || { json: {} };\n\n//throw new Error(JSON.stringify({ assembleItem : assembleItem[0].json}));\nconst markdown = assembleItem[0].json.markdown || '';\nconst scoreItem = $items('ScoreSelect',0,0) || { json: {} };\n\n//throw new Error(JSON.stringify({ scoreItem : scoreItem[0]}));\n\nconst fallbackTitle = scoreItem[0].json.primary ? (scoreItem[0].json.primary.title || 'AI 评论') : 'AI 评论';\nconst titleMatch = assembleItem[0].json.title || '';\nconst title = titleMatch ? titleMatch : fallbackTitle;\nconst d = new Date(); \nconst yyyy=d.getFullYear(), mm=String(d.getMonth()+1).padStart(2,'0'), dd=String(d.getDate()).padStart(2,'0');\nconst n = String(Math.floor(Math.random()*1000)).padStart(3,'0');\nconst filepath = `${yyyy}-${mm}-${dd}/${n}_${slugify(title)}.md`;\nconst content = Buffer.from(markdown,'utf8').toString('base64');\nconst message = `feat(post): ${yyyy}-${mm}-${dd} ${title}`;\nreturn [{json:{filepath, content, message}}];\n"
      },
      "id": "cf09e2ad-d261-40e8-84da-bbfbfc9059f9",
      "name": "PrepareCommit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2960,
        240
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{'https://api.github.com/repos/0xfa1e/wechat-auto-rewriting-article/contents/' + $json.filepath}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "branch",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "id": "71493dc7-77e2-4ee4-8123-7d6d2ae4f184",
      "name": "GitHubPush",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        3232,
        240
      ],
      "headerParametersUi": {
        "parameter": [
          {
            "name": "Authorization",
            "value": "={{'Bearer ' + $env.GITHUB_TOKEN}}"
          },
          {
            "name": "Accept",
            "value": "application/vnd.github+json"
          }
        ]
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "TFfyNvEq8pZUT6H0",
          "name": "github-access"
        }
      }
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const imgs = $input.all().map((item) => ({\n  url: item.json?.data ? item.json?.data[0]?.url : ''\n}));\nreturn imgs\n"
      },
      "id": "b20a0591-2752-453a-a74a-6d53408c063f",
      "name": "FinalizeImages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        2432,
        240
      ],
      "notesInFlow": true,
      "notes": "Emit once after image loop completes"
    },
    {
      "parameters": {
        "url": "={{ 'https://r.jina.ai/http://' + $json.related[0].url.replace(/^https?:\\/\\//,'') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        384
      ],
      "id": "328bd567-2550-4735-9b99-651038c0c649",
      "name": "readRelated",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ 'https://r.jina.ai/http://' + $json.related[1].url.replace(/^https?:\\/\\//,'') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        576
      ],
      "id": "48fdd7c2-554c-4948-b8fb-1ac7b253bc20",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ 'https://r.jina.ai/http://' + $json.related[2].url.replace(/^https?:\\/\\//,'') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        752,
        672
      ],
      "id": "8c637d0b-faa0-41dc-99fe-92ed91f42ea1",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "/**\n * PickWinnerAndPrepareSeen\n * 依赖：ScoreSelect（已输出 primary / related[] / seenState，并且 meta 内已带 _urlKey/_titleKey/_titleNorm）\n * 分支：ReadPrimary / readRelated / readRelated2 / readRelated3（可能有的未执行）\n * 作用：按优先级挑出第一篇抓取成功的正文；生成 seen.json 的 GitHub PUT body\n */\n\n// ---------- 工具 ----------\nfunction safeItems(name) {\n  try {\n    const out = $items(name, 0, 0, { returnAll: true });\n    return Array.isArray(out) ? out : [];\n  } catch (_) { return []; }\n}\nfunction pickPayload(arr) {\n  if (!Array.isArray(arr) || !arr.length) return null;\n  const j = arr[0]?.json || {};\n  // 你的抓取节点如果字段名不同（如 content/markdown），按需调整\n  return j.data || j.markdown || j.content || null;\n}\n\n// 仅作兜底：如上游没带 key，才会用到这些函数（正常不会触发）\nfunction fnv1aHex(str='') {\n  let h = 0x811c9dc5;\n  for (let i = 0; i < str.length; i++) { h ^= str.charCodeAt(i); h += (h<<1)+(h<<4)+(h<<7)+(h<<8)+(h<<24); }\n  return (h>>>0).toString(16).padStart(8,'0');\n}\nfunction normalizeUrl(u) {\n  try {\n    const url = new URL(u); url.hash = '';\n    const drop = ['utm_source','utm_medium','utm_campaign','utm_term','utm_content','ref','fbclid','gclid','yclid','spm','igshid','mc_cid','mc_eid','share_type','share_pt'];\n    for (const k of drop) url.searchParams.delete(k);\n    const host = url.hostname.replace(/^www\\./,'').toLowerCase();\n    const path = url.pathname.replace(/\\/+$/,'');\n    const qs   = [...url.searchParams.entries()].sort((a,b)=>a[0].localeCompare(b[0]));\n    return `${host}${path}${qs.length?('?'+qs.map(x=>`${x[0]}=${x[1]}`).join('&')):''}`;\n  } catch { return (u||'').replace(/^https?:\\/\\//,'').replace(/^www\\./,''); }\n}\nfunction toHalfWidth(s='') {\n  return s.replace(/[\\u2018\\u2019]/g,\"'\")\n          .replace(/[\\u201C\\u201D]/g,'\"')\n          .replace(/[\\uFF01-\\uFF5E]/g, ch => String.fromCharCode(ch.charCodeAt(0)-0xFEE0))\n          .replace(/\\u3000/g,' ');\n}\nfunction normalizeTitle(t='', url='') {\n  let s = toHalfWidth(t).trim();\n  const host = (()=>{ try{ return new URL(url).hostname.replace(/^www\\./,''); }catch{return '';} })();\n  if (host) s = s.replace(new RegExp(`\\\\s*[-|—|\\\\|]\\\\s*${host.replace(/\\./g,'\\\\.')}$`,'i'), '');\n  s = s.replace(/[（(](评论|社评|快讯|图解|直播)[)）]$/,'');\n  s = s.replace(/[“”\"‘’'、，,。.！!？?\\[\\]【】<>（）()：:;；]/g,' ')\n       .replace(/\\s+/g,' ')\n       .trim();\n  return s;\n}\n\n// ---------- 读取 ScoreSelect 输出 ----------\nconst ssItem = safeItems('ScoreSelect')[0]?.json || {};\nconst primaryMeta = ssItem.primary || null;\nconst relatedArr  = Array.isArray(ssItem.related) ? ssItem.related : [];\nconst seenStateIn = ssItem.seenState || { entries: [], sha: null, ttlDays: 35 };\n\n// ---------- 读取抓取分支的实际正文 ----------\nconst branches = [\n  { name: 'ReadPrimary',  meta: primaryMeta,        idx: 0, role: 'primary'     },\n  { name: 'readRelated',  meta: relatedArr[0]||null,idx: 1, role: 'related_0'   },\n  { name: 'readRelated2', meta: relatedArr[1]||null,idx: 2, role: 'related_1'   },\n  { name: 'readRelated3', meta: relatedArr[2]||null,idx: 3, role: 'related_2'   },\n];\n\nlet pickedMeta=null, pickedBody=null, pickedIdx=-1, pickedRole='';\nconst branchDebug = [];\nfor (const b of branches) {\n  const arr  = safeItems(b.name);\n  const body = pickPayload(arr);\n  branchDebug.push({ branch: b.name, hasBody: !!body });\n  if (body && b.meta && b.meta.url) {\n    pickedMeta = b.meta;\n    pickedBody = body;\n    pickedIdx  = b.idx;\n    pickedRole = b.role;\n    break;\n  }\n}\nif (!pickedBody) {\n  throw new Error(JSON.stringify({ msg: 'No article content fetched from any branch.', branchDebug }));\n}\nif (!pickedMeta || !pickedMeta.url) {\n  throw new Error(JSON.stringify({ msg: 'Picked article meta unavailable (check ScoreSelect output vs fetch branches).', pickedIdx, branchDebug }));\n}\n\n// ---------- 组装 selected（优先使用 ScoreSelect 已算好的 key） ----------\nconst urlKey   = pickedMeta._urlKey   || fnv1aHex(normalizeUrl(pickedMeta.url || ''));\nconst titleKey = pickedMeta._titleKey || fnv1aHex(normalizeTitle(pickedMeta.title || '', pickedMeta.url || '').toLowerCase());\nconst titleNorm= pickedMeta._titleNorm|| normalizeTitle(pickedMeta.title || '', pickedMeta.url || '');\nconst normUrl  = pickedMeta._normUrl  || normalizeUrl(pickedMeta.url || '');\n\nconst selected = {\n  ...pickedMeta,\n  selectedIndex: pickedIdx,\n  selectedRole: pickedRole,\n  body: pickedBody,\n  _urlKey: urlKey,\n  _titleKey: titleKey,\n  _titleNorm: titleNorm,\n  _normUrl: normUrl,\n  _hashAlgo: pickedMeta._hashAlgo || 'fnv1a32'\n};\n\n// ---------- 合并 seen.entries 并生成 GitHub PUT body（幂等） ----------\nconst nowISO   = new Date().toISOString();\nconst ttlDays  = Number(seenStateIn.ttlDays || 35);\nconst TTL_MS   = ttlDays * 24 * 3600 * 1000;\nconst nowMs    = Date.now();\n\nconst entries0 = Array.isArray(seenStateIn.entries) ? seenStateIn.entries : [];\nconst pruned   = entries0.filter(r => {\n  const ts = new Date(r.firstSeenAt || 0).getTime();\n  return ts && (nowMs - ts) <= TTL_MS;\n});\n\n// 已存在则不重复追加\nconst existed = pruned.some(r => r.urlKey === urlKey || r.titleKey === titleKey);\nif (!existed) {\n  pruned.push({\n    urlKey,\n    titleKey,\n    titleNorm,\n    url: pickedMeta.url || '',\n    source: pickedMeta.source || '',\n    firstSeenAt: nowISO,\n    algo: 'fnv1a32'\n  });\n}\n\n// 序列化为 base64\nconst contentStr = JSON.stringify(pruned, null, 2);\nconst contentB64 = Buffer.from(contentStr, 'utf8').toString('base64');\n\n// 读 GetSeen 拿 sha（200 有，404 就是 undefined）\nconst gsItem  = $items('GetSeen', 0, 0) || { json: {} };\nconst gsJson  = gsItem[0]?.json || {};\n// 如果 HTTP 节点开启了 “Include response headers and status”，真正数据在 body 里\nconst payload = (gsJson && typeof gsJson.body === 'object') ? gsJson.body : gsJson;\n// 只有 200（文件存在）时才会有 sha；首次创建（404）sha 为 null\nconst sha     = payload ? payload.sha : null;\n\nconst githubPutBody = {\n  message: `chore(seen): +1 ${pickedRole} at ${nowISO}`,\n  content: contentB64\n};\n\nif (sha) githubPutBody.sha = sha;    // 只有真的有 sha 才加\n\n// ---------- 输出：只 1 条 item ----------\nreturn [{\n  json: {\n    selected,\n    githubPutBody,\n    debug: { branchDebug, hadSeen: entries0.length, wroteSha: !!sha, sha:sha}\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        240
      ],
      "id": "0aa7bac9-8e8a-4c0b-a860-70e67af2faf5",
      "name": "PickWinnerAndPrepareSeen"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "https://api.github.com/repos/0xfa1e/wechat-auto-rewriting-article/contents/seen/seen.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  JSON.stringify((() => {\n    const b  = $items('PickWinnerAndPrepareSeen').first().json.githubPutBody || {};\n    const br = $items('SetConfig').first()?.json?.GH_BRANCH;\n    const obj = { message: b.message, content: b.content };\n    if (b.sha) obj.sha = b.sha;       // 只有真的有 sha 才加\n    if (br)    obj.branch = br;       // 有分支才加\n    return obj;\n  })())\n}}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3440,
        240
      ],
      "id": "8ee09957-d221-4de6-893e-423482b895c0",
      "name": "UpsertSeen",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TFfyNvEq8pZUT6H0",
          "name": "github-access"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.github.com/repos/0xfa1e/wechat-auto-rewriting-article/contents/seen/seen.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -560,
        256
      ],
      "id": "e7251131-bfeb-4d6b-9a5f-a5cada6c31ca",
      "name": "GetSeen",
      "credentials": {
        "httpHeaderAuth": {
          "id": "TFfyNvEq8pZUT6H0",
          "name": "github-access"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "SetConfig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetConfig": {
      "main": [
        [
          {
            "node": "NewsFetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewsFetch": {
      "main": [
        [
          {
            "node": "GetSeen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScoreSelect": {
      "main": [
        [
          {
            "node": "ReadPrimary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReadPrimary": {
      "main": [
        [
          {
            "node": "PickWinnerAndPrepareSeen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "readRelated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAICompose": {
      "main": [
        [
          {
            "node": "ParseLLMPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MakeImageJobs": {
      "main": [
        [
          {
            "node": "GenImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenImage": {
      "main": [
        [
          {
            "node": "FinalizeImages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AssembleMD": {
      "main": [
        [
          {
            "node": "PrepareCommit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareCommit": {
      "main": [
        [
          {
            "node": "GitHubPush",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseLLMPayload": {
      "main": [
        [
          {
            "node": "MakeImageJobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FinalizeImages": {
      "main": [
        [
          {
            "node": "AssembleMD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "readRelated": {
      "main": [
        [
          {
            "node": "PickWinnerAndPrepareSeen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "PickWinnerAndPrepareSeen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "PickWinnerAndPrepareSeen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PickWinnerAndPrepareSeen": {
      "main": [
        [
          {
            "node": "OpenAICompose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHubPush": {
      "main": [
        [
          {
            "node": "UpsertSeen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetSeen": {
      "main": [
        [
          {
            "node": "ScoreSelect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d6d878a-59d6-469e-bb8b-3e08b54bce7c",
  "meta": {
    "instanceId": "07d1041ff3917b6fea954efa1ffb533eaee2c99ed393956fa7cc3e8f87f14a09"
  },
  "id": "zVkZc6JeeQjZNHhU",
  "tags": []
}