workflows/01_my_workflows/01_news_wechat/新闻评论改写.json
{
  "name": "新闻评论改写",
  "nodes": [
    {
      "parameters": {},
      "id": "0f6570a8-f175-4ff6-a241-d3573ce51269",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -1328,
        256
      ]
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const CFG = {\n  QUERY: '(AI OR \\'large language model\\' OR LLM OR 生成式) AND (research OR benchmark OR safety OR eval OR regulation)',\n  LANGUAGE: 'en',\n  FROM_DAYS: 7,\n  MAX_ARTICLES: 100,\n  TAKE_TOP: 30,\n  OPENAI_CHAT: 'gpt-4o-mini',\n  OPENAI_IMAGE: 'gpt-image-1',\n  COVER_SIZE: '1024x576',\n  BODY_SIZE: '1024x1024',\n  BRAND: {\n    palette: ['#0F172A','#22D3EE','#A78BFA'],\n    style: 'editorial illustration, semi-flat, clean, minimal, soft lighting',\n    negatives: 'text, watermark, logo, brand, people, realistic faces, hands, busy background'\n  }\n};\nCFG.FROM_ISO = new Date(Date.now() - CFG.FROM_DAYS*24*60*60*1000).toISOString();\nreturn [{json: CFG}];\n"
      },
      "id": "19cfee95-4ee2-4b30-829f-3ea8e88c72a4",
      "name": "SetConfig",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1040,
        256
      ],
      "notesInFlow": true,
      "notes": "ENV: NEWSAPI_KEY, OPENAI_API_KEY, GITHUB_TOKEN, GITHUB_OWNER, GITHUB_REPO, (optional) GITHUB_BRANCH"
    },
    {
      "parameters": {
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$json.QUERY}}"
            },
            {
              "name": "language",
              "value": "={{$json.LANGUAGE || 'en'}}"
            },
            {
              "name": "pageSize",
              "value": "={{ String($json.MAX_ARTICLES || 100) }}"
            },
            {
              "name": "sortBy",
              "value": "relevancy"
            },
            {
              "name": "from",
              "value": "={{$json.FROM_ISO}}"
            }
          ]
        },
        "options": {}
      },
      "id": "87a9ba43-ecc4-4c53-9876-b8f3228a7505",
      "name": "NewsFetch",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -768,
        256
      ],
      "headerParametersUi": {
        "parameter": [
          {
            "name": "X-Api-Key",
            "value": "={{$env.NEWSAPI_KEY}}"
          }
        ]
      },
      "notesInFlow": true,
      "notes": "Query parameters driven by SetConfig to avoid invalid URL"
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const cfgItem = $items('SetConfig', 0, 0) || { json: {} };\nconst cfg = cfgItem.json || {};\nconst takeTop = Number(cfg.TAKE_TOP || 30);\nconst articles = (items[0].json.articles || []).map(a => ({\n  title: a.title, url: a.url, description: a.description || '',\n  content: a.content || '', author: a.author || '',\n  source: (a.source && a.source.name) || '', publishedAt: a.publishedAt || ''\n})).filter(a => a.title && a.url);\nfunction host(u){ \n  try { \n    return new URL(u).hostname.replace(/^www\\./,''); \n  } catch { \n    return ''; \n  } \n}\nfunction hours(iso){ \n  return Math.max(1,(Date.now()-new Date(iso||Date.now()).getTime())/36e5); \n}\nfunction recency(h){ \n  if(h<=24) return 20; \n  if(h<=48) return 14; \n  if(h<=168) return 9; \n  return 3; \n}\nfunction depth(text){ \n  const l=text.length; \n  let s=l>8000?18:l>4000?14:l>1500?10:l>800?7:4;\n  if(/arxiv|doi|github|sec\\./i.test(text)) \n    s+=2; \n  return Math.min(20,s); \n}\nfunction srcScore(hn){ \n  return /arxiv|nature|sciencedirect|reuters|bloomberg|ft|nytimes|semianalysis|alignmentforum|lesswrong|theverge|techcrunch/i.test(hn)?30:18; \n}\nfunction originality(t){ \n  return /exclusive|interview|whitepaper|benchmark|replicate|ablations?/i.test(t)?8:4; }\nfunction author(a){ \n  return a ? (a.includes(' ')?12:8) : 3; \n}\nfunction score(a){\n  const txt = `${a.title}\\n${a.description}\\n${a.content}`;\n  return Math.round(0.35*srcScore(host(a.url)) + 0.20*recency(hours(a.publishedAt)) + 0.20*depth(txt) + 0.10*originality(txt) + 0.15*author(a.author));\n}\n\nconst buckets = new Map();\n\nfor (const a of articles){\n  const key=(a.title||'').toLowerCase().replace(/[^\\w\\s]/g,' ').replace(/\\s+/g,' ').trim();\n  const s=score(a);\n  const j={...a, QualityScore:s, host:host(a.url)};\n  if(!buckets.has(key)) \n    buckets.set(key,[]);\n  buckets.get(key).push(j);\n}\nlet kept=[];\nfor (const [,group] of buckets){ \n  group.sort((x,y)=>y.QualityScore-x.QualityScore); \n  kept.push(group[0]); \n}\n\nkept.sort((a,b)=>b.QualityScore-a.QualityScore);\n\nif (!kept.length) {\n  throw new Error('No NewsAPI candidates returned for current configuration');\n}\nconst takeCount = Math.min(takeTop, kept.length);\nkept = kept.slice(0, takeCount);\nconst primary = kept[0];\nconst related = kept.slice(1, 4);\nreturn [{json:{primary, related, candidates: kept}}];\n"
      },
      "id": "d52bf12f-6dca-4cc3-9b5d-f2f014a95cd1",
      "name": "ScoreSelect",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -512,
        256
      ],
      "notesInFlow": true,
      "notes": "Scoring + de-dup + take top N"
    },
    {
      "parameters": {
        "url": "={{ 'https://r.jina.ai/http://' + $json.primary.url.replace(/^https?:\\/\\//,'') }}",
        "options": {}
      },
      "id": "a8017dd5-63eb-40db-ad17-08805097ce22",
      "name": "ReadPrimary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -240,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ (() => {\n  const cfgItem = $items('SetConfig', 0, 0) || { json: {} };\n  const cfg = cfgItem.json || {};\n  const brand = cfg.BRAND || {};\n  const primary = $json.primary || {};\n  const related = Array.isArray($json.related) ? $json.related : [];\n  const relatedLines = related.length\n    ? related.map(r => `- ${r.title || ''} (${r.url || ''})`).join('\\n')\n    : '- 无参考';\n  const primaryTextItem = $items('ReadPrimary', 0, 0) || { json: '' };\n  const articleTextRaw = primaryTextItem.json;\n  const articleText = typeof articleTextRaw === 'string'\n    ? articleTextRaw\n    : JSON.stringify(articleTextRaw || '');\n  const palette = Array.isArray(brand.palette) ? brand.palette : [];\n  const brandBlock = `BRAND: palette=${JSON.stringify(palette)}, style=${brand.style || ''}, negatives=${brand.negatives || ''}`;\n\n  const systemMessage = `你是分析师与评论员。输出一个 JSON：{markdown, prompts}；\nmarkdown=中文Markdown 1200-1600字，对用户提供的文章进行分析、提炼文章的主要内容和观点，并对其进行分析和评价；要求： \n1、文章结构和总体内容不变。不能泛泛而谈，要有细节，有情绪，有想法；不要随口胡说； \n2、像朋友之间一样，语言需要平等，没有说教感，说话的时候眉飞色舞的感觉； \n3、遣词造句要偏向口语化，偶尔体现一下自己的幽默感，不要太多的书面用语，多用短句，尽量少用长句； \n4、全篇写作要求（最重要，严格遵守）​\n- 禁止使用书面关联用语例如：首先、然后、其次、再者说、总的来说、同时、殊不知、例如、除非、另一方面、否则、相反、因为、所以、近期、近来、与此同时、总而言之、换句话说、特别是、此外、换言之、最后、特别是等等，请使用口语化词汇​\n- 禁止输出任何分隔线、破折号、符号、表格、代码块​\n- 双引号要用「」号代替​- 不允许使用模板化结构。​\n- 不允许重复使用同样的句式结构。​\n- 偶尔可以有一些啰嗦的口头禅，或者不符合语法规范的话，避免太过完美。​\n- 要像人一样说话，不要AI味儿，不要堆砌空话套话，要用口语化描述，避免学术化表达，增加活人感，比较新的名词或缩写要给出解释，让普通用户都能看得懂。\n​- 加入个人情感和温度，不要使用客观、中立的陈述。 \n- 禁止假大空的表达。​\n- 需要有逻辑，能吸引人一直能读下去。 \n- 打乱节奏：短句、长句、插入语混用，有时话没说完先岔开，有时补一句废话。 \n- 减少整齐重复的句式：比如「他……他……」或者「你以为……结果……」不要一口气用两三次。 \n- 用生活化的跳跃思维：偶尔加点没用的感叹、情绪插话，比如「我当时是真没想到」「这事要是换成我」。 \n- 少用完美的逻辑串联：别一环套一环地写，可以像朋友聊天一样有点“跳”。 \n- 多用细节词，不用套话：把「精彩」「节奏快」换成场景感强的描述，比如「看到凌晨两点还舍不得关手机」。 \n- 多加几段小情绪插话，把人味拉满 \n- 混用的、地、得 ，在不影响阅读的情况下，出现少量同音错别字；\n- 输出风格偏口语化\n- 一句话就一个段落，不要长段落；\n- 标记图片插入位：在第一段后插入封面图 <!--IMG_COVER-->；\n  根据文章内容，判断需要插入图片地方（两个图片之间间隔不少于 300 字），然后分别放如下标识： <!--IMG_KP1-->、<!--IMG_KP2-->、<!--IMG_KPn-->。\nprompts=用于生成图片的提示词数组：封面+内容图片提示词（包含构图/隐喻/2-3主色/风格标记，禁止真实人物/商标），生成封面图片的提示词与全文内容匹配，内容图片的提示词需要与上下文匹配，与 markdown 中的图片插入位严格对应，内容中标识了多少个图片插入位，就必须有多少个提示词。风格与色板来自提供的 BRAND。`;\n\n  const userMessage = `主要文章：${primary.title || ''}\\n来源：${primary.source || ''}\\n链接：${primary.url || ''}\\n发布时间：${primary.publishedAt || ''}\\n作者：${primary.author || ''}\\n摘要：${primary.description || ''}\\n\\n正文全文（若缺失请谨慎）：\\n${articleText}\\n\\n相关参考（仅标题与链接）：\\n${relatedLines}\\n\\n${brandBlock}`;\n  return JSON.stringify({\n    model: cfg.OPENAI_CHAT || 'gpt-4o-mini',\n    temperature: 0.4,\n    response_format: { type: 'json_object' },\n    messages: [\n      { role: 'system', content: systemMessage },\n      { role: 'user', content: userMessage }\n    ]\n  });\n})() }}\n",
        "options": {}
      },
      "id": "93eb4a98-ce59-4508-bc64-802dced7d0cd",
      "name": "OpenAICompose",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        16,
        144
      ],
      "headerParametersUi": {
        "parameter": [
          {
            "name": "Authorization",
            "value": "={{'Bearer ' + $env.OPENAI_API_KEY}}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ]
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "Vy2b5M08f6ofHbxg",
          "name": "Bearer-openai"
        }
      }
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const choices = Array.isArray($json.choices) ? $json.choices : [];\nfunction extractText(entry) {\n  if (!entry) return '';\n    const message = entry.message || {};\n  const content = message.content;\n  if (Array.isArray(content)) {\n    return content.map(part => {\n      if (typeof part === 'string') return part;\n      if (part && typeof part.text === 'string') return part.text;\n      if (part && typeof part.value === 'string') return part.value;\n      if (part && typeof part.content === 'string') return part.content;\n      if (part && part.content && typeof part.content.text === 'string') \n        return part.content.text;\n      return '';\n    }).join('');\n  }\n  if (typeof content === 'string') return content;\n    \n  return '';\n}\nconst combined = choices\n  .map(extractText)\n  .filter(Boolean)\n  .join(\"\\\\n\")\n  .trim();\nlet payload = { markdown: '', prompts: [] };\nif (combined) {\n  try {\n    payload = JSON.parse(combined);\n  } catch (error) {\n    const match = combined.match(/\\\\{[\\\\s\\\\S]*\\\\}/);\n    if (match) {\n      try {\n        payload = JSON.parse(match[0]);\n      } catch (innerError) {\n        payload = { markdown: combined, prompts: [] };\n      }\n    } else {\n      payload = { markdown: combined, prompts: [] };\n    }\n  }\n}\nreturn [{ json: { payload, raw: combined } }];"
      },
      "id": "5a3e2f4a-df23-4fd4-82dc-dfdcaa772d6b",
      "name": "ParseLLMPayload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        272,
        144
      ],
      "notesInFlow": true,
      "notes": "Normalize OpenAI content arrays into structured payload"
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const cfgItem = $items('SetConfig', 0, 0) || { json: {} };\nconst cfg = cfgItem.json || {};\nconst payload = $json.payload || {};\nconst prompts = Array.isArray(payload.prompts) ? payload.prompts.filter(p => typeof p === 'string' && p.trim()) : [];\nif (!prompts.length) {\n  throw new Error('LLM response did not provide image prompts');\n}\nconst coverSize = cfg.COVER_SIZE || '1024x576';\nconst bodySize = cfg.BODY_SIZE || '1024x1024';\nconst slots = prompts.slice(0, 4).map((prompt, idx) => ({\n  role: idx === 0 ? 'cover' : `keypoint${idx}`,\n  prompt: prompt.trim(),\n  size: idx === 0 ? coverSize : bodySize\n}));\nreturn slots.map(slot => ({ json: slot }));\n"
      },
      "id": "30c0793a-8fad-46ec-9572-80d85a992b0c",
      "name": "MakeImageJobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        512,
        144
      ],
      "notesInFlow": true,
      "notes": "Create image jobs using parsed payload"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apicore.ai/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gemini-2.5-flash-image"
            },
            {
              "name": "prompt",
              "value": "={{ $json.prompt }}"
            },
            {
              "name": "size",
              "value": "={{ $json.size }}"
            }
          ]
        },
        "options": {}
      },
      "id": "037901cf-83d1-41f3-98d0-dd38b8f08ada",
      "name": "GenImage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        784,
        144
      ],
      "headerParametersUi": {
        "parameter": [
          {
            "name": "Authorization",
            "value": "={{'Bearer ' + $env.OPENAI_API_KEY}}"
          },
          {
            "name": "Content-Type",
            "value": "application/json"
          }
        ]
      },
      "credentials": {
        "httpBearerAuth": {
          "id": "Vy2b5M08f6ofHbxg",
          "name": "Bearer-openai"
        },
        "httpHeaderAuth": {
          "id": "Okq4qyrZhHUT6fqp",
          "name": "书虫API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const payload = $('ParseLLMPayload').first().json.payload;\nconst markdown = payload.markdown || '';\nconst imgs = Array.isArray(items) ? items : [];\n\n// throw new Error(JSON.stringify({ imgsLen: imgs.length, sample: imgs }));\n\nlet output = '';\nlet used = new Array(imgs.length).fill(false);\n// 3) 封面处理：取第一张作为封面，优先替换 <!--IMG_COVER-->，没有就前置\nconst cover = imgs[0]?.json?.url || '';\nif (cover) {\n  const coverRe = /<!--\\s*IMG_COVER\\s*-->/i;\n  if (coverRe.test(markdown)) {\n    output = markdown.replace(coverRe, `![封面](${cover})`);\n  } else {\n    output = `![封面](${cover})\\n\\n` + markdown;\n  }\n}\nused[0] = true;\n\n// 4) 关键点锚点替换：支持 <!--IMG_KP--> 与带编号的 <!--IMG_KP3-->\n//    规则：带编号优先按编号用图（1→bodies[0]），不带编号按顺序消耗下一张未使用的图\nconst kpRe = /<!--\\s*IMG_KP(?:\\s*(\\d+))?\\s*-->/gi;\n\noutput = output.replace(kpRe, (_, numStr) => {\n  let idx = null;\n\n  if (numStr) {\n    // 1-based → 0-based\n    const n = parseInt(numStr, 10);\n    if (!Number.isNaN(n) && n >= 1) idx = n;\n  }\n\n  // 选择图片：\n  // - 指定编号且存在 → 用该张\n  // - 否则 → 找到下一个未使用的\n  let url = null;\n  if (idx !== null && imgs[idx]?.json?.url) {\n    url = imgs[idx]?.json?.url;\n    used[idx] = true;\n  } else {\n    const next = used.findIndex(u => u === false);\n    if (next !== -1 && imgs[next]?.json?.url) {\n      url = imgs[next]?.json?.url;\n      used[next] = true;\n      idx = next;\n    }\n  }\n\n  // 没图可用，就删除占位（返回空串）\n  if (!url) return '';\n\n  const label = `图 ${typeof idx === 'number' ? idx : ''}`.trim();\n  return `![${label}](${url})`;\n});\n\n// 5) 兜底：还有没用上的图片 → 追加到文末\nfor (let i = 1; i < imgs.length; i++) {\n  if (!used[i] && imgs[i]?.json?.url) {\n    output += `\\n\\n![图 ${i + 1}](${imgs[i]?.json?.url})`;\n  }\n}\n\n\n/**\n \nif (imgs.length && imgs.length > 1) {\n  output += '\\n';\n  imgs.slice(1).forEach((it,idx) => {\n    const image = it.json;\n    if (image && image.url) {\n      const label = `图 ${idx + 1}`;\n      output += `\\n![${label}](${image.url})\\n`;\n    }\n  });\n}\n\n */\n\nreturn [{ json: { markdown: output.trim(), _debug: { urlsCount: imgs.length, imgs: imgs, used } } }];\n\n"
      },
      "id": "c015ea2f-9fc3-49d1-b4ef-61ef6d3022e5",
      "name": "AssembleMD",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1344,
        144
      ]
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "function slugify(s){return (s||'ai-commentary').toLowerCase().replace(/[^a-z0-9\\u4e00-\\u9fa5]+/g,'-').replace(/^-+|-+$/g,'').slice(0,60)||'ai';}\nconst assembleItem = $items('AssembleMD',0,0) || { json: {} };\n\n//throw new Error(JSON.stringify({ assembleItem : assembleItem[0].json}));\n\nconst markdown = assembleItem[0].json.markdown || '';\nconst scoreItem = $items('ScoreSelect',0,0) || { json: {} };\n\n//throw new Error(JSON.stringify({ scoreItem : scoreItem[0]}));\n\nconst fallbackTitle = scoreItem[0].primary ? (scoreItem.json.primary.title || 'AI 评论') : 'AI 评论';\nconst titleMatch = markdown.match(/^#\\s*(.+)$/m);\nconst title = titleMatch ? titleMatch[1] : fallbackTitle;\nconst d = new Date(); \nconst yyyy=d.getFullYear(), mm=String(d.getMonth()+1).padStart(2,'0'), dd=String(d.getDate()).padStart(2,'0');\nconst n = String(Math.floor(Math.random()*1000)).padStart(3,'0');\nconst filepath = `${yyyy}-${mm}-${dd}/${n}_${slugify(title)}.md`;\nconst content = Buffer.from(markdown,'utf8').toString('base64');\nconst message = `feat(post): ${yyyy}-${mm}-${dd} ${title}`;\nreturn [{json:{filepath, content, message}}];\n"
      },
      "id": "cf09e2ad-d261-40e8-84da-bbfbfc9059f9",
      "name": "PrepareCommit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1600,
        144
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{'https://api.github.com/repos/0xfa1e/wechat-auto-rewriting-article/contents/' + $json.filepath}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "content",
              "value": "={{ $json.content }}"
            },
            {
              "name": "branch",
              "value": "main"
            }
          ]
        },
        "options": {}
      },
      "id": "71493dc7-77e2-4ee4-8123-7d6d2ae4f184",
      "name": "GitHubPush",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1872,
        144
      ],
      "headerParametersUi": {
        "parameter": [
          {
            "name": "Authorization",
            "value": "={{'Bearer ' + $env.GITHUB_TOKEN}}"
          },
          {
            "name": "Accept",
            "value": "application/vnd.github+json"
          }
        ]
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "TFfyNvEq8pZUT6H0",
          "name": "github-access"
        }
      }
    },
    {
      "parameters": {
        "language": "JavaScript",
        "jsCode": "const imgs = $input.all().map((item) => ({\n  url: item.json.data[0].url\n}));\nreturn imgs\n"
      },
      "id": "b20a0591-2752-453a-a74a-6d53408c063f",
      "name": "FinalizeImages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1072,
        144
      ],
      "notesInFlow": true,
      "notes": "Emit once after image loop completes"
    }
  ],
  "pinData": {},
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "SetConfig",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetConfig": {
      "main": [
        [
          {
            "node": "NewsFetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewsFetch": {
      "main": [
        [
          {
            "node": "ScoreSelect",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ScoreSelect": {
      "main": [
        [
          {
            "node": "ReadPrimary",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenAICompose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ReadPrimary": {
      "main": [
        [
          {
            "node": "OpenAICompose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAICompose": {
      "main": [
        [
          {
            "node": "ParseLLMPayload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MakeImageJobs": {
      "main": [
        [
          {
            "node": "GenImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GenImage": {
      "main": [
        [
          {
            "node": "FinalizeImages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AssembleMD": {
      "main": [
        [
          {
            "node": "PrepareCommit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PrepareCommit": {
      "main": [
        [
          {
            "node": "GitHubPush",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ParseLLMPayload": {
      "main": [
        [
          {
            "node": "MakeImageJobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FinalizeImages": {
      "main": [
        [
          {
            "node": "AssembleMD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f6f406da-ca21-4810-9b6c-c9dbb0aefecc",
  "meta": {
    "instanceId": "07d1041ff3917b6fea954efa1ffb533eaee2c99ed393956fa7cc3e8f87f14a09"
  },
  "id": "zVkZc6JeeQjZNHhU",
  "tags": []
}